{% extends "admin_layout.html" %}

{% block header %} 
Clients
{% endblock header %}
{% block content %}

<div class="col d-flex justify-content-center">
    <div class="input-group" style="max-width: 400px;">
        <input type="text" class="form-control" placeholder="Search Client">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
</div>
<br>
<table class="table table-striped">
    <thead class="bg-secondary text-white">
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Industry</td>
            <td>Area of Operation</td>
            <td>Contact Person</td>
            <td></td>
        </tr>
        <tbody>
            <tr>
                <td>1</td>
                <td>Kohl Cosmetics</td>
                <td>Manufacturing</td>
                <td>Consumer Goods</td>
                <td>Robert Williams</td>
               
                <td> <a href="/administration/view_client"><i class="fas fa-edit benchmark-eye" ></i></a></i></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wikk Trucks</td>
                <td>Manufacturing</td>
                <td>Automobile</td>
                <td>Mark Hart</td>
                <td> <a href="/administration/view_client"><i class="fas fa-edit benchmark-eye" ></i></a></i></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Hash Savings and Loans</td>
                <td>Financial Services</td>
                <td>Savings and Loans</td>
                <td>Harry Twum</td>
                <td> <a href="/administration/view_client"><i class="fas fa-edit benchmark-eye" ></i></a></i></td>  
            </tr>
        </tbody>
    </thead>
</table>
<br>


{% endblock content %}