{% extends "admin_layout.html" %}

{% block header %} 
Edit Survey
{% endblock header %}

{% block content %}
<div class="container p-4">
    <div class="row p-4">
        <div class="col-12">
            
         
                <div class="row ">
                    <div class="col-12">
                      <ul class="progress-indicator">
                        <li class="survey_card ">
                            <span class="bubble"></span>
                            Survey Details. <br><small class="survey_status"></small>
                        </li>
                        <li class=" benchmark_card ">
                            <span class="bubble"></span>
                            Add Benchmark Jobs. <br><small class="benchmark_status"></small>
                        </li>
                        <li class="comparator_card">
                            <span class="bubble"></span>
                            Assign Comparators. <br><small class="comparator_status"></small>
                        </li>
                    
                        
                    </ul>
                    </div>
                  </div>

                  <br/>
                  <br/>
                <div class="row  survey">
                    <div class="col-12">
                        <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="td">Survey Name:</label>
                            <input type="text" class="form-control" id="survey_name" name="Survey Name">
                          </div>

                    </div>
                  
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="usr">Client:</label>
                            <input type="text" class="form-control" id="client" name="Client">
                          </div>

                    </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <label class="td">Industry:</label>
                        <input type="text" class="form-control" id="status" name="Industry" readonly>

                      </div>

                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="td">Area of Operation</label>
                            <input type="text" class="form-control" id="area_of_operation" name="Area of Operation" readonly>
                          </div>

                    </div>
                    
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="usr">Start Date:</label>
                            <input type="date" class="form-control" id="start_date" name="Start Date">
                          </div>

                    </div>
                    
                   
                  
                  <div class="col-12 ">
                      <div class="row">
                        <div class="col-6">
                          <a href="{{ url_for('users.admin_surveys')}}" class="btn btn-outline-danger">Cancel</a>
                        </div>
                          <div class="col-6 text-right">
                            <span class=" btn btn-outline-info" id="survey" onclick="switchView(this.id)">Next</span>

                          </div>
                      </div>
                   
                </div>
                </div>
            </div>
                  
                </div>


                <!-- this begins the selection of benchmark job titles -->
<div class=" benchmark" style="display:none">
  <div class="col text-right">
    <span class="btn btn-outline-secondary" data-toggle="modal" data-target="#upload_jobs">Upload Jobs</span>
    <br><br>
  </div>
<div class="row">
    <div class="col-lg-6 col-md-12">
     <table class="table">
        <thead class="bg-secondary text-white">
          <tr>
            <div class="input-group" >
              <input type="text" name="Job Title" 
              class="form-control" placeholder="Search Job">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </tr>
          <tr>
            <td>Job Title</td>
            <td>Industry</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Procurement Manager</td>
            <td>Banking</td>
            <td><i class="fas fa-eye benchmark-eye" data-toggle="modal" data-target="#job_detail" ></i></td>
          </tr>
          <tr>
            <td>Sales Executive</td>
            <td>Manufacturing</td>
            <td><i class="fas fa-eye benchmark-eye" data-toggle="modal" data-target="#job_detail" ></i></td>
          </tr>
          <tr>
            <td>Marketing Officer</td>
            <td>Oil and Gas</td>
            <td><i class="fas fa-eye benchmark-eye" data-toggle="modal" data-target="#job_detail" ></i></td>
          </tr>
        </tbody>
      </table>
      <br/>
    </div>

    <div class="col-lg-6 col-md-12">
      <div class="list-group">
        <span class="list-group-item list-group-item-action  bg-secondary text-white">
          Selected Benchmark Jobs
        </span>
        <ul class="list-group" id="selected_benchmark">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            HR Officer
            <i class="fas fa-trash benchmark-trash"></i>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Assistant IT Manager
            <i class="fas fa-trash benchmark-trash"></i>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Operations Director
            <i class="fas fa-trash benchmark-trash"></i>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Internal Auditor
            <i class="fas fa-trash benchmark-trash"></i>
          </li>
        </ul>
      </div>
    </div>
</div>

    <div class="col-12 ">
        <br/>
        <div class="row">
            <div class="col-6">
              <a href="{{ url_for('users.admin_surveys')}}" class="btn btn-outline-danger">Cancel</a>
            </div>
            <div class="col-6" style="text-align: right;">
              <span class="benchmark btn btn-outline-info"  id="benchmark" onclick="switchBack(this.id)">Back</span>

                <span class="benchmark btn btn-outline-info"  id="benchmark" onclick="switchView(this.id)">Next</span>
            </div>
        </div>
     
  </div>

  
  
    
  </div>
  <!-- end of selection of benchmark job titles -->
  <!-- this begins the assignment of comparators -->
<div class=" comparator" style="display:none">
  
  <div class="row">
    <div class="col-lg-6 col-md-12">
     
      <table class="table">
        <thead class="bg-secondary text-white">
          <tr>
            <div class="input-group" >
              <input type="text" name="Selected Comparator" class="form-control" placeholder="Search Comparator">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </tr>
          <tr>
            <td>Comparator Name</td>
            <td>Industry</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>XYZ Bank</td>
            <td>Banking</td>
            <td><i class="fas fa-plus benchmark-eye" rel="tooltip" title="Add Comparator"></i></td>
          </tr>
          <tr>
            <td>JKL Textiles</td>
            <td>Manufacturing</td>
            <td><i class="fas fa-plus benchmark-eye" rel="tooltip" title="Add Comparator"></i></td>
          </tr>
          <tr>
            <td>MNO Energy</td>
            <td>Oil and Gas</td>
            <td><i class="fas fa-plus benchmark-eye"  rel="tooltip" title="Add Comparator"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6 col-md-12">
      
      <div class="list-group">
        <span class="list-group-item list-group-item-action  bg-secondary text-white">
          Selected Comparators
        </span>
        <ul class="list-group" id="selected_comparators">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            RST Bank
            <i class="fas fa-trash benchmark-trash"></i>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            JilKs Bank
            <i class="fas fa-trash benchmark-trash"></i>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
           EFG Bank
            <i class="fas fa-trash benchmark-trash"></i>
          </li>
  
        </ul>
      </div>
    </div>
  </div>
    <div class="col-12 ">
        <br/>
        <div class="row">
            <div class="col-6 ">
              <a href="{{ url_for('users.admin_surveys')}}" class="btn btn-outline-danger">Cancel</a>
                
            </div>
            <div class="col-6" style="text-align: right;">
              <span class="comparator btn btn-outline-info"  id="comparator" onclick="switchBack(this.id)">Back</span>
                <span  class="sub btn btn-info"data-toggle="modal" data-target="#review_survey_modal" id="review_survey_btn"  >Review</span>
            </div>
        </div>
     
  </div>
  </div>
<!-- <div class="col text-center pt-4">
    <a href="{{ url_for('users.admin_surveys')}}" class="btn btn-outline-danger">Cancel</a>
</div> -->
        </div>

    </div>
</div>




<style>

</style>

  <!-- Modal to display details of a job -->
  <div class="modal fade " id="job_detail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Finance Manager</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>
                <b>Job Title</b>
                <br>
                Finance Manager
            </p>
            <p>
                <b>Job Grade</b>
                <br>
                 Manager
            </p>
            <p>
                <b>Reporting Relationship</b>
                <br>
                Finance Director
            </p>
            <p>
                <b>Generic Job Description</b>
                <br>
                To manage financial accounting and reporting systems for the company
            </p>
            <p>
                <b>Key Duties & Responsibilities</b>
                <br>
                	<ul>
                    
                      <li>
                        Ensure that staff capture all data onto Insurance Pro Software on a daily basis and generate report.
                      </li>
                      <li>
                        Prepare annual departmental plan and budget for the company
                      </li>
                      
                      <li>
                        Build tactical business relationships with clients and maintain them
                      </li>
                      <li>
                        Coordinate revenue collection by the credit team and submit reports
                      </li>
                      
                      <li>
                        Supervise payroll functions
                      </li>
                  </ul>

            </p>
            <p>
                <b>Financial Responsibilities</b>
                <br>
                <ul>
                  <li>
                    Prepare financial management reports for management’s decision making
                  </li>
                  <li>
                    Formulate financial strategies, policies, procedures and action plans to achieve maximum growth and profitability of the company
                  </li>
                  <li>
                    Supervise preparation of statutory financial reports
                  </li>
                    <li>
                      Supervise and implement financial policies and procedures
                    </li>
                </ul>
            </p>
            <p>
                <b>Technical Qualifications</b>
                <br>
                <ul>
                  <li>
                    Knowledge in financial accounting
                  </li>
                  <li>
                    Ability to prepare and interpret balance sheet, income statements, cash flow statements etc
                  </li>
                  <li>
                    Knowledge in Computer
                  </li>

                </ul>
            </p>
            <p>
                <b>Minimum Years of Experience</b>
                <br>
              N/A
            </p>
            <br>

        </div>
        <div class="modal-footer">
         
          <button class="btn btn-outline-success" id="add_benchmark" data-dismiss="modal">Add</button>
          
        </div>
      </div>
    </div>
  </div>

    <!-- The Modal -->
    <div class="modal " id="review_survey_modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Review Survey</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <b>Survey Name: </b> <span id="review_survey_name"></span>
              </div>
              <div class="col-lg-6 col-md-12">
                <b>Client: </b> <span id="review_client_name"></span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <b>Industry: </b> <span id="review_industry"></span>
              </div>
              <div class="col-lg-6 col-md-12">
                <b>Area of Operation: </b><span id="review_area_of_operation"></span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <b>Start Date: </b><span id="review_start_date"></span>
              </div>
             
            </div>
            <hr>
            <div class="row mb-2">
              <div class="col-lg-6 col-md-12">
                <b>Benchmark Jobs</b><br>
                <ul id="review_benchmark_jobs">
           
                </ul>
                
              </div>
              <div class="col-lg-6 col-md-12">
                <b>Comparators</b><br>
                <ul id="review_comparators">
           
                </ul>
                
              </div>
             
            </div>

          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <span  class="text-center sub btn btn-info" style="width: 120px;">Save</span>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>

  
    
    <div class="modal fade" id="upload_jobs" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Upload Benchmark Job</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p>Please upload your benchmark jobs file</p>
            <p>file must be in .csv format</p>
            <i class="fas fa-upload upload-icon" ></i>
            <br>
            <br>
            <button class="btn btn-sm btn-outline-success">Douwnload Template</button>
            <button class="btn btn-sm btn-success" id="upload_jobs_btn">Choose File</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-sm" >Submit</button>
          </div>
        </div>
      </div>
    </div>
    <input type="file" name="upload_jobs_file" id="upload_jobs_file" hidden>


<script>
$("ul").on("click", "svg", function(e) {
  
    e.preventDefault();
    $(this).parent().remove();
});
$("#add_benchmark").click(function(){
        $("#selected_benchmark").append(`<li class="list-group-item d-flex justify-content-between align-items-center">
          Finance Manager
          <i class="fas fa-trash benchmark-trash"></i>
        </li>`);
      
    });
  $("#review_survey_btn").click(function(){
    
    $("#review_survey_name").html($("#survey_name").val())
    $("#review_client_name").html($("#client").val())
    $("#review_industry").html($("#industry").val())
    $("#review_area_of_operation").html($("#area_of_operation").val())
    $("#review_start_date").html($("#start_date").val())
    //append selected benchmark jobs to modal
    var selected_jobs = $('#selected_benchmark').children('li');
    selected_jobs.each(function(){
      var item = $(this)[0].firstChild     
     $('#review_benchmark_jobs').append('<li>'+item.nodeValue+'</li>');
    })
    //Append selected comparators to modal
    var selected_comparators = $('#selected_comparators').children('li');
    selected_comparators.each(function(){
      var item = $(this)[0].firstChild     
     $('#review_comparators').append('<li>'+item.nodeValue+'</li>');
    })
      
    
    
    
  })
</script>

<script>
    function switchView(id){
      $(window).scrollTop(0);
        if(id == 'survey'){
    $('.survey_status').html("(completed)")
    $( ".survey_card" ).removeClass( "active" );
    $( ".survey_card" ).addClass( "completed" );
    $( ".benchmark_card" ).addClass( "active" );
    $('.benchmark_status').html("(active)")
     $(".survey").css("display", "none");
    $(".benchmark").css("display", "");

   
    
      
 
  }
  if(id == 'benchmark'){
    $('.benchmark_status').html("(completed)")
    $( ".benchmark_card" ).removeClass( "active" );
    $( ".benchmark_card" ).addClass( "completed" );
    $( ".comparator_card" ).addClass( "active" );
    $('.comparator_status').html("(active)")
     $(".benchmark").css("display", "none");
    $(".comparator").css("display", "");
    $(".sub").css("display", "");

 
  }
    }
</script>

<script>
    function switchBack(id){
      $(window).scrollTop(0);
        if(id == 'benchmark'){
    $('.benchmark_status').html("")
    $( ".benchmark_card" ).removeClass( "active" );
    $( ".survey_card" ).removeClass( "completed" );
    $( ".survey_card" ).addClass( "active" );
 
    $('.survey_status').html("(active)")
     $(".benchmark").css("display", "none");
    $(".survey").css("display", "");
    
      
 
  }
  if(id == 'comparator'){
    $('.comparator_status').html("")
    $( ".comparator_card" ).removeClass( "active" );
    $( ".benchmark_card" ).removeClass( "completed" );
    $( ".benchmark_card" ).addClass( "active" );
 
    $('.benchmark_status').html("(active)")
     $(".comparator").css("display", "none");
    $(".benchmark").css("display", "");
    $(".sub").css("display", "none");
    
      
 
  }
    }
</script>
{% endblock content %}