{% extends "layout.html" %}

{% block content %}
<div class="container p-4">
    <div class="row p-4">
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    <h1><b>Comparators</b></h1>
                </div>
                

            </div>
            <hr/>
            <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                      <b>Survey Name : </b> Nissan Motors Salary Survey 2020
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-borderless">
                           
                            <tbody>
                                <thead>
                                    <th>Comparator </th>
                                    <th>Comparator Name</th>
                                    <th>Comparator ID</th>
                                    <th>Is survey owner?</th>
                                    <th>Industry</th>
                                    <th>Area of Operation</th>
                                </thead>
                              <tr>
                                <td>Comparator A</td>
                                <td>John Osu</td>
                                <td>A</td>
                                <td>  No</td>
                                <td>  Banking</td>
                                <td>  Area 5</td>
                              </tr>
                              <tr>
                                <td>Comparator A</td>
                                <td>John Osu</td>
                                <td>A</td>
                                <td>  No</td>
                                <td>  Banking</td>
                                <td>  Area 5</td>
                              </tr>
                              <tr>
                                <td>Comparator A</td>
                                <td>John Osu</td>
                                <td>A</td>
                                <td>  No</td>
                                <td>  Banking</td>
                                <td>  Area 5</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        <b>Survey Name : </b> CCJiiters Salary Survey 2020
                  </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-borderless">
                           
                            <tbody>
                                <thead>
                                    <th>Comparator </th>
                                    <th>Comparator Name</th>
                                    <th>Comparator ID</th>
                                    <th>Is survey owner?</th>
                                    <th>Industry</th>
                                    <th>Area of Operation</th>
                                </thead>
                              <tr>
                                <td>Comparator A</td>
                                <td>John Osu</td>
                                <td>A</td>
                                <td>  No</td>
                                <td>  Banking</td>
                                <td>  Area 5</td>
                              </tr>
                              <tr>
                                <td>Comparator A</td>
                                <td>John Osu</td>
                                <td>A</td>
                                <td>  No</td>
                                <td>  Banking</td>
                                <td>  Area 5</td>
                              </tr>
                              <tr>
                                <td>Comparator A</td>
                                <td>John Osu</td>
                                <td>A</td>
                                <td>  No</td>
                                <td>  Banking</td>
                                <td>  Area 5</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        <b>Survey Name : </b> Cynergy Investments Salary Survey 2017
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-borderless">
                           
                            <tbody>
                                <thead>
                                    <th>Comparator </th>
                                    <th>Comparator Name</th>
                                    <th>Comparator ID</th>
                                    <th>Is survey owner?</th>
                                    <th>Industry</th>
                                    <th>Area of Operation</th>
                                </thead>
                              <tr>
                                <td>Comparator A</td>
                                <td>John Osu</td>
                                <td>A</td>
                                <td>  No</td>
                                <td>  Banking</td>
                                <td>  Area 5</td>
                              </tr>
                              <tr>
                                <td>Comparator A</td>
                                <td>John Osu</td>
                                <td>A</td>
                                <td>  No</td>
                                <td>  Banking</td>
                                <td>  Area 5</td>
                              </tr>
                              <tr>
                                <td>Comparator A</td>
                                <td>John Osu</td>
                                <td>A</td>
                                <td>  No</td>
                                <td>  Banking</td>
                                <td>  Area 5</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
        </div>
{% endblock content %}