{% extends "layout.html" %}

{% block header %} 
Contact Us
{% endblock header %}

{% block content %}
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="firstname" class="label">Title</label>
                            <input type="text" name="firstname" id="firstname" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="form-group">
                            <label for="firstname" class="label">First Name</label>
                            <input type="text" name="firstname" id="firstname" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="form-group">
                            <label for="firstname" class="label">Last Name</label>
                            <input type="text" name="firstname" id="firstname" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="email" class="label">Email</label>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="mobile_number" class="label">Company Name</label>
                            <input type="text" name="mobile_number" id="mobile_number" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="mobile_number" class="label">Job title/Position</label>
                            <input type="text" name="mobile_number" id="mobile_number" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="mobile_number" class="label">Mobile Number</label>
                            <input type="text" name="mobile_number" id="mobile_number" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="organisation" class="label"><b>*</b>Address 1</label>
                            <input type="text" name="organisation" id="organisation" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="job_title" class="label">Address 2</label>
                            <input type="text" name="job_title" id="job_title" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="job_title" class="label">City/Town</label>
                            <input type="text" name="job_title" id="job_title" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="job_title" class="label">Country/Location</label>
                            <input type="text" name="job_title" id="job_title" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br/>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                          <br/>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" value=""> I have read and accept the <a href="#">Privacy Statement</a> and <a href="#">Terms of Use</a>. 
                                </label>
                              </div>
                        </div>
                    </div>
                </div>

              
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
            {% endblock content %}

