{% extends "admin_layout.html" %}

{% block header %} 
Sectors
{% endblock header %}
{% block content %}

<table class="table table-hover">
  <thead class="bg-secondary text-white">
      <td>Industry</td>
      <td>Sector</td>
      <td></td>
  </thead>
  <tbody>
      <tr>
          <td>Banking</td>
          <td>Private</td>
          <td><i class="fas fa-eye"></i></td>
      </tr>
      <tr>
          <td>Manufacturing</td>
          <td>Public</td>
          <td><i class="fas fa-eye"></i></td>
      </tr>
  </tbody>
</table>
<div class="row justify-content-center">
  <button class="btn btn-info" data-toggle="modal" data-target="#industry" >New Industry</button>
</div>


<!-- Modal for creating new Industry -->
<div class="modal fade " id="industry" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Industry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <form method="POST" action="" class="col-12">
              {{ form.hidden_tag() }}
             
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
            
                        {% if form.name.errors %}
                        {{ form.name(class="form-control  is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                            <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.name(class="form-control ") }}
                        {% endif %}
            
                        
                    </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                          {{ form.sector.label(class="form-control-label") }}
              
                          {% if form.sector.errors %}
                          {{ form.sector(class="form-control form-control is-invalid")}}
                          <div class="invalid-feedback">
                              {% for error in form.sector.errors %}
                              <span> {{ error}}</span>
                              {% endfor %}
                          </div>
                          {% else %}
                          {{ form.sector(class="form-control form-control") }}
                          {% endif %}
              
                          
                      </div>
                      </div>
                    </div>
                  </div>
               
            
                  </form>
              </div>
      <div class="modal-footer">
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </div>
  </div>
</div>




{% endblock content %}