{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row p-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row pt-4">
                                <div class="col-12 " >
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="container">
                               
                                        <ul class="progress-indicator">
                                            <li class="basic_card ">
                                                <span class="bubble"></span>
                                                Base Salary. <br><small class="basic_status"></small>
                                            </li>
                                            <li class=" bonus_card ">
                                                <span class="bubble"></span>
                                                Bonus. <br><small class="bonus_status"></small>
                                            </li>
                                            <li class="benefit_card">
                                                <span class="bubble"></span>
                                                Benefit. <br><small class="benefit_status"></small>
                                            </li>
                                            
                                            
                                        </ul>
                                       
                                
                                       
                                       
                                
                                       
                                        
                                        
                                        
                                
                                        
                                        </div>
                                    </div>
                                     
                        
                        
                        
                                 
                        
                        
                        
                        
                        
                                    
                                  </div>
                                 
                               
                              </div>
                            </div>
                            <div class="row pt-4 pb-4">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body p-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row general_a" >
                                                        <div class="col-6">
                                                            <div class="card general_contact">
                                                                <div class="card-body text-center">
                                                                    <b>Contact Overview</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="card general_organization">
                                                                <div class="card-body text-center">
                                                                    <b>Organization Overview</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    
                                                    </div>
                                                    <div class="row pt-4 pb-4">
                                                        <div class="col-12">
                                                            <div class="card">
                                                                <div class="card=body p-4">
                                                                    <form action="/action_page.php">
                                                                        <div class="row general_information">
                                                                            <div class="col-12">
                                                                                <div class="row general_contact_view">
                                                                                        <div class="col-12 ">
                                                                                            <span class="btn btn-outline-info" id="add_question">Add Question</span>
                                                                                        </div>
                                                                                         <div class="col-12">
                                                                                             <br/>
                                                                                <div class="form-group">
                                                                                    <label for="usr">Organization:</label>
                                                                                    <input type="text" class="form-control" id="usr" name="username">
                                                                                  </div>
    
                                                                            </div>
                                                                            
                                                                                <div class="col-12">
                                                                                    <div class="card">
                                                                                        <div class="card-body">
                                                                                            <div class="row">
                                                                                            <div class="col-9">
                                                                                                <div class="form-group">
                                                                                                    <label for="usr">Name:</label>
                                                                                                    <input type="text" class="form-control" id="usr" name="username">
                                                                                                  </div>
                    
                                                                                            </div>
    
                                                                                            <div class="col-3">
                                                                                                <div class="form-group">
                                                                                                    <label for="usr">Title:</label>
                                                                                                    <input type="text" class="form-control" id="usr" name="username">
                                                                                                  </div>
                    
                                                                                            </div>
    
                                                                                            <div class="col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="usr">Address:</label>
                                                                                                    <input type="text" class="form-control" id="usr" name="username">
                                                                                                  </div>
                    
                                                                                            </div>
    
                                                                                            <div class="col-4">
                                                                                                <div class="form-group">
                                                                                                    <label for="usr"> Phone:</label>
                                                                                                    <input type="text" class="form-control" id="usr" name="username">
                                                                                                  </div>
                    
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                <div class="form-group">
                                                                                                    <label for="usr">Email:</label>
                                                                                                    <input type="text" class="form-control" id="usr" name="username">
                                                                                                  </div>
                    
                                                                                            </div>
                                                                                            <div class="col-4">
                                                                                                <div class="form-group">
                                                                                                    <label for="usr">Date Completed:</label>
                                                                                                    <input type="text" class="form-control" id="usr" name="username">
                                                                                                  </div>
                    
                                                                                            </div>
                                                                                            <div class="col-12" id="questions">

                                                                                            </div>
                                                                                            <div class="col-12">
                                                                                                <span id="general_information" class="btn btn-outline-info" onclick="switchView(this.id)">Next</span>
                                                                                            </div>
                                                                                        </div>

                                                                                        
                                                                                        
    
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            
                                                                           
                                                                               
                                                                           
                                                                            </div>
    
    
    
                                                                            <div class="row general_organization_view" style="display:none">
                                                                                <div class="col-12">
                                                                                    <div class="row">
                                                                                <div class="col-12">
                                                                                    <div class="row justify-content-center">
                                                                                        <div class="col-12">
                                                                                            Sector
                                                                                        </div>
                                                                                        <div class="col-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label" for="radio1">
                                                                                                  <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Publicly listed financial
                                                                                                  institution
                                                                                                </label>
                                                                                              </div>
    
                                                                                        </div>
                                                                                        <div class="col-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label" for="radio2">
                                                                                                  <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Publicly listed non-financial
                                                                                                  institution
                                                                                                </label>
                                                                                              </div>
    
                                                                                        </div>
    
                                                                                        <div class="col-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                  <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">Non publicly list financial
                                                                                                  institution
                                                                                                </label>
                                                                                              </div>
                                                                                            
                                                                                        </div>
    
                                                                                        <div class="col-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                  <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4"> Other
                                                                                                  
                                                                                                </label>
                                                                                              </div>
                                                                                            
                                                                                        </div>
                                                                                    
                                                                                      
                                                                                      
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <br/>
                                                                                    <div class="form-group">
                                                                                        <label for="usr">When was your organisation established/incorporated in Ghana?</label>
                                                                                        <input type="text" class="form-control" id="usr" name="username">
                                                                                      </div>
        
                                                                                </div>
                                                                                
    
                                                                                <div class="col-4">
                                                                                    <div class="form-group">
                                                                                        <label for="usr">Registration Number</label>
                                                                                        <input type="text" class="form-control" id="usr" name="username">
                                                                                      </div>
        
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="form-group">
                                                                                        <label for="usr">Area of Operation</label>
                                                                                        <input type="text" class="form-control" id="usr" name="username">
                                                                                      </div>
        
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <div class="form-group">
                                                                                        <label for="usr">Total number of employees</label>
                                                                                        <input type="text" class="form-control" id="usr" name="username">
                                                                                      </div>
        
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <div class="row ">
                                                                                        <div class="col-12">
                                                                                            Employment Type
                                                                                        </div>
                                                                                        <div class="col-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label" for="radio1">
                                                                                                  <input type="radio" class="form-check-input" id="radio11" name="optradio1" value="option11" checked>
                                                                                                  Full time
                                                                                                </label>
                                                                                              </div>
    
                                                                                        </div>
                                                                                        <div class="col-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label" for="radio2">
                                                                                                  <input type="radio" class="form-check-input" id="radio12" name="optradio1" value="option12">Temporary
                                                                                                
                                                                                                </label>
                                                                                              </div>
    
                                                                                        </div>
    
                                                                                        <div class="col-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                  <input type="radio" class="form-check-input" id="radio13" name="optradio1" value="option13">Other
                                                                                                  
                                                                                                </label>
                                                                                              </div>
                                                                                            
                                                                                        </div>
    
                                                                                       
                                                                                    
                                                                                      
                                                                                      
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <br/>
                                                                                    <div class="form-group">
                                                                                        <label for="usr">No. of working hours in a week</label>
                                                                                        <input type="text" class="form-control" id="usr" name="username">
                                                                                      </div>
        
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <div class="form-group">
                                                                                        <label for="usr">Can you describe your overtime policy? Eligibility, Payments, Approvals?</label>
                                                                                        <textarea class="form-control" rows="5" id="comment"></textarea>
                                                                                      </div>
        
                                                                                </div>
    
                                                                                
                                                                                
                                                                                    
                                                                                
                                                                             
                                                                                   <div class="col-12">
                                                                                       <span id="general_organization" class="btn btn-outline-info" onclick="switchView(this.id)">Next ..</span>
                                                                                   </div>
                                                                             
                                                                                </div>
                                                                            </div>
                                                                        </div>
    
    
    
    
    
    
    
    
    
                                                                        </div>
                                                                        </div>
                                                                        
                                                                       
                                                                        
                                                                      </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
    
    
    
                            
    
    
    
    
    
                            
    
    
    
    
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



   

   

    
    
    
    
    
    
    
    
    <script>
        $("#add_question").click(function(){
            console.log($('.question_list').length+1);
            var question_count = $('.question_list').length+1;
            $("#questions").append('<div class="survey_question" id="question_'+question_count+'"><div class="question_list input-group mt-3 mb-3"><input id="input_'+question_count+'"type="text" class="form-control " placeholder="Enter question..."><div class="input-group-prepend"><button type="button" class="btn btn-outline-secondary dropdown-toggle justify-content-center" data-toggle="dropdown"><span id="qt_'+question_count+'">Question Type</span></button><div class="dropdown-menu"><span id="t_'+question_count+'" onclick="question_type(this.id)" class="dropdown-item text-center justify-content-center" >Text</span><span id="mc_'+question_count+'" onclick="question_type(this.id)" class="dropdown-item text-center justify-content-center" >Multiple Choice</span></div></div><button id="button_'+question_count+'" type="button" onclick="remove_question(this.id)" class="btn btn-danger">x</button></div></div>');
    });
    </script>
    <script>
        function remove_question(id){
            
            var divv = id.substr(7)
            $("#question_"+divv).remove();
        }
    </script>
    
    <script>
        function question_type(id){
            var before_character = id.split('_')[0];
            var after_character=id.split('_')[1];
          
            if(before_character == 't'){
                var mc_count = $('.mc'+after_character).length+1;
               
                if(mc_count > 0){
                    $('#question_' + after_character+' .option_count').remove();
                }
                $("#qt_"+after_character).html('Text'); 
            }
            else{
                var mc_count = $('.question_list').length+1;
                if(mc_count > 0){
    
                }
                $("#qt_"+after_character).html('Multiple Choice'); 
                $("#question_"+after_character).append('<div class="container mc'+after_character+' option_count"><div class="row"><div class="input-group mb-3"><div class="input-group-prepend"><span class="input-group-text">Option</span></div><input type="text" class="form-control option_'+after_character+'" placeholder="Username"><span class="material-icons" id="add_option_'+(parseInt(after_character))+'" onclick="add_option(this.id)">add_circle_outline</span></div></div></div>')
                
            }
        }
    </script>
    
    <script>
        function add_option(id){
            var after_special_character=id.split('_')[2];
            var option_count = $('#question_' + after_special_character+' .option_count').length+1;
       
            $("#question_"+after_special_character).append('<div class="container option_count mc'+after_special_character+'_'+option_count+'"><div class="row"><div class="input-group mb-3"><div class="input-group-prepend"><span class="input-group-text">Option</span></div><input type="text" class="form-control" placeholder="Username"></div><span class="material-icons" id="add_option_'+(parseInt(after_special_character))+'" onclick="add_option(this.id)">add_circle_outline</span></div></div>')
        }
    </script>
    <script>
        function switchView(id){
            if(id == "general_information"){
                $('.general_contact_view').css("display","none")
                $('.general_organization_view').css("display","block")
                $('.general_organization').css("background-color","blue")
            }
    
        }
    </script>
    

{% endblock content %}