{% extends "layout.html" %}

{% block content %}
<div class="container p-4">
    <div class="row p-4">
        <div class="col-12">
            <br>
            <form action="/action_page.php">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="usr">Survey Code:</label>
                            <input type="text" class="form-control" id="usr" name="username">
                          </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="usr">Fiscal Year:</label>
                            <input type="text" class="form-control" id="usr" name="username">
                          </div>

                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="usr">Survey Name:</label>
                            <input type="text" class="form-control" id="usr" name="username">
                          </div>

                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="usr">Client Full Name:</label>
                            <input type="text" class="form-control" id="usr" name="username">
                          </div>

                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="usr">Client Short Name:</label>
                            <input type="text" class="form-control" id="usr" name="username">
                          </div>

                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="sel1">Industry:</label>
                            <select class="form-control" id="sel1">
                              <option>1</option>
                              <option>2</option>
                              
                            </select>
                          </div>

                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="sel1">Area of Operation:</label>
                            <select class="form-control" id="sel1">
                              <option>1</option>
                              <option>2</option>
                            
                            </select>
                          </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="usr">Start Date:</label>
                            <input type="text" class="form-control" id="usr" name="username">
                          </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="usr">End Date:</label>
                            <input type="text" class="form-control" id="usr" name="username">
                          </div>

                    </div>
                </div>
               
               
                <button type="submit" class="btn btn-primary">Create</button>
              </form>
        </div>

    </div>
</div>
{% endblock content %}