{% extends "new_admin_layout.html" %}

{% block content %}
<style>
  #hero {
    width: 100%;
    height: 15vh;
    background: url("../static/img/home.jpg") top center;
    background-size: cover;
    position: relative;
  }

  #hero:before {
    content: "";
    background: rgba(20, 44, 9, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero .container {
    text-align: center;
    padding-top: 50px;
  }

  @media (max-width: 992px) {
    #hero .container {
      padding-top: 0;
    }
  }

  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  #hero h2 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 22px;
  }

  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid #ffc107;
    color: #fff;
  }

  #hero .btn-get-started:hover {
    background: #ffc107;
  }

  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }

    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  #searchbar {
    height: 60px;
    text-align: right;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #search_user {
    border-radius: 10px;
    outline: 0;
    width: 450px;
    line-height: 30px;
    padding: 0 10px;
  }

  #search_icon {
    color: white;
    margin-left: 5px;
  }

  #new-user-button {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
  }

  #page-number-info {
    font-size: smaller;
    font-style: italic;
  }
</style>

<!--Header-->
<div class="row">
  <div class="col-12">
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container position-relative">
        <h2><b style="font-size: 40px;">Industries</b></h2>
      </div>
    </section>
  </div>
</div>

<!--Body-->
<div class="row p-5 justify-content-center">
  <div class="col-12">
    <table class="table">
      <thead style="background-color: rgb(78, 110, 62);" id="main-header">
        <th colspan="5" id="searchbar">
          <input type="search" id="search_user" placeholder="Search Industries...">
          <a href="#"><i class="fas fa-search" id="search_icon" onclick="search_industries()"></i></a>
        </th>
      </thead>

      <table class="table table-hover">
        <thead>
          <th>Industry</th>
          <th colspan="3">Sector</th>
        </thead>
        <tbody id="industries_list">
          {% for industry in Industries %}
          <tr>
            <td>{{industry.industry}}</td>
            <td>{{industry.business_sector.sector}}</td>
            <td>
              <span data-id="{{industry.id}}" onclick="editIndustry(this)"><i class="fas fa-edit"></i></span>
            </td>
            <td> <span data-id="{{industry.id}}" onclick="deleteIndustry(this)"><i class="fas fa-trash"></i></span>
            </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </table>
  </div>
</div>

<!--New Industry Button-->
<div class="row justify-content-center" id="new-user-button">
  <div class="col">
    <button class="btn btn-outline-success" data-toggle="modal" data-target="#industry" onclick="newIndustry()">New
      Industry</button>
  </div>
</div>

<!-- Modal for Updating Industry -->
<div class="modal fade " id="update_industry" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Industry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form method="POST" action="" class="col-12" onsubmit="updateIndustry()" id="updateForm">
            {{ form.hidden_tag() }}

            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  {{ form.name.label(class="form-control-label") }}

                  {% if form.name.errors %}
                  {{ form.name(class="form-control is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.name(class="form-control ") }}
                  {% endif %}


                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  {{ form.sector.label(class="form-control-label") }}

                  {% if form.sector.errors %}
                  {{ form.sector(class="form-control form-control is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.sector.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.sector(class="form-control form-control") }}
                  {% endif %}


                </div>
              </div>
            </div>
        </div>



      </div>
      <div class="modal-footer">
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal for creating new Industry -->
<div class="modal fade " id="industry" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Industry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form method="POST" action="" class="col-12">
            {{ form.hidden_tag() }}

            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  {{ form.name.label(class="form-control-label") }}

                  {% if form.name.errors %}
                  {{ form.name(class="form-control is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.name(class="form-control ") }}
                  {% endif %}


                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  {{ form.sector.label(class="form-control-label") }}

                  {% if form.sector.errors %}
                  {{ form.sector(class="form-control form-control is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.sector.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.sector(class="form-control form-control") }}
                  {% endif %}


                </div>
              </div>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- confirmation modal -->
<div class="modal" tabindex="-1" role="dialog" id="delete_industry">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content modal-sm">
      <div class="modal-header bg-danger">
        <span class="text-white">Confirm</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Do you want to delete industry?</span>
      </div>
      <div class="modal-footer">


        <form action="" method="POST" id="deleteForm" onsubmit="confirmDelete()">
          <button type="submit" class="btn btn-sm btn-success">Yes</button>
        </form>
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>


<!--Scripts-->
<script>

  function deleteIndustry(elm) {
    localStorage.setItem('editId', $(elm).attr('data-id'));

    $.ajax({
      url: '/industry/view',
      data: {
        id: $(elm).attr('data-id')
      },
      type: 'POST',
      success: function (res) {
        $('#delete_industry').modal('show')

      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  function confirmDelete() {
    document.getElementById('deleteForm').action = '/industry/' + localStorage.getItem('editId') + '/delete'
  }

  function editIndustry(elm) {

    localStorage.setItem('editId', $(elm).attr('data-id'));

    $.ajax({
      url: '/industry/view',
      data: {
        id: $(elm).attr('data-id')
      },
      type: 'POST',
      success: function (res) {

        $("input[name='name']").val(res[0].industry)
        $("select[name='sector']").val(res[0].sector)
        $('#update_industry').modal('show')
        // console.log(res);
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  function updateIndustry() {
    var id = localStorage.getItem('editId')
    document.getElementById('updateForm').action = '/industry/update/' + id
  }
  function newIndustry() {
    $("input[name='name']").val('')
    $("select[name='sector']").val('')
  }
</script>

{% endblock content %}