
{% extends "new_layout.html" %}


{% block content %}
<style>
    #hero {
width: 100%;
height: 30vh;
background: url("../static/img/home.jpg") top center;
background-size: cover;
position: relative;
}

#hero:before {
content: "";
background: rgba(20, 44, 9, 0.7);
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
}

#hero .container {
text-align: center;
padding-top: 50px;
}

@media (max-width: 992px) {
#hero .container {
  padding-top: 0;
}
}

#hero h1 {
margin: 0;
font-size: 48px;
font-weight: 700;
line-height: 56px;
color: #fff;
}

#hero h2 {
color: #eee;
margin: 15px 0 0 0;
font-size: 22px;
}

#hero .btn-get-started {
font-family: "Raleway", sans-serif;
font-weight: 500;
font-size: 15px;
letter-spacing: 1px;
display: inline-block;
padding: 9px 35px;
border-radius: 50px;
transition: 0.5s;
margin-top: 40px;
border: 2px solid #ffc107;
color: #fff;
}

#hero .btn-get-started:hover {
background: #ffc107;
}

@media (min-width: 1024px) {
#hero {
  background-attachment: fixed;
}
}

@media (max-width: 768px) {
#hero {
  height: 100vh;
}
#hero h1 {
  font-size: 28px;
  line-height: 36px;
}
#hero h2 {
  font-size: 18px;
  line-height: 24px;
}
}
</style>
<div class="row">
    <div class="col-12">
      <section id="hero" class="d-flex align-items-center justify-content-center">
          <div class="container position-relative">
       <h2><b style="font-size: 40px;">Individual Request</b></h2>
          
          </div>
        </section>
    </div>
    
</div>



<div class="row">
  <div class="col-12">
<form method="POST" action="">
  {{ form.hidden_tag() }}


<div class="p-4" style="background-color:rgb(245, 243, 243)">
<div class="row p-4" >
<div class="col-12 p-4">

<div class="card">
  <div class="row p-4">

      <div class="col-6">
          <h3>Individual Request</h3>
         
      </div>
      <div class="col-6 text-center" >
        {% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
        {% for category, message in messages %}
        <div class="container">
        <div class="alert alert-{{ category}}">
            {{message}}
        </div>
      </div>
      
      
        {% endfor %}
      
        {% endif %}
      
      {% endwith %}
      </div>
      <div class="col-12 pl-2 pr-2">
        <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
      </div>
      <div class="col-12">
          <div class="row pt-4">
              <div class="col-6">
                {{ form.firstname.label(class="form-control-label") }}
        
                {% if form.firstname.errors %}
                {{ form.firstname(class="form-control form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.firstname.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.firstname(class="form-control form-control") }}
                {% endif %}
              </div>
              
              
              
              <div class="col-6">
                {{ form.lastname.label(class="form-control-label") }}
        
                {% if form.lastname.errors %}
                {{ form.lastname(class="form-control form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.lastname.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.lastname(class="form-control form-control") }}
                {% endif %}
              </div>
              </div>
              
              
                                  
                    <br/>
                  <div class="row">
                      <div class="col-4">
                        {{ form.other.label(class="form-control-label") }}
        
                        {% if form.other.errors %}
                        {{ form.other(class="form-control form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.other.errors %}
                            <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.other(class="form-control form-control") }}
                        {% endif %}
                      </div>
              
              
                      <div class="col-4">
                        <div class="form-group">
                          {{ form.dob.label(class="form-control-label") }}
      
                          {% if form.dob.errors %}
                          {{ form.dob(class="form-control form-control is-invalid")}}
                          <div class="invalid-feedback">
                              {% for error in form.dob.errors %}
                              <span> {{ error}}</span>
                              {% endfor %}
                          </div>
                          {% else %}
                          {{ form.dob(class="form-control form-control") }}
                          {% endif %}
                                    
                                                </div>
                    </div>


                    <div class="col-4">
                      <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
    
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control form-control") }}
                        {% endif %}
                                  
                                              </div>
                  </div>
                      
                      
                  </div>
              
              
               
              
                  <div class="row">
                     
              
              
                      <div class="col-12">
                          <div class="form-group">
                                            
                            {{ form.address.label(class="form-control-label") }}
        
                            {% if form.address.errors %}
                            {{ form.address(class="form-control form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.address.errors %}
                                <span> {{ error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.address(class="form-control form-control") }}
                            {% endif %}
                                                  </div>
                      </div>
              
                      <div class="col-6">
                          <div class="form-group">
                            {{ form.city.label(class="form-control-label") }}
        
                            {% if form.city.errors %}
                            {{ form.city(class="form-control form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.city.errors %}
                                <span> {{ error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.city(class="form-control form-control") }}
                            {% endif %}
              
                                      
                                                  </div>
                      </div>


                      <div class="col-6">
                        <div class="form-group">
                          {{ form.country.label(class="form-control-label") }}
      
                          {% if form.country.errors %}
                          {{ form.country(class="form-control form-control is-invalid")}}
                          <div class="invalid-feedback">
                              {% for error in form.country.errors %}
                              <span> {{ error}}</span>
                              {% endfor %}
                          </div>
                          {% else %}
                          {{ form.country(class="form-control form-control") }}
                          {% endif %}
                                    
                                                </div>
                    </div>
                      
                      
                  </div>
                  <hr/>
              
                  <div class="row">

                    <div class="col-6">
                      <div class="form-group">
                        {{ form.phone.label(class="form-control-label") }}
    
                        {% if form.phone.errors %}
                        {{ form.phone(class="form-control form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.phone.errors %}
                            <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.phone(class="form-control form-control") }}
                        {% endif %}
          
                                  
                                              </div>
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                        {{ form.service.label(class="form-control-label") }}
        
                        {% if form.service.errors %}
                        {{ form.service(class="form-control form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.service.errors %}
                            <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.service(class="form-control form-control") }}
                        {% endif %}
              </div>
                  </div>
                  </div>
                
              
                <div class="row">
                <div class="col-12 text-right">
              
                  <div class="form-group">
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
              
                </div>
                </div>
              
              
                                  
              </div>
      </div>
  </div>
</div>

</div>


</div>



</form>
</div>



</div>




    

  

</div>

{% endblock  %}