{% extends "admin_layout.html" %}

{% block header %} 
Individual Request Review
{% endblock header %}
{% block content %}

<div class="container p-4">
    <div class="row">
        <div class="col-12">
            <div class="progress">
                <div id="task_completion" class="progress-bar" style="width:100%">1/1</div>
              </div>
        </div>
    </div>

    <div class="row p-4">
        <div class="col-12 text-center">

            <b>Review Information </b>
           
        </div>
    </div>
    <br/>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-4">
                    <div id="form_one">
                    <div class="row">
                        <div class="col-12 pl-2">
                            <b>Request Details</b>
                        </div>

                        <div class="col-5 pl-4" style="color: grey;">
                            Firstname
                        </div>
                        <div class="col-2 pl-4" style="color: grey;">
                            : 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Sample 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Lastname : 
                        </div>
                        <div class="col-2 pl-4" style="color: grey;">
                            : 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Sample 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Other Names : 
                        </div>
                        <div class="col-2 pl-4" style="color: grey;">
                            : 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Sample 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Nationality : 
                        </div>
                        <div class="col-2 pl-4" style="color: grey;">
                            : 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Sample 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Email : 
                        </div>
                        <div class="col-2 pl-4" style="color: grey;">
                            : 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Sample 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Phone Number : 
                        </div>
                        <div class="col-2 pl-4" style="color: grey;">
                            : 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Sample 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Postal Address : 
                        </div>
                        <div class="col-2 pl-4" style="color: grey;">
                            : 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Sample 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Postal City : 
                        </div>
                        <div class="col-2 pl-4" style="color: grey;">
                            : 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Sample 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Postal Country : 
                        </div>
                        <div class="col-2 pl-4" style="color: grey;">
                            : 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Sample 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Service Required : 
                        </div>
                        <div class="col-2 pl-4" style="color: grey;">
                            : 
                        </div>
                        <div class="col-5 pl-4" style="color: grey;">
                            Sample 
                        </div>
                      
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 text-right">
                                <span id="form_one_next" class="btn btn-outline-success next_button">Approve</span>
                            </div>
                        </div>
                    </div>
                </div>

                   
               
                   

                </div>
            </div>

        </div>
    </div>
</div>




{% endblock content %}