{% extends "layout.html" %}

{% block header %} 
Request Service
{% endblock header %}

{% block content %}

<div class="row pt-4">
    <div class="col-6">
                                <label for="usr">Firstname:</label>
                                     <div class="form-group">
                                     <input type="text" class="form-control" id="usr" name="username">
                                    </div>
    </div>
    
    
    
    <div class="col-6">
                                <label for="usr">Lastname:</label>
                                     <div class="form-group">
                                     <input type="text" class="form-control" id="usr" name="username">
                                    </div>
    </div>
    </div>
    
    
                        
          
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                                    <label for="usr">Other Names:</label>
                                     <div class="form-group">
                                     <input type="text" class="form-control" id="usr" name="username">
                                    </div>
    
                            
                                        </div>
            </div>
    
    
            <div class="col-6">
                <div class="form-group">
                                    <label for="usr">Nationality:</label>
                                     <div class="form-group">
                                     <input type="text" class="form-control" id="usr" name="username">
                                    </div>
    
                            
                                        </div>
            </div>
            
            
        </div>
    
    
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                                    <label for="usr">Email:</label>
                                     <div class="form-group">
                                     <input type="email" class="form-control" id="usr" name="username">
                                    </div>
    
                            
                                        </div>
            </div>
    
    
            <div class="col-6">
                <div class="form-group">
                                    <label for="usr">Phone Number:</label>
                                     <div class="form-group">
                                     <input type="number" class="form-control" id="usr" name="username">
                                    </div>
    
                            
                                        </div>
            </div>
            
            
        </div>
    
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                                    <label for="usr">Address:</label>
                                     <div class="form-group">
                                     <input type="text" class="form-control">
                                    </div>
    
                            
                                        </div>
            </div>
    
    
            <div class="col-6">
                <div class="form-group">
                                    <label for="usr">City:</label>
                                     <div class="form-group">
                                     <input type="text" class="form-control" id="usr" name="username">
                                    </div>
    
                            
                                        </div>
            </div>
    
            <div class="col-6">
                <div class="form-group">
                                    <label for="usr">Country:</label>
                                     <div class="form-group">
                                     <input type="text" class="form-control" id="usr" name="username">
                                    </div>
    
                            
                                        </div>
            </div>
            
            
        </div>
        <hr/>
    
        <div class="row">
        <div class="col-12 ">
            <div class="form-group">
      <label for="sel1">Select Service:</label>
      <select class="form-control" id="sel1">
          <option value="">---Select---</option>
        <option>Industry Reports</option>
        <option>Sub-Industry Report</option>
        <option>Job Specific Report</option>
      </select>
    </div>
        </div>
        </div>
      
    
      <div class="row">
      <div class="col-12 text-right">
    
      <span class="btn btn-outline-success">
      Submit
      </span>
    
      </div>
      </div>
    
    
                        
    </div>
{% endblock  %}