{% extends "landing_layout.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a>
    
    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto" style="background-color: tomato;">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#header">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#about_us">About Us</a>
            </li>
         
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#request">Request</a>
            </li>

           

            <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">Contact</a>
            </li>
        </ul>
        <span class="nav-item social-icons">
            <span class="fa-stack">
                <a href="#your-link">
                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a href="#your-link">
                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                    <i class="fab fa-twitter fa-stack-1x"></i>
                </a>
            </span>
        </span>
    </div>
</nav> <!-- end of navbar -->
<!-- end of navigation -->




<br/>
<br/>
<!-- Services -->
<div id="header" >
    <br>
    <br>
    <div class="container p-4" style="border-style:solid;border-color: cornflowerblue;border-width: 5px;">
        <div class="row p-4">
            <div class="col-12 text-center p-4">
                <h1>Description of what we do</h1>
                <h1>Description of what we do</h1>
                <h1>Description of what we do</h1>
                <h1>Description of what we do</h1>
            </div>
        </div>
    </div>
</div> 
<div id="about_us" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About Us</h2>
                <hr/>
                <p class="p-heading p-large">Short Description of Salary Survey Information and Core services</p>
                <hr/>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-4">

                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="images/about_us-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Market Analysis</h4>
                        <p>Our team of enthusiastic marketers will analyse and evaluate how your company stacks against the closest competitors</p>
                    </div>
                </div>
                <!-- end of card -->

                
            </div> 
            
            <div class="col-4">

                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="images/about_us-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Market Analysis</h4>
                        <p>Our team of enthusiastic marketers will analyse and evaluate how your company stacks against the closest competitors</p>
                    </div>
                </div>
                <!-- end of card -->

                
            </div>
            
            <div class="col-4">

                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="images/about_us-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Market Analysis</h4>
                        <p>Our team of enthusiastic marketers will analyse and evaluate how your company stacks against the closest competitors</p>
                    </div>
                </div>
                <!-- end of card -->

                
            </div><!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of about_us -->




<!-- Details Lightbox 2 -->
<div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="container">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-6">
                <div class="image-container">
                    <img class="img-fluid" src="images/details-lightbox-2.svg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-6">
                <h3>Tailored to your needs</h3>
                <hr>
                <h5>Core features</h5>
                <p>What we do and all that.</p>
                <p>salarying surveying and all that :</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-check"></i><div class="media-body">Easy Form Validation</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i><div class="media-body">Large Relevant Datasets</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i><div class="media-body">Intriguing Data Visualizations</div>
                    </li>
                    
                    
                </ul>
                <a class="btn-solid-reg mfp-close page-scroll" href="#request">REQUEST</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of lightbox-basic -->
<!-- end of details lightbox 2 -->
<!-- end of details lightboxes -->





<!-- Request -->
<div id="request" class="form-1">
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-12 text-center">
                <h4>Request For Infromation</h4>
             

            </div>
        </div>
        <hr/>
        <div class="row">
           
            <div class="col-12 justify-content-center">
                <form action="/action_page.php">
                    <div class="form-group">
                      <label for="usr">Name:</label>
                      <input type="text" class="form-control" id="usr" name="username">
                    </div>
                    <div class="form-group">
                      <label for="pwd">Email :</label>
                      <input type="password" class="form-control" id="pwd" name="password">
                    </div>

                    <div class="form-group">
                        <label for="sel1">Select Service:</label>
                        <select class="form-control" id="sel1">
                          <option> Service 1</option>
                          <option>Service 2</option>
                          
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="pwd">Message:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                      </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

                

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of request -->



<!-- Contact -->
<div id="contact" class="form-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Contact Information</h2>
                <ul class="list-unstyled li-space-lg">
                    <li class="address">Don't hesitate to give us a call or send us a contact form message</li>
                    <li><i class="fas fa-map-marker-alt"></i>Plot No. 71, The Deloitte Place, Off George W. Bush Hwy, Accra</li>
                    <li><i class="fas fa-phone"></i><a class="turquoise" >030 277 5355</a></li>
                    <li><i class="fas fa-envelope"></i><a class="turquoise" >home@deloitte.com.gh</a></li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
           
            <div class="col-12 justify-content-center">
                
                <form action="/action_page.php">
                    <div class="form-group">
                      <label for="usr">Name:</label>
                      <input type="text" class="form-control" id="usr" name="username">
                    </div>
                    <div class="form-group">
                      <label for="pwd">Email :</label>
                      <input type="password" class="form-control" id="pwd" name="password">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Message:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of contact -->


{% endblock content %}