{% extends "new_admin_layout.html" %}




{% block content %}
<style>
  #hero {
    width: 100%;
    height: 15vh;
    background: url("../static/img/home.jpg") top center;
    background-size: cover;
    position: relative;
  }

  #hero:before {
    content: "";
    background: rgba(20, 44, 9, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero .container {
    text-align: center;
    padding-top: 50px;
  }

  @media (max-width: 992px) {
    #hero .container {
      padding-top: 0;
    }
  }

  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  #hero h2 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 22px;
  }

  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid #ffc107;
    color: #fff;
  }

  #hero .btn-get-started:hover {
    background: #ffc107;
  }

  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }

    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  #searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
  }

  #search_input {
    border-radius: 10px;
    outline: 0;
    width: 450px;
    line-height: 30px;
    padding: 0 10px;
  }

  #search_icon {
    color: white;
    margin-left: 5px;
  }

  .dropdowndown-menu {
    padding: 10px;
  }

  .message-heading {
    color: #46484b;
    display: block;
  }

  #filterbutton {
    color: white;
  }

  #sortbutton {
    color: white;
  }

  .table-row {
    cursor: pointer;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>


<!--Header-->
<div class="row">
  <div class="col-12">
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container position-relative">
        <h2><b style="font-size: 40px;">Messages</b></h2>
      </div>
    </section>
  </div>
</div>

<!-- <div class="row pt-5 pb-5 justify-content-center"> -->
<div class="row p-5 justify-content-center">
  <div class="col-12">
      <table class="table table-hover">
        <thead style="background-color: rgb(66, 95, 53);">
          <th id="searchbar">
            <input type="text" id="search_input" onkeyup="myFunction()" placeholder="Search...">
            <a href="#"><i class="fas fa-search" id="search_icon"></i></a>
          </th>
          <th>
            <button id="filterbutton" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Filter <i
                class="icofont-settings"></i></span></button>
            <form class="dropdown-menu p-2">
              <div class="form-group">
                <label for="status">Status:</label>
                <select class="form-control" id="status" onchange="filter('status')">
                  <option value="open">Open</option>
                  <option value="closed">Closed</option>
                </select>
              </div>
            </form>
          </th>
          <th>
            <button id="sortbutton" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Sort <i
                class="icofont-sort-alt"></i></span></button>
            <form class="dropdown-menu p-2">
              <div class="form-group">
                <select class="form-control" id="status" onchange="filter('status')">
                  <option value="open">Newest First</option>
                  <option value="closed">Oldest First</option>
                  <option>Sender</option>
                </select>
              </div>
            </form>
          </th>
        </thead>
        <tbody>
          <tr class="table-row" data-toggle="modal" href="#viewRequestModal">
            <td>
              <strong class="message-heading">Message from John Doe</strong> Company XYZ
            </td>
            <td>Today, 11:00am</td>
            <td><span class="badge badge-success">Open</span></td>
          </tr>
          <tr class="table-row" data-href="#">
            <td>
              <strong class="message-heading">Message from Jane Doe</strong> Company XYZ
            </td>
            <td>Today, 11:00am</td>
            <td><span class="badge badge-danger">Closed</span></td>
          </tr>
          <tr class="table-row" data-href="#">
            <td>
              <strong class="message-heading">Message from Jane Doe</strong> Company ABC
            </td>
            <td>Today, 11:00am</td>
            <td><span class="badge badge-danger">Closed</span></td>
          </tr>
          <tr class="table-row" data-href="#">
            <td>
              <strong class="message-heading">Message from John Doe</strong> Company ABC
            </td>
            <td>Yesterday, 9:00pm</td>
            <td><span class="badge badge-success">Open</span></td>
          </tr>
          <tr class="table-row" data-href="#">
            <td>
              <strong class="message-heading">Message from John Doe</strong> Company XYZ
            </td>
            <td>31/12/2020</td>
            <td><span class="badge badge-success">Open</span></td>
          </tr>
          <tr class="table-row" data-href="#">
            <td>
              <strong class="message-heading">Message from Jane Doe</strong> Company XYZ
            </td>
            <td>Today, 11:00am</td>
            <td><span class="badge badge-danger">Closed</span></td>
          </tr>
          <tr class="table-row" data-href="#">
            <td>
              <strong class="message-heading">Message from John Doe</strong> Company ABC
            </td>
            <td>Today, 11:00am</td>
            <td><span class="badge badge-danger">Closed</span></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewRequestModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header d-block">
        <div class="d-flex">
          <h4 class="modal-title">Dr John Doe</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h6 style="color: gray;" class="modal-title">johndoe@example.com</h5>
      </div>
      <div class="modal-body">
        <!--Request Description-->
        <div>
          <p>Job Title / Position: <span style="color: gray;">Director</span></p>
          <p>Company: <span style="color: gray;">Company ABC</span></p>
          <p>Phone Number: <span style="color: gray;">0302123456</span></p>
          <p>Address: <span style="color: gray;">Plot No. 71, The Deloitte Place, Off George W. Bush Hwy, Accra, Ghana
            </span></p>
        </div>

        <hr>
        <div class="form-group">
          <p>Comments:
          <ol style="color: gray;">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ol>
          </p>
          <label style="font-size: smaller; font-style: italic;">Add New Comment
            <textarea class="form-control" rows="1" cols="100" onfocus="this.rows=5;"></textarea>
          </label>
        </div>

        <hr>
        <!--Change Status-->
        <div class="row">
          <div class="col-9">
            <span style="font-size:smaller; color: rgb(71, 70, 70);">Open</span>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            <span style="font-size:smaller; color: rgb(71, 70, 70);">Closed</span>
          </div>
          <div class="col-3 float-right">
            <i class="far fa-envelope" style="margin-right: 5px;"></i><a href="#" style="color: inherit;">Send Email</a>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



{% endblock content %}