{% extends "new_client_hub_layout.html" %}


{% block content %}
<style>
  #hero {
    width: 100%;
    height: 15vh;
    background: url("../static/img/home.jpg") top center;
    background-size: cover;
    position: relative;
  }

  #hero:before {
    content: "";
    background: rgba(20, 44, 9, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero .container {
    text-align: center;
    padding-top: 50px;
  }

  @media (max-width: 992px) {
    #hero .container {
      padding-top: 0;
    }
  }

  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  #hero h2 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 22px;
  }

  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid #ffc107;
    color: #fff;
  }

  #hero .btn-get-started:hover {
    background: #ffc107;
  }

  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }

    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  #searchbar {
    height: 60px;
    text-align: right;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #search_input {
    border-radius: 10px;
    outline: 0;
    width: 450px;
    line-height: 30px;
    padding: 0 10px;
  }

  #search_icon {
    color: white;
    margin-left: 5px;
  }

  .dropdowndown-menu {
    padding: 10px;
  }

  .message-heading {
    color: #46484b;
    display: block;
  }

  #filterbutton {
    color: white;
  }

  #sortbutton {
    color: white;
  }

  .table-row {
    cursor: pointer;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  tbody:before {
    content: "@";
    display: block;
    line-height: 25px;
    text-indent: -99999px;
  }

  .new-comment-label {
    font-style: italic;
    font: smaller;
  }
</style>


<!--Header-->
<div class="row">
  <div class="col-12">
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container position-relative">
        <h2><b style="font-size: 40px;">Messages</b></h2>
      </div>
    </section>
  </div>
</div>

<!--Body-->
<div class="row p-5 justify-content-center">
  <div class="col-12">
    <table class="table table-hover">
      <thead style="background-color: rgb(78, 110, 62);">
        <th colspan="3" id="searchbar">
          <input type="search" id="search_input" placeholder="Search Messages...">
          <a href="#"><i class="fas fa-search" id="search_icon"></i></a>
        </th>
      </thead>


      <tbody id="messages_list">
        {% if not messages %}
        <tr class="table-row">
          <td colspan="3" style="text-align:center;">
            <em> You have no messages to view.</em>
          </td>
        </tr>
        {% else %}
        {% for message in messages %}
        <tr class="table-row" onclick="viewMessages('{{message.id}}', this)" data-id="{{message.id}}"
          data-toggle="modal" href="#viewRequestModal">
          <td>
            <strong class="message-heading">Message from {{message.firstname}} {{message.lastname}}</strong>
            {{message.company_name}}
          </td>
          <td>{{message.timestamp.strftime('%D')}}</td>
          {% if message.status == "Open" %}
          <td><span class="badge badge-success">{{message.status}}</span></td>
          {% elif message.status == "Closed" %}
          <td><span class="badge badge-danger">{{message.status}}</span></td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewRequestModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <form action="" method="POST" id="updateForm" onsubmit="updateMessage()">
        <div id="head" class="modal-header d-block">
        </div>
        <div id="body" class="modal-body">
        </div>
        <div class="modal-footer">
          {{form.submit(class="btn btn-outline-success")}}
          <button type="reset" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>

  </div>
</div>

<script>
  function viewMessages(modal, element) {
    localStorage.setItem('messageId', $(element).attr('data-id'))
    $.ajax({
      url: '/view_message',
      data: {
        id: modal
      },
      type: 'POST',
      success: function (res) {
        console.log(res)
        res1 = res[0]
        $('#head').html(
          `<div class="d-flex">
          <h4 class="modal-title">${res1.title} ${res1.firstname} ${res1.lastname}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h6 style="color: gray;" class="modal-title">${res1.email}</h5>`
        )
        $('#body').html(
          `<div>
          <p>Job Title / Position: <span style="color: gray;">${res1.job_title}</span></p>
          <p>Company: <span style="color: gray;">${res1.company_name}</span></p>
          <p>Phone Number: <span style="color: gray;">${res1.phone}</span></p>
          <p>Address: <span style="color: gray;">${res1.address_1}, ${res1.address_2}, ${res1.city}, ${res1.country}.
            </span></p>
        </div>
        <hr>
        <div class="form-group">
            <p>Comments:
            <ol id="commentList" style="color: gray;">
            </ol>
            </p>
          {{form.comment.label(class="comment-label new-comment-label")}}
            {% if form.comment.errors %}
              {{ form.comment(class="form-control form-control is-invalid", cols="100", rows="1", onfocus="this.rows=5;")}}
              <div class="invalid-feedback">
                  {% for error in form.comment.errors %}
                  <span> {{ error}}</span>
                  {% endfor %}
              </div>
              {% else %}
              {{ form.comment(class="form-control form-control") }}
              {% endif %}
  
        </div>
        <hr>
        <!--Change Status-->
        <div class="row">
          <div class="col-9">
            <span style="font-size:smaller; color: rgb(71, 70, 70);">Open</span>
            <label class="switch">
              {{form.status}}
              <span class="slider round"></span>
            </label>
            <span style="font-size:smaller; color: rgb(71, 70, 70);">Closed</span>
          </div>
          <div class="col-3 float-right">
            <i class="far fa-envelope" style="margin-right: 5px;"></i><a
              href="mailto:${res1.email}?subject=Thank You For Reaching Out To Us" style="color: inherit;">Send
              Email</a>
          </div>
        </div>
      `
        )
        document.getElementById("status").checked = true
        for (var i = 0; i < res[1].comments.length; i++) {
          $('#commentList').append('<li>' + res[1].comments[i] + '</li>')
        }
      },
      error: function (error) {
        console.log(error)
      }
    })
  }

  function updateMessage() {
    var messageId = localStorage.getItem('messageId')
    document.getElementById('updateForm').action = '/messages/update/' + messageId
  }
</script>

<script>
  $(document).ready(function () {
    $("#search_input").on("keyup", function () {
      var value = $(this).val();
      $.ajax({
        url: '/messages/search',
        data: {
          search_term: value
        },
        type: 'POST',
        success: function (res) {
          console.log(res)
          if (res.length == 0) {
            $('messages_list').html(
              `<tr class="table-row">
          <td colspan="3" style="text-align:center;">
            <em> You have no messages to view.</em>
          </td>
        </tr>
        `
            )
          }
          else {
            $('#messages_list').empty()
            for (var i = 0; i < res.length; i++) {
              var timestamp = new Date(res[i].timestamp)
              var day = timestamp.getDate()
              var month = timestamp.getMonth() + 1
              var year = timestamp.getFullYear()
              var date = day + "/" + month + "/" + year
              if (res[i].status == "Open") {
                $('#messages_list').append(
                  `
        <tr class="table-row" onclick="viewMessages('${res[i].id}', this)" data-id="${res[i].id}"
          data-toggle="modal" href="#viewRequestModal">
          <td>
            <strong class="message-heading">Message from ${res[i].firstname} ${res[i].lastname}</strong>
            ${res[i].company}
          </td>
          <td>${date}</td>
          <td><span class="badge badge-success">${res[i].status}</span></td>
        </tr>
        `
                )
              } else {
                $('#messages_list').append(
                  `
        <tr class="table-row" onclick="viewMessages('${res[i].id}', this)" data-id="${res[i].id}"
          data-toggle="modal" href="#viewRequestModal">
          <td>
            <strong class="message-heading">Message from ${res[i].firstname} ${res[i].lastname}</strong>
            ${res[i].company}
          </td>
          <td>${date}</td>
          <td><span class="badge badge-danger">${res[i].status}</span></td>
        </tr>
        `
                )
              }

            }
          }



        },
        error: function (error) {
          console.log(error);
        }
      });
    });
  });
</script>





{% endblock content %}