{% extends "layout.html" %}

{% block header %} 
My Surveys
{% endblock header %}

{% block content %}
<div class="col">
    <p>Below are the surveys which you have agreed to partake in</p>
</div>
<div class="card-deck">
    <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
        <div class="card">
            <div class="card-header bg-light">
                <div class="card-icon">
                    <i class="fa fa-briefcase card-img"></i>
                </div>
                
                <div class="survey-card-header">
                   Survey 1
                </div>
            </div>
            <div class="card-body">
                <p><b>Area of Operation: </b><span>Insurance</span></p>
                <p><b>Status: </b><span>Not Completed</span></p>
                <a href="{{  url_for('users.view_survey')}}"><button class="btn btn-outline-primary">View</button></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
        <div class="card">
            <div class="card-header bg-light">
                <div class="card-icon">
                    <i class="fa fa-briefcase card-img"></i>
                </div>
                
                <div class="survey-card-header">
                   Survey 2
                </div>
            </div>
            <div class="card-body">
                <p><b>Area of Operation: </b><span>Banking</span></p>
                <p><b>Status: </b><span>Not Completed</span></p>
                <a href="{{  url_for('users.view_survey')}}"><button class="btn btn-outline-primary">View</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}