
    {% extends "new_admin_layout.html" %}


   
    
    {% block content %}
    <style>
.ui-autocomplete
{
    position:absolute;
    cursor:default;
    z-index:1001 !important
}
      .green_shade{
        color:rgba(66,99,50,1)
      }
        #hero {
      width: 100%;
      height: 15vh;
      background: url("../static/img/home.jpg") top center;
      background-size: cover;
      position: relative;
      }
      
      #hero:before {
      content: "";
      background: rgba(20, 44, 9, 0.7);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      }
      
      #hero .container {
      text-align: center;
      padding-top: 50px;
      }
      
      @media (max-width: 992px) {
      #hero .container {
      padding-top: 0;
      }
      }
      
      #hero h1 {
      margin: 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: #fff;
      }
      
      #hero h2 {
      color: #eee;
      margin: 15px 0 0 0;
      font-size: 22px;
      }
      
      #hero .btn-get-started {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 9px 35px;
      border-radius: 50px;
      transition: 0.5s;
      margin-top: 40px;
      border: 2px solid #ffc107;
      color: #fff;
      }
      
      #hero .btn-get-started:hover {
      background: #ffc107;
      }
      
      @media (min-width: 1024px) {
      #hero {
      background-attachment: fixed;
      }
      }
      
      @media (max-width: 768px) {
      #hero {
      height: 100vh;
      }
      #hero h1 {
      font-size: 28px;
      line-height: 36px;
      }
      #hero h2 {
      font-size: 18px;
      line-height: 24px;
      }
      }
      </style>
     
     
    
    <div class="row">
        <div class="col-12">
          <section id="hero" class="d-flex align-items-center justify-content-center">
              <div class="container position-relative">
                
           <h2><b style="font-size: 40px;">Create Survey </b></h2>
              
              </div>
            </section>
        </div>
    </div>
    <div class="row">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
      {% for category, message in messages %}
      <div class="container">
      <div class="alert alert-{{ category}}">
          {{message}}
      </div>
  </div>
  

      {% endfor %}

      {% endif %}

    {% endwith %}
      <div class="col-12" style="background-color: rgb(226, 223, 223);height:auto">
        <div class="row p-4 justify-content-center">
          <div class="col-md-2 col-sm-6 p-4">
            <div class="card  survey_border survey_background" style="height:100px;border-width: 3px;">
              <div class="row  justify-content-center text-center">
                <div class="col-12 justify-content-center text-center pt-2">
                  <i class="ico-wizard-white icofont-info-circle survey_icon"></i><br/><b class="survey_font"style="color:white">Survey Details</b>
                </div>
              </div>
    

            </div>
          </div>


          <div class="col-md-2 col-sm-6 p-4">
            <div class="card benchmark_border benchmark_background" style="height:100px;background-color: transparent;border-width: 3px;border-color:rgba(66,99,50,1) ;">
              <div class="row  justify-content-center text-center">
                <div class="col-12 justify-content-center text-center pt-2">
                  <i class="ico-wizard-green icofont-ui-office benchmark_icon"></i><br/><b class="benchmark_font">Benchmark Jobs</b>
                </div>
              </div>
    

            </div>
          </div>


          <div class="col-md-2 col-sm-6 p-4">
            <div class="card comparator_border comparator_background" style="height:100px;background-color: transparent;border-width: 3px;">
              <div class="row  justify-content-center text-center">
                <div class="col-12 justify-content-center text-center pt-2">
                  <i class="ico-wizard-grey icofont-people comparator_icon"></i><br/><b class="comparator_font">Comparators</b>
                </div>
              </div>
    

            </div>
          </div>

          <div class="col-md-2 col-sm-6 p-4">
            <div class="card review_border review_background" style="height:100px;background-color: transparent;border-width: 3px;">
              <div class="row  justify-content-center text-center">
                <div class="col-12 justify-content-center text-center pt-2">
                  <i class="ico-wizard-grey icofont-check-circled review_icon"></i><br/><b class="review_font">Review</b>
                </div>
              </div>
    

            </div>
          </div>

      
        </div>

      </div>
    </div>
    <div class="p-4" style="background-color:rgb(245, 243, 243)">
      <form method="POST" autocomplete="on">

      {{ form.hidden_tag() }}
    <div class="row  " >
      <div class="col-md-3 col-sm-12 pt-4 pl-4">
        <span style="color:grey">Create Survey</span>
      </div>
      <div class="col-md-9 col-sm-12 pt-4 pl-4">
        <span style="color:grey">Questions</span>
      </div>
   
<div class="col-md-3 col-sm-12 p-4">

  <div class="card p-4">
      <div class="row ">
         
          <div class="col-12 ">
<b>Survey Setup</b>
<br/>

<span class="pt-3"style="color:grey;font-size: 12px;">Created on 12/3/2019</span>

          </div>

          <div class="col-12 p-4">
            <hr/>
            <div class="row p-4">
              <div class="col-6 text-center">
                <h1><b class="green_shade">5</b></h1>
                <span style="color:grey;font-size: 12px;">Questions</span>

              </div>
              <div class="col-6 text-center">
                <h1><b class="green_shade">4</b></h1>
                <span style="color:grey;font-size: 12px;">Sections</span>

              </div>
            </div>
            <hr/>

          </div>
          </div>
      </div>
  </div>


  <div class="col-md-9 col-sm-12 p-4">

    <div class="row  survey_details">
      <div class="col-sm-12 pl-4 pr-4 pb-4 ">
        <div class="card p-4" style="border-color: green;">
          <div class="row ">
            <div class="col-12 text-center">

              <b class="green_shade">Survey Details</b>
              <hr/>
                </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Survey Name</b></label>
                <input type="text" id="survey_name" class="form-control" />
              </div>
            </div>


            <div class="col-6 ">
       
              <div class="form-group" autocomplete="off">
                <label class="green_shade"><b>Client Name</b></label>
                <input list="client_name" name="browser" id="browser" class="form-control" autocomplete="off">
                <datalist id="client_name">
                
                  
                </datalist>
              </div>
            </div>
            <div class="col-6 ">
           
              <div class="form-group">
                <label class="green_shade"><b>Industry</b></label>
                <input type="text" id="industry" class="form-control" disabled/>
              </div>
            </div>
            <div class="col-6 ">

              <div class="form-group">
                <label class="green_shade"><b>Area of Operation</b></label>
                <input type="text" id="area"class="form-control" disabled/>
              </div>
            </div>
            <div class="col-6 ">
           
              <div class="form-group">
                <label class="green_shade"><b>Start Date</b></label>
                <input type="date" id="start_date"class="form-control" />
              </div>
            </div>
          

         
           
             
      
              </div>
          </div>

      </div>




    






      <div class="col-12 text-right pl-4 pr-4 pb-4">
       <span class="btn btn-outline-success" onclick="switchnext('survey_details')"> Next </span>
      </div>


    </div>





    <div class="row benchmark_jobs" style="display:none">
      







      <div class="col-12 pl-4 pr-4 pb-4">
        <div class="col text-right">
          <a class="btn btn-primary" target="_blank "href="/my_benchmark_jobs/new">Create New Job </a>
          <span class="btn btn-success" data-toggle="modal" data-target="#upload_jobs">Upload Jobs</span>
   
          <br><br>
        </div>
      <div class="row">
    
          <div class="col-lg-12 col-md-12 pb-4">
            <div class="card" style="border-color: rgba(66,99,50,1);">
          
           <table class="table">
              <thead class="gb text-white">
                <tr>
                  <div class="input-group" autocomplete="off" >
                
                    
                      {{searchform.country(class="form-control" ,autocomplete="off")}}
                   
                    <div class="input-group-append">
                      <button class="btn " style="background-color: rgba(66,99,50,1);" type="button">
                        <i style="color:white"class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </tr>
                <tr>
                  <td>Job Title</td>
                  <td>Department</td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody id="result">
                
               
              </tbody>
            </table>
            <br/>
          </div>
          </div>
      
          <div class="col-lg-12 col-md-12" >
            <div class="card" style="border-color: rgba(66,99,50,1);">
            <div class="list-group" >
              <span class="list-group-item list-group-item-action gb text-white">
                Selected Benchmark Jobs
              </span>
              <ul class="list-group" id="selected_benchmark">
                <li class="list-group-item ">
                  <div class="row" id="selectedBenchmarks">
                    
                   
                
                    
                    

                    
                  </div>
             
                </li>
               
              </ul>
            </div>
          </div>
          </div>
      </div>
  

      </div>

      <div class="col-12 text-right pl-4 pr-4 pb-4">
        <div class="row">
          <div class="col-6 text-left">
            <span class="btn btn-outline-success" onclick="switchback('benchmark_jobs')"> Back </span>
            
          </div>
          <div class="col-6 text-right">
            <span class="btn btn-outline-success" onclick="switchnext('benchmark_jobs')"> Next </span>

          </div>
         
        </div>
        
       </div>


    </div>




    <div class="row comparators" style="display:none">
      







      <div class="col-12 pl-4 pr-4 pb-4">
        <div class="row">
        
       
          <div class="col-lg-12 col-md-12 pb-4">
           <div class="card" style="border-color: rgba(66,99,50,1);">
        
            <table class="table">
              <thead class="gb text-white" >
                <tr>
                  <div class="input-group" autocomplete="off" >
                
                    
                    {{compform.comp(class="form-control" ,autocomplete="off")}}
                 
                  <div class="input-group-append">
                    <button class="btn " style="background-color: rgba(66,99,50,1);" type="button">
                      <i style="color:white"class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
                </tr>
                <tr>
                  <td>Comparator Name</td>
                  <td>Sector</td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody id="result_comp">
                
               
              </tbody>
            </table>
          </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="card" style="border-color: rgba(66,99,50,1);">
              <div class="list-group" >
                <span class="list-group-item list-group-item-action gb text-white">
                  Selected Comparators
                </span>
                <ul class="list-group" id="selected_comp">
                  <li class="list-group-item ">
                    <div class="row" id="selectedComps">
                      
                     
                  
                      
                      
  
                      
                    </div>
               
                  </li>
                 
                </ul>
              </div>
          </div>
          </div>
        </div>
 

      </div>

      <div class="col-12 text-right pl-4 pr-4 pb-4">
        <div class="row">
          <div class="col-6 text-left">
            <span class="btn btn-outline-success" onclick="switchback('comparators')"> Back </span>

          </div>
          <div class="col-6 text-right">
       
            <span class="btn btn-outline-success" onclick="switchnext('comparators')"> Next </span>
            
          </div>
        </div>
        
       </div>


    </div>



    <div class="row review" style="display:none">
      <div class="col-12 pl-4 pr-4 pb-4">
        <div class="row ">
          <div class="col-12 reviewform">
            <div class="card p-4" style="border-color: green;">
             
              <div class="row">
                <div class="col-12 text-center">
                  <i class="ico icofont-check-circled"></i>
                  <h4><b class="green_shade">Review</b></h4>
                  <hr/>
                </div>
              </div>
            <div class="row pt-4 ">
              <div class="col-lg-6 col-md-12">
                <b>Survey Name: </b> <span id="review_survey_name"></span>
              </div>
              <div class="col-lg-6 col-md-12">
                <b>Client: </b> <span id="review_client_name"></span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <b>Industry: </b> <span id="review_industry"></span>
              </div>
              <div class="col-lg-6 col-md-12">
                <b>Area of Operation: </b><span id="review_area_of_operation"></span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <b>Start Date: </b><span id="review_start_date"></span>
              </div>
             
            </div>
            <hr>
            <div class="row mb-2">
              <div class="col-lg-6 col-md-12">
                <b>Benchmark Jobs</b><br>
                <ul id="review_benchmark_jobs">
           
                </ul>
                
              </div>
              <div class="col-lg-6 col-md-12">
                <b>Comparators</b><br>
                <ul id="review_comparators">
           
                </ul>
                
              </div>
             
            </div>
            <hr>
          </div>
          </div>
        
        </div>
            <div class="row pt-4">
              <div class="col-6 text-left">
                <span class=" btn btn-outline-success"   onclick="switchback('review')">Back</span>
        
        
              </div>
              <div class="col-6 text-right">
                <span onclick="submit()" class="btn btn-success">Submit</span>
        
              </div>
          </div>
      </div>
    </div>


   


  </div>

</div>
</form>

    </div>
  </div>



 

      

  </div>
  <div class="modal fade" id="successModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
      
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-12 p-3 text-center">
              <i style="font-size:100px" class=" green_shade icofont-check-circled"></i><br/>
            </div>
            </div>
          
          <div class="row">
          <div class="col-12 p-3 text-center">
            <b class="green_shade">Survey Created</b>
          </div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" onclick="redirect()"><i style="color:red" class="icofont-close-circled"></i></button>
        </div>
        
      </div>
    </div>
  </div>

<script>
function switchnext(form){
  $(window).scrollTop(0);
  if(form == 'survey_details'){
    $('.survey_details').css('display','none')
    $('.benchmark_jobs').css('display','')
    surveyCompleted()
    benchmarkActive()
    
  }
  if(form == 'benchmark_jobs'){
    $('.benchmark_jobs').css('display','none')
    $('.comparators').css('display','')
    benchmarkCompleted()
    comparatorActive()
  }
  if(form == 'comparators'){
    $('.comparators').css('display','none')
    $('.review').css('display','')
    comparatorCompleted()
    reviewActive()
  }

}
</script>

<script>
function switchback(form){
  $(window).scrollTop(0);

  if(form == 'benchmark_jobs'){
    $('.benchmark_jobs').css('display','none')
    $('.survey_details').css('display','')
    benchmarkNotActive()
    surveyActive()
  }
  if(form == 'comparators'){
    $('.comparators').css('display','none')
    $('.benchmark_jobs').css('display','')
    comparatorNotActive()
    benchmarkActive()
  }
  if(form == 'review'){
    $('.review').css('display','none')
    $('.comparators').css('display','')
    reviewNotActive()
    comparatorActive()
  }

}
</script>

<script>
  $("#country").on('input', function(){

    

//localStorage.setItem('editId',$(elm).attr('data-id'));



$.ajax({

  url: '/countries',

  data: {

     id: $(this).val()

  },

  type: 'POST',

  success: function(res) {

    
$('#result').empty()
     for(var loop =0 ; loop<res.length; loop++){
    
         $('#result').append(
         `<tr>
                  <td>${JSON.stringify(res[loop].job_title).split('"').join('')}</td>
                  <td>${JSON.stringify(res[loop].main_department).split('"').join('')}</td>
                  <td><i onclick="viewModal(${JSON.stringify(res[loop].id).split('"').join('')})"data-toggle="modal" data-target="#myModal1" class="green_shade fas fa-eye benchmark-eye" data-toggle="modal" data-target="#job_detail" ></i></td>
                  <td><i onclick="addJob('${JSON.stringify(res[loop].id).split('"').join('')}','${JSON.stringify(res[loop].job_title).split('"').join('')}')" style="cursor:pointer" class="green_shade icofont-ui-add"></i></td>
                </tr>`)


     }

  },

  error: function(error) {

      console.log(error);

  }

});

  });
</script>



<script>
  $("#comp").on('input', function(){

    

//localStorage.setItem('editId',$(elm).attr('data-id'));



$.ajax({

  url: '/compare',

  data: {

     id: $(this).val()

  },

  type: 'POST',

  success: function(res) {

    
    $('#result_comp').empty()
     for(var loop =0 ; loop<res.length; loop++){
    
         $('#result_comp').append(
         `<tr>
                  <td>${JSON.stringify(res[loop].company_name).split('"').join('')}</td>
                  <td>${JSON.stringify(res[loop].sector).split('"').join('')}</td>
                  <td><i onclick="viewComp(${JSON.stringify(res[loop].id).split('"').join('')})"data-toggle="modal" data-target="#myModal2" class="green_shade fas fa-eye benchmark-eye" data-toggle="modal" data-target="#job_detail" ></i></td>
                  <td><i onclick="addComp('${JSON.stringify(res[loop].id).split('"').join('')}','${JSON.stringify(res[loop].company_name).split('"').join('')}')" style="cursor:pointer" class="green_shade icofont-ui-add"></i></td>
                </tr>`)


     }

  },

  error: function(error) {

      console.log(error);

  }

});

  });
</script>


<script>
  function viewModal(id){

    
console.log('here' + id)
//localStorage.setItem('editId',$(elm).attr('data-id'));



$.ajax({

  url: `/jobs`,

  data: {

     id: id

  },

  type: 'POST',

  success: function(res) {
  
    for(var loop =0 ; loop<res.length; loop++){
   
    $('#vm').html(`<div class="row">
         <div class="col-12 p-4">

<div class="row">
  <div class="col-12" style="height:5px;background-color: rgba(66,99,50,1);">

  </div>

  <div class="col-2 p-4">
    <i class="green_shade icofont-ui-office" style="font-size: 150px;"></i>
  </div>


  <div class="col-2 p-4">
    <br/>
    <b>Job Title</b><br/>
    <br/>
    <b>Grade</b><br/>
    <br/>
    <b>Department</b>
  </div>

  <div class="col-6 p-4">
    <br/>
    ${JSON.stringify(res[loop].job_title).split('"').join('')}<br/>
    <br/>
    ${JSON.stringify(res[loop].grade).split('"').join('')}<br/>
    <br/>
    ${JSON.stringify(res[loop].main_department).split('"').join('')}
  </div>
</div>

<div class="row">
  <div class="col-12 pl-4 pr-4">
    <b>Job Description</b>
    
  </div>
  

  <div class="col-12 pl-4 pr-4 pt-2 pb-4" >

    ${JSON.stringify(res[loop].job_description).split('"').join('')}
  </div>
</div>

       </div>
     </div>`)
     }
console.log(res)

  },

  error: function(error) {

      console.log(error);

  }

});

  }
</script>

<script>
  function viewComp(id){

    

//localStorage.setItem('editId',$(elm).attr('data-id'));



$.ajax({

  url: `/comps`,

  data: {

     id: id

  },

  type: 'POST',

  success: function(res) {
    for(var loop =0 ; loop<res.length; loop++){
   
    $('#cm').html(`<div class="row">
         <div class="col-12 p-4">

<div class="row">
  <div class="col-12" style="height:5px;background-color: rgba(66,99,50,1);">

  </div>

  <div class="col-2 p-4">
    <i class="green_shade icofont-building-alt" style="font-size: 150px;"></i>
  </div>


  <div class="col-2 p-4">
    <br/>
    <b>Company Name</b><br/>
    <br/>
    <b>Sector</b><br/>
    <br/>
    <b>Industry</b>
  </div>

  <div class="col-6 p-4">
    <br/>
    ${JSON.stringify(res[loop].company_name).split('"').join('')}<br/>
    <br/>
    ${JSON.stringify(res[loop].sector).split('"').join('')}<br/>
    <br/>
    ${JSON.stringify(res[loop].industry).split('"').join('')}
  </div>
</div>

<div class="row">
  <div class="col-12 pl-4 pr-4">
    <b>Company History</b>
    
  </div>
  

  <div class="col-12 pl-4 pr-4 pt-2 pb-4" >

    ${JSON.stringify(res[loop].company_history).split('"').join('')}
  </div>
</div>

       </div>
     </div>`)
     }
console.log(res)

  },

  error: function(error) {

      console.log(error);

  }

});

  }
</script>
<script>
  function addJob(id,job){
    if($('#selectedBenchmarks').find("#benchmark_"+id).length < 1){

 
      $('#selectedBenchmarks').append(

`<div class="col-3 pt-1 pb-1 text-center" id="benchmark_${id}">
                      <span id="b${id}" class=" sb badge badge-pill badge-success">${job}
                          <i onclick="removeJob('benchmark_${id}')"class="fas fa-trash benchmark-trash" style="cursor:pointer;"></i></span>
                      
                    </div>`


    )

    }
   
  }
</script>
<script>
  function addComp(id,job){
    if($('#selectedComps').find("#comp_"+id).length < 1){

 
      $('#selectedComps').append(

`<div class="col-3 pt-1 pb-1 text-center" id="comp_${id}">
                      <span id="c${id}" class="sb badge badge-pill badge-success">${job}
                          <i onclick="removeComp('comp_${id}')"class="fas fa-trash benchmark-trash" style="cursor:pointer;"></i></span>
                      
                    </div>`


    )

    }
   
  }
</script>

<script>
  function removeJob(id){

  
    $('#'+id).remove()
  }
</script>
<script>
function removeComp(id){

  
  $('#'+id).remove()
}
</script>
<script>
function surveyActive(){
  $('.survey_icon').css('color','rgba(66,99,50,1)')
  $('.survey_background').css('background-color','transparent')
  $('.survey_border').css('border-color','rgba(66,99,50,1)')
  $('.survey_font').css('color','rgba(66,99,50,1)')
}
function surveyNotActive(){
  $('.survey_icon').css('color','grey')
  $('.survey_background').css('background-color','transparent')
  $('.survey_border').css('border-color','grey')
  $('.survey_font').css('color','grey')
}
function surveyCompleted(){
  $('.survey_icon').css('color','white')
  $('.survey_background').css('background-color','rgba(66,99,50,1)')
  $('.survey_border').css('border-color','rgb(0,100,0)')
  $('.survey_font').css('color','white')
}




function benchmarkActive(){
  $('.benchmark_icon').css('color','rgba(66,99,50,1)')
  $('.benchmark_background').css('background-color','transparent')
  $('.benchmark_border').css('border-color','rgba(66,99,50,1)')
  $('.benchmark_font').css('color','rgba(66,99,50,1)')
}
function benchmarkNotActive(){
  $('.benchmark_icon').css('color','grey')
  $('.benchmark_background').css('background-color','transparent')
  $('.benchmark_border').css('border-color','grey')
  $('.benchmark_font').css('color','grey')
}
function benchmarkCompleted(){
  $('.benchmark_icon').css('color','white')
  $('.benchmark_background').css('background-color','rgba(66,99,50,1)')
  $('.benchmark_border').css('border-color','rgb(0,100,0)')
  $('.benchmark_font').css('color','white')
}




function comparatorActive(){
  $('.comparator_icon').css('color','rgba(66,99,50,1)')
  $('.comparator_background').css('background-color','transparent')
  $('.comparator_border').css('border-color','rgba(66,99,50,1)')
  $('.comparator_font').css('color','rgba(66,99,50,1)')
}
function comparatorNotActive(){
  $('.comparator_icon').css('color','grey')
  $('.comparator_background').css('background-color','transparent')
  $('.comparator_border').css('border-color','grey')
  $('.comparator_font').css('color','grey')
}
function comparatorCompleted(){
  $('.comparator_icon').css('color','white')
  $('.comparator_background').css('background-color','rgba(66,99,50,1)')
  $('.comparator_border').css('border-color','rgb(0,100,0)')
  $('.comparator_font').css('color','white')
}



function reviewActive(){
  reviewInformation()
  $('.review_icon').css('color','rgba(66,99,50,1)')
  $('.review_background').css('background-color','transparent')
  $('.review_border').css('border-color','rgba(66,99,50,1)')
  $('.review_font').css('color','rgba(66,99,50,1)')
}
function reviewNotActive(){
  $('.review_icon').css('color','grey')
  $('.review_background').css('background-color','transparent')
  $('.review_border').css('border-color','grey')
  $('.review_font').css('color','grey')
}
function reviewCompleted(){
  $('.review_icon').css('color','white')
  $('.review_background').css('background-color','rgba(66,99,50,1)')
  $('.review_border').css('border-color','rgb(0,100,0)')
  $('.review_font').css('color','white')
}
</script>
<script>

surveyActive()
benchmarkNotActive()
comparatorNotActive()
reviewNotActive()
</script>
<div class="modal fade" id="myModal1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Benchmark Summary</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body" id="vm">
       
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="myModal2">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Client Summary</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body" id="cm">
       
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
<script>
  function reviewInformation(){
    $('#review_benchmark_jobs').empty()

    var b= []
    var c =[]
    $("#selectedBenchmarks").find('.sb')
        .each(function() {

  $('#review_benchmark_jobs').append(`<li>${$(this).text()}<li>` )

        
   
       
       
        });
        $('#review_comparators').empty()
        $("#selectedComps").find('.sb')
        .each(function() {

          $('#review_comparators').append(`<li>${$(this).text()}<li>` )
   
       
       
        });


        $("#review_survey_name").html($("#survey_name").val())
        $("#review_client_name").html($("#browser").val())
        $("#review_industry").html($("#industry").val())
        $("#review_area_of_operation").html($("#area").val())
        $("#review_start_date").html($("#start_date").val())
  }
</script>


<script>
  function submit(){
    
var bench = []
var comps = []
    $("#selectedBenchmarks").find('.sb')
        .each(function() {

          bench.push($(this).attr("id") )
   
       
       
        });
    
        $("#selectedComps").find('.sb')
        .each(function() {

          comps.push($(this).attr("id") )
   
       
       
        });
    



$.ajax({

  url: '/survey_create',

  data: {

     bench: bench.toString(),
     comp: comps.toString(),
     survey : $("#survey_name").val(),
     client : $("#browser").val(),
 
     start_date : $("#start_date").val()

  },

  type: 'POST',

  success: function(res) {

    

    $('#successModal').modal()


  },

  error: function(error) {

      console.log(error);

  }

});



}
</script>
<script>
  function redirect(){
    window.location.href='/administration/surveys'

  }
</script>




<script>
  $("#browser").on('input', function(){

    

//localStorage.setItem('editId',$(elm).attr('data-id'));



$.ajax({

  url: '/compare',

  data: {

     id: $(this).val()

  },

  type: 'POST',

  success: function(res) {

    
console.log(res)


for(i=0 ; i<res.length;i++){
 var temp= JSON.stringify(res[i].id).split('"').join('')
 var cmp= JSON.stringify(res[i].company_name).split('"').join('')


 if($('#client_name').find("#b"+temp).length < 1){
 $("#client_name").append(`<option id="b${temp}" value="${cmp}">`)
 }
 
}

  },

  error: function(error) {

      console.log(error);

  }

});

  });
</script>


<script>
    $("#browser").change(function(){




$.ajax({

url: '/compss',

data: {

   id: $(this).val()

},

type: 'POST',

success: function(res) {

  
console.log(res)


for(i=0 ; i<res.length;i++){
//var temp= JSON.stringify(res[i].area).split('"').join('')
var ar= JSON.stringify(res[i].area).split('"').join('')
var ind= JSON.stringify(res[i].industry).split('"').join('')


$("#industry").val(ind)
$("#area").val(ar)

}

},

error: function(error) {

    console.log(error);

}

});




    });
</script>


    {% endblock content %}