
    {% extends "client_hub_layout.html" %}


   
    
    {% block content %}
    <style>
   #hero {
        width: 100%;
        height: 3vh;
        background: url("../static/img/home.jpg") top center;
        background-size: cover;
        position: relative;
    }

    #hero:before {
        content: "";
        background: rgba(20, 44, 9, 0.7);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero .container {
        text-align: center;
        padding-top: 50px;
    }

    @media (max-width: 992px) {
        #hero .container {
            padding-top: 0;
        }
    }

    #hero h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
    }

    #hero h2 {
        color: #eee;
        margin: 15px 0 0 0;
        font-size: 22px;
    }

    #hero .btn-get-started {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 9px 35px;
        border-radius: 50px;
        transition: 0.5s;
        margin-top: 40px;
        border: 2px solid #ffc107;
        color: #fff;
    }

    #hero .btn-get-started:hover {
        background: #ffc107;
    }

    @media (min-width: 1024px) {
        #hero {
            background-attachment: fixed;
        }
    }

    @media (max-width: 768px) {
        #hero {
            height: 100vh;
        }

        #hero h1 {
            font-size: 28px;
            line-height: 36px;
        }

        #hero h2 {
            font-size: 18px;
            line-height: 24px;
        }
    }
 

  .card {
    padding: 20px;
  }

  a {
    color: inherit;
  }
  
  #searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    padding-bottom: 2%;
  }

  #search_input {
    border-radius: 10px;
    outline: 0;
    width: 450px;
    line-height: 30px;
    padding: 0 10px;
  }

  #search_icon {
    color: rgb(17, 8, 8);
    margin-left: 5px;
  }

  .dropdowndown {
    padding: 10px;
    display:block;
  }

  #filterbutton {
    color: white;
    justify-content: center;
    
  }
 

#requests_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  padding-left:10%;
}

#requests_table td, #requests_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#requests_table tr:nth-child(even){
  background-color: #f2f2f2;
  }

#requests_table tr:hover {
  background-color: #ddd;
  }

#requests_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


.center {
  margin-left: auto;
  margin-right: auto;
}
#viewbutton{
  background-color: #1c31ec;
  border: none;
  color: white;
  padding: 7px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  
}
#searchForm{
  margin-left:50px;
}

</style>


<!--Header-->

<div class="row">
  <div class="col-12">
      <section id="hero" class="d-flex align-items-center justify-content-center"></section>
          <div class="container position-relative">
          

          </div>
      </section>
  </div>
</div>

<!--Body-->

<section  class="page-content">
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
  <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">  
    <a class="navbar-brand brand-logo" href="client_hub_layout.html"><img style = "width:80%; height:80%"src="{{ url_for('static', filename='img/Deloitte-black.png')}}" alt="logo"/></a>
   
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-sort-variant"></span>
    </button>
  </div>  
</div>
<div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
  <ul class="navbar-nav mr-lg-4 w-100">
    <li class="nav-item nav-search d-none d-lg-block w-100">
      <form method = 'POST' id='search' action = 'service_requests/searchrequest' class="dropdown p-2 ">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search">
              <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
          <input name="keyword" id ="search_input" type="text" class="form-control" placeholder="Search by name" aria-label="search" aria-describedby="search">
        
       
      </div>
    </form>
    </li>
  </ul>
  
  <ul class="navbar-nav navbar-nav-right">
    
    <li class="nav-item dropdown mr-1">
      <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
          <i class="fas fa-envelope"></i>
        <span class="count"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
        <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
        <a class="dropdown-item">
          <div class="item-thumbnail">
              <img src="{{ url_for('static', filename='img/face4.jpg')}}" alt="image" class="profile-pic">
          </div>
          <div class="item-content flex-grow">
            <h6 class="ellipsis font-weight-normal">John Doe
            </h6>
            <p class="font-weight-light small-text text-muted mb-0">
              The meeting is cancelled
            </p>
          </div>
        </a>
        <a class="dropdown-item">
          <div class="item-thumbnail">
              <img src="{{ url_for('static', filename='img/face3.jpg')}}" alt="image" class="profile-pic">
          </div>
          <div class="item-content flex-grow">
            <h6 class="ellipsis font-weight-normal">John Doe
            </h6>
            <p class="font-weight-light small-text text-muted mb-0">
              New product launch
            </p>
          </div>
        </a>
        <a class="dropdown-item">
          <div class="item-thumbnail">
              <img src="{{ url_for('static', filename='img/face2.jpg')}}" alt="image" class="profile-pic">
          </div>
          <div class="item-content flex-grow">
            <h6 class="ellipsis font-weight-normal"> John Doe
            </h6>
            <p class="font-weight-light small-text text-muted mb-0">
              Upcoming board meeting
            </p>
          </div>
        </a>
      </div>
    </li>
    <li class="nav-item dropdown mr-4">
      <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown">
          <i class="fa fa-bell" aria-hidden="true"></i>
        <span class="count"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
        <a class="dropdown-item">
          <div class="item-thumbnail">
            <div class="item-icon bg-success">
              <i class="mdi mdi-information mx-0"></i>
            </div>
          </div>
          <div class="item-content">
            <h6 class="font-weight-normal">Application Error</h6>
            <p class="font-weight-light small-text mb-0 text-muted">
              Just now
            </p>
          </div>
        </a>
        <a class="dropdown-item">
          <div class="item-thumbnail">
            <div class="item-icon bg-warning">
              <i class="fa fa-gear mx-0"></i>
            </div>
          </div>
          <div class="item-content">
            <h6 class="font-weight-normal">Settings</h6>
            <p class="font-weight-light small-text mb-0 text-muted">
              Private message
            </p>
          </div>
        </a>
        <a class="dropdown-item">
          <div class="item-thumbnail">
            <div class="item-icon bg-info">
              <i class="mdi mdi-account-box mx-0"></i>
            </div>
          </div>
          <div class="item-content">
            <h6 class="font-weight-normal">New user registration</h6>
            <p class="font-weight-light small-text mb-0 text-muted">
              2 days ago
            </p>
          </div>
        </a>
      </div>
    </li>
   
    <li class="nav-item nav-profile dropdown">
      <a class="nav-link dropdown" href="#" data-toggle="dropdown" id="profileDropdown">
        <img src="{{ url_for('static', filename='img/face5.jpg')}}" alt="profile"/>
        <span class="nav-profile-name">
          Welcome, {{ current_user.username }}! 
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
        <a class="dropdown-item">
          <i class="fa fa-user text-primary"></i>
          My Profile
        </a>
        <a class="dropdown-item">
          <i class="fa fa-poll text-primary"></i>
          Activities
        </a>
        <a class="dropdown-item">
          <i class="fa fa-cog text-primary"></i>
          Settings
        </a>
        <a class="dropdown-item" href ="{{  url_for('users.logout')}}">
          <i class="fa fa-power-off text-primary"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
  <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
    
  </button>
</div>
</nav>

  <section>

      <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                  
                <div class="mr-md-3 mr-xl-5">
                  <h2>Service Requests </h2>
                  <p class="mb-md-0">View service requests.</p>
                </div>
                <div class="d-flex">
                  <p class="text-muted mb-0 hover-cursor">Dashboard&nbsp;/&nbsp;</p>
                  <p class="text-primary mb-0 hover-cursor">Service Requests</p>
                </div>

              
                  <form method = 'POST' id='searchForm' action = 'service_requests/search' class="dropdown p-2 ">
                
                  <p class="text-muted mb-0 hover-cursor">Filter By:</p>
                  
                  <div class="input-group col-lg-4 col-md-12 form-control" style="max-width: 700px; padding: 0;">

                      {{searchform.selecttype}} 
                    
                    &nbsp;
                    
                      {{searchform.selectstatus}} 
                
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit" onclick="">
                        <i class="fa fa-search"></i>
                        </button>
                    </div>

                  </div>
                  </form>
               
              </div>
              
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                
          
              </div>
            </div>
          </div>
        </div>
  </section>

<div class="py-5">
  <div class="container">
  <table id="requests_table" class= "center table table-fixed">
    <thead>
      <tr >
      <th >Client Name</th>
      <th >E-mail</th>
      <th >Request</th>
      <th>Status</th>
      <th>Action</th>
      </tr>
      </thead>
    <div >
      <tbody>
      {% if ind %}
      {% for i in ind %}
        <div class="col-md-9">
          <tr>
          <div >
              <td >{{i.firstname}} {{other}} {{i.lastname}}</td>
              <td >{{i.email}} </td>
              <td >{{i.service}}</td>
              <td><span>{{i.status}}</span></td>
              <td>
                <button  type="button" value="View" onclick="viewIndRequests('{{i.id}}',this);" data-id="{{i.id}}" data-toggle="modal" href="#viewIndividualRequestModal">
                  <i   class="fas fa-eye"></i></button>          
              </td>
            </div>
          </tr>
        </div>
      {% endfor %}
      
      {% endif %}

      {% if corp %}
      {% for i in corp %}
      </tbody>
        <tbody>
        <div class="col-md-9">
          <tr>
          
            <div>
            
              <td >{{i.company_name}}</td>
              <td >{{i.company_email}}</td>
              <td >{{i.service}}</td>
              <td><span >{{i.status}}</span></td>
              <td>
                <button  type="button" onclick="viewCorpRequests('{{i.id}}',this)" data-id="{{i.id}}" data-toggle="modal" href="#viewCorporateRequestModal">
                  <i   class="fas fa-eye"></i></button>          
              </td>
            </div>
          </tr>
        </div>
        
      {% endfor %}
     
      {% endif %}
      
    </tbody>
      </div>



  </table>
</div>
</div>

<!-- Individual Request Modal -->

<div class="modal fade" id="viewIndividualRequestModal" role="dialog">
  <div class="modal-dialog modal-lg">
 
    <!-- Modal content-->
    <div class="modal-content">
      <form action="" method="POST" id="updateForm" onsubmit="updateIndRequest()">
      <div id="head" class="modal-header d-block" style="height: auto">    
      </div>
      <div id="body" class="modal-body">
        <!--Request Description-->
        
      </div>
    
      <div class="modal-footer">
        {{form.submit(class="btn btn-outline-success")}}
        <button type="reset" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
      </div>
     
  </form>
    </div>
    </div>
  </div>
<!--End of modal content-->
    
<!--End of modal-->
<script>
  $(document).ready(function() {
    $('#requests_table').DataTable();
} );
</script>
<script src="//code.jquery.com/jquery-3.5.1.js"></script>
<script src ="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src ="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script>
  function viewIndRequests(modal, element){
    localStorage.setItem('requestId', $(element).attr('data-id'))
    var id =$(element).attr('data-id')

    $.ajax({
      url: '/view_request/'+id,
      data: { 
       
      },
      type: 'POST',
      success: function(res){
        console.log(res)
        res1 = res[0]
       
        $('#head').html(
          `<div class="d-flex">
          <h4 class="modal-title"> ${res1.firstname} ${res1.lastname}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h6 style="color: gray;" class="modal-title">${res1.email}</h5>
          <p> <span style="color: gray;">${res1.address},  ${res1.city}, ${res1.country}
            </span></p>`
        )
        $('#body').html(
          `<div>
            <p>Request Type: <span style="color: gray;">${res1.type_of_request}</span></p>
            <p>Request Date: <span style="color: gray;">${res1.date_of_request}</span></p>
          <p>Request Title: <span style="color: gray;">${res1.service}</span></p>
          
        </div>
        <hr>
        <!--Change Status / Add Comments-->
        <div class="form-group">
            <p>Comments:
            <ol id="commentList" style="color: gray;">
              <li>Check your mail</li>
            </ol>
            </p>
                     
          {{form.comment.label(class="comment-label")}}
            {% if form.comment.errors %}
              {{ form.comment(class="form-control form-control is-invalid")}}
              <div class="invalid-feedback">
                  {% for error in form.comment.errors %}
                  <span> {{ error}}</span>
                  {% endfor %}
              </div>
              {% else %}
              {{ form.comment(class="form-control form-control") }}
              {% endif %}
  
         

        </div>
        <hr>
        <!--Change Status-->
        <div class="row">
          
       <div class="form-group">
          
        {{form.newstatus.label}}   
        {{ form.newstatus }}
  
      
      `
        )
        for (var i=0; i<res[1].comments.length; i++){
          $('#commentList').append('<li>' + res[1].comments[i] + '</li>')
        }
      },
      error: function(error){
        console.log(error)
      }
    })
  }

  function updateIndRequest(){
    var requestId = localStorage.getItem('requestId')
    document.getElementById('updateForm').action = 'service_requests/update/' + requestId
  }
</script>

<!-- Corporate Request Modal -->

<div class="modal fade" id="viewCorporateRequestModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="container" style="height: auto">
        <form method="POST" action=" " id="updateCorpForm" onsubmit="updateCorpRequest()"  style="display: inline">
            <br/>
           
            <fieldset class="form-group">
      <div id="corphead" class="modal-header d-block">
        
      </div>
      <div id="corpbody" class="modal-body">
        <!--Request Description-->
        
        <hr>
   
      </div>
    </fieldset>
    <div class="modal-footer">
      {{form.submit(class="btn btn-outline-success")}}
      <button type="reset" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
    </div>
     
    
    </form>
    </div>
  </div>
<!--End of modal content-->

    </div>

  </div>

<!--End of modal-->

<script>
  function viewCorpRequests(modal, element){
    localStorage.setItem('corprequestId', $(element).attr('data-id'))
    var corpid =$(element).attr('data-id')

    $.ajax({
      url: '/view_corprequest/'+corpid,
      data: { 
       
      },
      type: 'POST',
      success: function(result){
        console.log(result)
        res2 = result[0]
       
        $('#corphead').html(
          `<div class="d-flex">
          <h4 class="modal-title"> ${res2.company_name}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h6 style="color: gray;" class="modal-title">${res2.company_email}</h5>
        <p><span  style="color: gray;"> ${res2.postal_address}</span></p>`
        )
        $('#corpbody').html(
          `<div>
            <p>Request Type: <span style="color: gray;">${res2.type_of_request}</span></p>
            <p>Request Date: <span style="color: gray;">${res2.date_of_request}</span></p>
          <p>Request Title: <span style="color: gray;">${res2.service} </span></p>
            
        </div>
        <hr>
        <!--Change Status / Add Comments-->
        <div class="form-group">
            <p>Comments:
            <ol id="commentList" style="color: gray;">
              <li>Check your mail</li>
            </ol>
            </p>
                     
          {{form.comment.label(class="comment-label")}}
            {% if form.comment.errors %}
              {{ form.comment(class="form-control form-control is-invalid")}}
              <div class="invalid-feedback">
                  {% for error in form.comment.errors %}
                  <span> {{ error}}</span>
                  {% endfor %}
              </div>
              {% else %}
              {{ form.comment(class="form-control form-control") }}
              {% endif %}
  
          
          

        </div>
        <hr>
        <!--Change Status-->
        <div class="row">
          
       <div class="form-group">
        {{form.newstatus.label}} 
          {{ form.newstatus }}
  
         
      `
        )
        for (var i=0; i<result[1].comments.length; i++){
          $('#commentList').append('<li>' + result[1].comments[i] + '</li>')
        }
      },
      error: function(error){
        console.log(error)
      }
    })
  }

  function updateCorpRequest(){
    var requestId = localStorage.getItem('corprequestId')
    document.getElementById('updateCorpForm').action = 'service_requests/corpupdate/' + requestId
  }
</script>



  
{% endblock content %}


