
    
    {% extends "new_admin_layout.html" %}


   
    
    {% block content %}
    

    <style>
      #hero {
  width: 100%;
  height: 15vh;
  background: url("../static/img/home.jpg") top center;
  background-size: cover;
  position: relative;
  }
  
  #hero:before {
  content: "";
  background: rgba(20, 44, 9, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  }
  
  #hero .container {
  text-align: center;
  padding-top: 50px;
  }
  
  @media (max-width: 992px) {
  #hero .container {
    padding-top: 0;
  }
  }
  
  #hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  }
  
  #hero h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 22px;
  }
  
  #hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 40px;
  border: 2px solid #ffc107;
  color: #fff;
  }
  
  #hero .btn-get-started:hover {
  background: #ffc107;
  }
  
  @media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  }
  
  @media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  }
  </style>
    <div class="row">

    
      <div class="col-12">
        <section id="hero" class="d-flex align-items-center justify-content-center">
            <div class="container position-relative">
         <h2><b style="font-size: 40px;">View Clients </b></h2>
            
            </div>
          </section>
      </div>
  </div>

  <div class="row p-2 justify-content-center">
    <div class="col-12 text-center" style="height:50px">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
        {% for category, message in messages %}
        <div class="container">
        <div class="alert alert-{{ category}}">
            {{message}}
        </div>
    </div>
    

        {% endfor %}

        {% endif %}

      {% endwith %}
    </div>
  </div>
  <div class="p-4 " style="background-color:rgb(245, 243, 243)">
    <div class="card">
    <div class="row p-4">
      <div class="col-12">
    

      </div>
      <div class="col-12 pb-4 " style="color:grey">
Custom Filters <i class="icofont-filter"></i>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="sel1" style="color:grey">Status:</label>
          <select class="form-control" id="status" onchange="filter('status')">
            <option value="completed">Active</option>
            <option value="active">Inactive</option>
   
           
          </select>
        </div>
      </div>

        <div class="col-3">
          <div class="form-group">
            <label for="sel1" style="color:grey">Client:</label>
            <input list="clients" name="browser" id="client" onchange="filter('client')" class="form-control">
  <datalist id="clients">
    
      {% for item in query %}
      <option value="{{item.company_name}}">
      

      {% endfor %}
    
  </datalist>
          </div>
      </div>


      <div class="col-3">
        <div class="form-group">
          <label for="sel1" style="color:grey">Sector:</label>
          <select class="form-control" id="industry" onchange="filter('industry')">
          
            {% for item in query %}
      

              <option value="{{item.sector.id}}">{{item.sector.sector}}</option>
            
      
            {% endfor %}
           
          </select>
        </div>
    </div>




    </div>
    <div class="row p-4 ">
      <div class="col-12">
        <div class="row filter_box">

        </div>
      </div>
     
      <div class="col-12 pt-4" >
       <a href="#" style="color:grey" onclick="clear_filter()" > Discard Filters</a>
      </div>
      
    </div>
  <div class="row p-4" >


{% for item in query %}
<div class="col-4 p-4">

  <div class="card p-4 parent"  style="height:300px">
      <div class="row ">
         
          <div class="col-12 ">
        <div class="row">
          <div class="col-10">
            <h5><b>{{item.company_name}}</b></h5>
          </div>
          <div class="col-1">
            <a href="/administration/view_client/{{item.id}}" style="color:grey;cursor:pointer"><i class="icofont-eye-alt" ></i></a>
          </div>
          <div class="col-1">
            <a href="/administration/edit_client/{{item.id}}" style="color:grey;cursor:pointer"><i class="icofont-edit" ></i></a>
            
          </div>
         
        </div>
          </div>
          </div>
          <div class="row">
            <div class="col-12" style="color:grey;font-size:12px">
              <div class="row">
                <div class="col-5">
                  Contact Person
                </div>
                <div class="col-1">
                  :
                </div>
                <div class="col-6">
                  {{item.contact_person.first_name}} {{item.contact_person.other_names}}  {{item.contact_person.last_name}}  
                </div>
              </div>
           
            </div>
            <div class="col-12" style="color:grey;font-size:12px">
              <div class="row">
                <div class="col-5">
                Sector 
                </div>
                <div class="col-1">
                  :
                </div>
                <div class="col-6">
                  {{item.sector.sector}}
                </div>
              </div>
                
            </div>
            <div class="col-12" style="color:grey;font-size:12px">
              <div class="row">
                <div class="col-5">
                  Industry 
                </div>
                <div class="col-1">
                  :
                </div>
                <div class="col-6">
                 {{item.industry.industry}}
                </div>
              </div>
    
            </div>
            <div class="col-12" style="color:grey;font-size:12px">
              <div class="row">
                <div class="col-5">
                Area of Operation
                </div>
                <div class="col-1">
                  :
                </div>
                <div class="col-6">
                  {{item.area.area}}
                </div>
              </div>
                
            </div>
          </div>
  
          <div class="child">
           
              
            
            <div class="row ">
              <div class="col-12" >
                {% if item.status == 'Active'  %}
              <h4><span class="badge badge-success">Active</span></h4>
              {% elif item.status == 'active' %}
              <h4><span class="badge badge-success">Active</span></h4>
              {% else %}
              <h4><span class="badge badge-danger">Inactive</span></h4>
              {% endif %}
           
              </div>
              <div class="col-12" style="color:grey;font-size:12px">
                   
                Category :     Corporate
            
                
            </div>
            <div class="col-12 text-right ">
              <span data-toggle="collapse" data-target="#demo{{item.id}}" style="cursor: pointer;color: rgb(19, 98, 151);">Change Status <i class="icofont-settings-alt"></i></span>
        
        <div id="demo{{item.id}}" class="collapse">
          <form method="POST">
            <div class="form-group">
            <div class="form-check-inline">
              <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="c_status" value="active" checked>Active
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radio2" name="c_status" value="inactive">Inactive
              </label>
            </div>
          </div>
          <div class="form-group">
            <input type="hidden" name="client_id" value="{{item.id}}"/>
          </div>
            <div class="form-group">
            <button type="submit" class="btn btn-success">Confirm</button>
            </div>
          </form>
         
        </div>
            </div>
            
            </div>
          </div>
      </div>
  </div>
{% endfor %}







</div>
  

  </div>
</div>
</div>



 

    

</div>



<script>
  function filter(view){
if(view == 'status'){

  var unique = ($('#status').val()).trim().replace(/\s/g,'')

  if($("#" + unique).length == 0 ){
 $('.filter_box').prepend( '<div id="'+unique+'"class="col-1"><span class="badge badge-pill badge-info">'+$('#status').val()+' <span><i class="icofont-close-line-circled" onclick="remove_filter('+unique+')"></i></span></span></div>')
}
  }

  if(view == 'client'){

var unique = ($('#client').val()).trim().replace(/\s/g,'')

if($("#" + unique).length == 0 ){
$('.filter_box').prepend( '<div id="'+unique+'"class="col-1"><span class="badge badge-pill badge-warning">'+$('#client').val()+' <span><i class="icofont-close-line-circled" onclick="remove_filter('+unique+')"></i></span></span></div>')
}
}


if(view == 'industry'){

var unique = ($('#industry').val()).trim().replace(/\s/g,'')

if($("#" + unique).length == 0 ){
$('.filter_box').prepend( '<div id="'+unique+'"class="col-1"><span class="badge badge-pill badge-danger">'+$('#industry').val()+' <span><i class="icofont-close-line-circled" onclick="remove_filter('+unique+')"></i></span></span></div>')
}
}

if(view == 's_period'){

var unique = ($('#s_period').val())
unique = unique.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '')
unique = "a"+unique

if($("#" + unique).length == 0 ){
$('.filter_box').prepend( '<div id="'+unique+'"class="col-1"><span class="badge badge-pill badge-success">'+$('#s_period').val()+' <span><i class="icofont-close-line-circled" onclick="remove_filter('+unique+')"></i></span></span></div>')
}
}
  }
</script>

<script>
  function remove_filter(id){
   
    $(id).remove()
  }
</script>

<script>
  function clear_filter(){
    $('.filter_box').empty()
  }
</script>

    {% endblock content %}