
    {% extends "new_layout.html" %}

   
   
    
    {% block content %}
      <div class="row">
        <div class="col-12">
          <section id="hero" class="d-flex align-items-center justify-content-center">
              <div class="container position-relative">
                  <div class="row p-2 justify-content-center">
                     
                      <div class="col-12 pt-4 text-center">
                          <h1 style="color:white"><b>Ensure The Financial Wellbeing of Your Employees</b></h1>
                      </div>
                      <div class="col-6 pt-1 text-center" style="color:white">
                          Access accurate and relevant market data available, attract top talent to the organization and provide fair compensation in a seamless process - <b>All on a single and trusted platfrom</b> .
                      </div>
                      <div class="col-9 text-center" style="color:white">
                          <br/>
                         <div class="row text-center justify-content-center">
                           
                             <div class="col-3 text-center">
                                 <span class="btn btn-outline-light" style="border-width:5px"><b>Our Services</b></span>
                             </div>
                             <div class="col-3 text-center">
                              <span class="btn btn-outline-light" style="border-width:5px"><b>Request Services</b></span>
                          </div>
                         </div>
                      </div>
      
                  </div>
              
              </div>
            </section>
        </div>
    </div>
    <div class="p-4" style="background-color:rgb(245, 243, 243)">
    <div class="row p-4" >

      <div class="col-12 p-4 text-center">
          <h4>How a Modern Approach to Compensation Helps Your Business</h4>
      </div>
<div class="col-4 ">
<div class="row">
  <div class="col-12 justify-content-center p-4 text-center">
      <i class="ico icofont-badge"></i>
      <br/>
      
  </div>
  <div class="col-12 pl-4">
      <b style="color:rgba(66,99,50,1)"> Fairly Paid Employees</b>
      
  </div>

  <div class="col-12 pl-4 pt-1 pb-4 pr-4">
      A compensation survey will allow you to assess whether or not you are providing your employees with a fair compensation package.
      
  </div>

  
  
</div>
</div>


<div class="col-4 ">
  <div class="row">
      <div class="col-12 justify-content-center p-4 text-center">
          <i class="ico icofont-data"></i>
          <br/>
          
      </div>
      <div class="col-12 pl-4">
          <b style="color:rgba(66,99,50,1)"> Accurate Realtime Data</b>
          
      </div>
  
      <div class="col-12 pl-4 pt-1 pb-4 pr-4">
          A compensation survey on a regular basis, you will have current market data available to you to ensure you are able to offer a job quickly.
          
      </div>
  
      
      
  </div>
  </div>


  <div class="col-4 ">
      <div class="row">
          <div class="col-12 justify-content-center p-4 text-center">
              <i class=" ico icofont-automation"></i>
              <br/>
              
          </div>
          <div class="col-12 pl-4">
              <b style="color:rgba(66,99,50,1)"> Seamless and Convenient Process</b>
              
          </div>
      
          <div class="col-12 pl-4 pt-1 pb-4 pr-4">
              What some of your top competitors are paying, and what the current trends are. This will allow you to receive real-time data very quickly at all times
              
          </div>
      
          
          
      </div>
      </div>




    </div>
  </div>

  <div class="p-4" style="background: rgb(230,54,121);
  background: linear-gradient(90deg, rgba(230,54,121,1) 0%, rgba(61,107,46,1) 0%, rgba(66,99,50,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);">
      <div class="row p-4" >


          <div class="col-5 p-4">

              <br/>
              <h1 style="color:#fff">Set up your site,
                  pick a plan later</h1>
              <span style="color:#fff">Try Spin free for 14 days, no credit card required. Enterprise-grade solutions for high traffic websites, and large businesses.</span>
              
          </div>
          <div class="col-7 p-4">
              <div class="row">
                  <div class="col-6">
                      <div class="row">
                          <div class="col-12 text-center">
                              <i class="ico-white icofont-ui-office"></i>
                          </div>
                          <div class="col-12 p-4 text-center">
                              <span class="btn btn-outline-light">Corporate Request</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="row">
                          <div class="col-12 text-center">
                              <i class="ico-white icofont-user-alt-2"></i>
                          </div>
                          <div class="col-12 p-4 text-center">
                              <span class="btn btn-outline-light">Individual Request</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        




   




      </div>
    </div>

  <div class="row p-4">
      <div class="col-6 p-4">
          <div class="row p-4">
              <div class="col-12">
                  <h2>Get in touch</h2>
                  <br/>
Spin has a real team to support its customers and potential clients. Don't hesitate to ask us any questions.
<br/>
<br/>
<hr/>
              </div>

              <div class="col-12">
                  
                 <div class="row">
                     <div class="col-1 text-right">
                      <i class="icofont-home"></i>
                     </div>
                     <div class="col-5">
                        Plot No. 71, The Deloitte Place, Off George W. Bush Hwy, Accra
                     </div>
                     
                 </div>
                 <div class="row">
                  <div class="col-1 text-right">
                      <i class="icofont-phone"></i>
                  </div>
                  <div class="col-5">
                      030 277 5355
                  </div>
                  
              </div>
              
<br/>
<br/>
<hr/>
              </div>
          </div>
      </div>
      <div class="col-6 p-4">
          <div class="row">
          <div class="col-12">
              <div class="row">
                  <div class="col-lg-2 col-md-2">
                      <div class="form-group">
                          <label for="sel1">Title:</label>
                          <select class="form-control" id="sel1">
                            <option>Dr.</option>
                            <option>Miss</option>
                            <option>Mrs.</option>
                            <option>Mr.</option>
                            <option>Mrs.</option>
                            <option>Ms</option>
                            <option>Prof.</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-5 col-md-5">
                      <div class="form-group">
                          <label for="firstname" class="label">First Name</label>
                          <input type="text" name="firstname" id="firstname" class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-5 col-md-5">
                      <div class="form-group">
                          <label for="firstname" class="label">Last Name</label>
                          <input type="text" name="firstname" id="firstname" class="form-control">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                          <label for="email" class="label">Email</label>
                          <input type="email" name="email" id="email" class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                          <label for="mobile_number" class="label">Company Name</label>
                          <input type="text" name="mobile_number" id="mobile_number" class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                          <label for="mobile_number" class="label">Job title/Position</label>
                          <input type="text" name="mobile_number" id="mobile_number" class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                          <label for="mobile_number" class="label">Mobile Number</label>
                          <input type="text" name="mobile_number" id="mobile_number" class="form-control">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                          <label for="organisation" class="label"><b>*</b>Address 1</label>
                          <input type="text" name="organisation" id="organisation" class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                          <label for="job_title" class="label">Address 2</label>
                          <input type="text" name="job_title" id="job_title" class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                          <label for="job_title" class="label">City/Town</label>
                          <input type="text" name="job_title" id="job_title" class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                          <label for="job_title" class="label">Country/Location</label>
                          <input type="text" name="job_title" id="job_title" class="form-control">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <br/>
                  <div class="col-lg-12 col-md-12">
                      <div class="form-group">
                        <br/>
                          <div class="form-check-inline">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value=""> I have read and accept the <a style="color:rgba(66,99,50,1)"href="/privacy">Privacy Statement</a> and <a style="color:rgba(66,99,50,1)" href="/terms">Terms of Use</a>. 
                              </label>
                            </div>
                      </div>
                  </div>
              </div>

            
              <div class="row">
                  <div class="col-lg-12 col-md-12">
                      <div class="form-group">
                          <input type="submit" value="Submit" class="btn " style="color:white;background-color: rgba(66,99,50,1);">
                      </div>
                  </div>
              </div>
          </div>
          </div>
          </div>
      </div>

      

      <div class="row p-4">
          <div class="col-12">
              <div id="map"></div>
          </div>
      </div>


      <div class="row p-4" style="background-color:rgb(42, 42, 49)">
     
                  <div class="col-12 p-2" style="color:#fff">
                      <hr style="border-color: white;"/>
                      © 2020. See Terms of Use for more information.<br/>

                      Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as “Deloitte Global”) does not provide services to clients. Please see www.deloitte.com/about for a detailed description of DTTL and its member firms.
                  </div>
              </div>
        

      

  </div>
  {% endblock content %}