{% extends "new_admin_layout.html" %}


{% block content %}

<style>
    #hero {
width: 100%;
height: 30vh;
background: url("../static/img/home.jpg") top center;
background-size: cover;
position: relative;
}

#hero:before {
content: "";
background: rgba(20, 44, 9, 0.7);
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
}

#hero .container {
text-align: center;
padding-top: 50px;
}

@media (max-width: 992px) {
#hero .container {
  padding-top: 0;
}
}

#hero h1 {
margin: 0;
font-size: 48px;
font-weight: 700;
line-height: 56px;
color: #fff;
}

#hero h2 {
color: #eee;
margin: 15px 0 0 0;
font-size: 22px;
}

#hero .btn-get-started {
font-family: "Raleway", sans-serif;
font-weight: 500;
font-size: 15px;
letter-spacing: 1px;
display: inline-block;
padding: 9px 35px;
border-radius: 50px;
transition: 0.5s;
margin-top: 40px;
border: 2px solid #ffc107;
color: #fff;
}

#hero .btn-get-started:hover {
background: #ffc107;
}

@media (min-width: 1024px) {
#hero {
  background-attachment: fixed;
}
}

@media (max-width: 768px) {
#hero {
  height: 100vh;
}
#hero h1 {
  font-size: 28px;
  line-height: 36px;
}
#hero h2 {
  font-size: 18px;
  line-height: 24px;
}
}
</style>

   

     
    
      <div class="row">
          <div class="col-12">
            <section id="hero" class="d-flex align-items-center justify-content-center">
                <div class="container position-relative">
             <h2><b style="font-size: 40px;">Corporate Request Review</b></h2>
                
                </div>
              </section>
          </div>
      </div>
      <div class="p-4" style="background-color:rgb(245, 243, 243)">
      <div class="row p-4" >
<div class="col-12 p-4">

    <div class="card">
        <div class="row p-4">
            <div class="col-12">
                <h3>Corporate Request Review</h3>
               
            </div>
    
            <div class="col-12">
              <div class="row pt-4 pb-4">
                <div class="col-12">
        <div id="pg_one">
       
            
     <div class="row">
      <div class="col-12 ">
        <div class="row justify-content-center">
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
        </div>
           
       </div>
     </div>
     <br/>
     
     <div class="row p-4">
        <div class="col-12 text-center p-4">
            <b>Company Details</b>
        </div>

        <div class="col-5 pl-4" style="color: grey;">
            Registered Business Name 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sector : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Industry : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Area of Operation : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Financial Year End : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Company Type : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Postal Address : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Postal City : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Postal Country : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Street Address : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
           Street City : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Street Country : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Company Registration Number : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            VAT Number : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Telephone Number : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Fax Number : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
           Company Email : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Website Address : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Principal Shareholder and Shareholder Structure : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Corporate Shareholders and Shareholder Structure : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Date of Incorporation : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Country of Incorporation: 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Company Registration Documents : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Associate Companies : 
        </div>
        <div class="col-2 pl-4" style="color: grey;">
            : 
        </div>
        <div class="col-5 pl-4" style="color: grey;">
            Sample 
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12 text-right">
            <span class="btn btn-outline-success next_btn" id= "pg_one">
                Next
            </span>
        </div>
    </div>
     
     </div>
     
      
    
        </div>
    
        <div id="pg_two" style="display:none">
    
   
     <div class="row p-4">
      <div class="col-12 pt-4">
        <div class="row justify-content-center">
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
        </div>
           
       </div>
     </div>
     <br/>
     <br/>
     <div class="row p-4">
        <div class="col-12 p-4">
                     
            
        <div class="row">
            <div class="col-12 text-center p-4">
                <b>Chairman of Board</b>
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Firstname
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Lastname
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Other Names
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Nationality
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Email
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Phone Number
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>
        </div>

        <hr style="color: black;"/>

        <div class="row">
            <div class="col-12 text-center p-4">
                <b>Chief Executive Officer</b>
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Firstname
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Lastname
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Other Names
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Nationality
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Email
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Phone Number
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>
        </div>

        <hr style="color:black" />

        <div class="row">
            <div class="col-12  text-center p-4" >
                <b>Other Members of the Board</b>
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Firstname
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Lastname
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Other Names
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Nationality
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Email
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Phone Number
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>
        </div>


        <hr style="color:black"/>

        <div class="row">
            <div class="col-12 text-center p-4">
                <b>Key Management Personnel</b>
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Firstname
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Lastname
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Other Names
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Nationality
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Email
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>

            <div class="col-5 pl-4" style="color: grey;">
                Phone Number
            </div>
            <div class="col-2 pl-4" style="color: grey;">
                : 
            </div>
            <div class="col-5 pl-4" style="color: grey;">
                Sample 
            </div>
        </div>
     

       
    </div>
     </div>
    
     
     <br/>
     <div class="row">
         <div class="col-6 text-left">
             <span class="btn btn-outline-success back_btn pg_two" id= "pg_two" >
               Back
             </span>
         </div>
    
         <div class="col-6 text-right">
            <span class="btn btn-outline-success next_btn" id= "pg_two" >
                Next
            </span>
        </div>
     </div>
     
    
       
    
        </div>
    
        <div id="pg_three" style="display:none">
   
    
        
        <div class="row">
          <div class="col-12 pt-4">
            <div class="row justify-content-center">
              <div class="col-2">
               <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
              </div>
              <div class="col-2">
               <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
              </div>
              <div class="col-2">
               <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
              </div>
              <div class="col-2">
               <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
              </div>
              <div class="col-2">
               <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
              </div>
            </div>
               
           </div>
     </div>


     <div class="row p-4">
         <div class="col-12 ">

            <div class="row p-4">
                <div class="col-12 p-4 text-center">
                    <b>Current Auditor</b>
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Name
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    Address
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    City
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    Country
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>
                
            </div>

            <hr style="color:black" />

            <div class="row p-4">
                <div class="col-12 p-4 text-center">
                    <b>Previous Auditor</b>
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Name
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    Address
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    City
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    Country
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>
                
            </div>

            <hr style="color:black" />

            <div class="row p-4">
                <div class="col-12 p-4 text-center">
                    <b>Company Secretary</b>
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Name
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    Address
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    City
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    Country
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>
                
            </div>

            <hr style="color:black" />

            <div class="row p-4">
                <div class="col-12 p-4 text-center">
                    <b>Contact Person</b>
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Firstname
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    Lastname
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    Other Names
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                   Nationality
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                    Date of Birth
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                   Phone Number
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>

                <div class="col-5 pl-4" style="color: grey;">
                   Email
                </div>
                <div class="col-2 pl-4" style="color: grey;">
                    : 
                </div>
                <div class="col-5 pl-4" style="color: grey;">
                    Sample 
                </div>
                
            </div>
         </div>
     </div>
     
    
     <div class="row">
    
        <div class="col-6 text-left">
            <span class="btn btn-outline-success back_btn pg_three" id= "pg_three" >
              Back
            </span>
        </div>
         <div class="col-6 text-right">
             <span class="btn btn-outline-success next_btn" id= "pg_three">
                 Next
             </span>
         </div>
     </div>
        
    
        </div>
    
    
     
        <div class="row" id="pg_five" style="display:none">    
      
            
            
           
       
          <div class="col-12">
            <div class="col-12 pt-4">
              <div class="row justify-content-center ">
                <div class="col-2">
                 <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
                </div>
                <div class="col-2">
                 <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
                </div>
                <div class="col-2">
                 <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
                </div>
                <div class="col-2">
                 <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
                </div>
                <div class="col-2">
                 <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
                </div>
              </div>
                 
             </div>
         </div>
        
    
    <br/>
    <br/>
    
          <div class="col-12 text-center">
            <h3><b>Review Form</b></h3>
            <hr/>
          </div>
    
          <div class="col-12 p-4">
            <div class="row p-4">
              <div class="col-12 p-4 text-center">
                  <b>Company Details</b>
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Registered Business Name 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sector : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Industry : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Area of Operation : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Financial Year End : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Company Type : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Postal Address : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Postal City : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Postal Country : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Street Address : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                 Street City : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Street Country : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Company Registration Number : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  VAT Number : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Telephone Number : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Fax Number : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                 Company Email : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Website Address : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Principal Shareholder and Shareholder Structure : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Corporate Shareholders and Shareholder Structure : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Date of Incorporation : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Country of Incorporation: 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Company Registration Documents : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Associate Companies : 
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
          </div>
       
            <div class="row">
                <div class="col-12 ">
                    <div class="row p-4">
              <div class="col-12 p-4 text-center">
                  <b>Chairman of Board</b>
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Firstname
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Lastname
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Other Names
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Nationality
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Email
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Phone Number
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
            </div>
            </div>
    
     
            
    
          <div class="col-12 ">
            <div class="row p-4">
              <div class="col-12 p-4 text-center">
                  <b>Chief Executive Officer</b>
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Firstname
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Lastname
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Other Names
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Nationality
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Email
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Phone Number
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
          </div>
    
          <hr style="color:black" />
    
      
          
            <div class="row p-4" >
              <div class="col-12 p-4 text-center">
                  <b>Other Members of the Board</b>
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Firstname
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Lastname
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Other Names
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Nationality
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Email
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Phone Number
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
          </div>
       
            <div class="row p-4">
              <div class="col-12 p-4 text-center">
                  <b>Key Management Personnel</b>
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Firstname
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Lastname
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Other Names
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Nationality
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Email
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Phone Number
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
          </div>
        
            <div class="row p-4">
              <div class="col-12 p-4 text-center">
                  <b>Current Auditor</b>
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Name
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Address
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  City
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Country
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              
          </div>
    
      
            <div class="row p-4">
              <div class="col-12 p-4 text-center">
                  <b>Previous Auditor</b>
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Name
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Address
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  City
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Country
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              
          </div>
      
            <div class="row p-4" >
              <div class="col-12 p-4 text-center">
                  <b>Company Secretary</b>
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Name
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Address
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  City
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Country
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              
          </div>
    
     
            <div class="row p-4">
              <div class="col-12 p-4 text-center">
                  <b>Contact Person</b>
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Firstname
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Lastname
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Other Names
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                 Nationality
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                  Date of Birth
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                 Phone Number
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                 Email
              </div>
              <div class="col-2 pl-4" style="color: grey;">
                  : 
              </div>
              <div class="col-5 pl-4" style="color: grey;">
                  Sample 
              </div>
              
          </div>
    
    
              <div class="col-12 p-4 text-center">
                  <b>Brief History of Company and Operations </b>
              </div>
              <div class="col-12 pl-4" style="color: grey;">
                 sample history
                  <br/>
              </div>
    
              <div class="col-5 pl-4" style="color: grey;">
                 Service Request
               </div>
               <div class="col-2 pl-4" style="color: grey;">
                   : 
               </div>
               <div class="col-5 pl-4" style="color: grey;">
                   Sample 
               </div>
              
    
          </div>
    
          </div>
    
          </div>
          <br/>
          <div class="row p-4" >
            <div class="col-6 text-left">
                <span class="btn btn-outline-success back_btn" id= "pg_five" >
                  Back
                </span>
            </div>
       
            <div class="col-6 text-right">
         
               <a href="/requests/corporate"  class="btn btn-outline-danger"> Close</a>
                <span class="btn btn-outline-success next_btn" id= "pg_five" >
                  Submit
              </span>
            
          
               
           </div>
        </div>
    
          </div>
    
          
    
          </div>
    
          </div>
               
                                        
                    </div>
            </div>
        </div>
    </div>

</div>
      

      </div>
    </div>




        

    </div>


    <script>
      $(".next_btn").click(function(){
          $(window).scrollTop(0);
          if($(this).attr('id') == 'pg_one'){
             $('#pg_one').css('display','none')
             $('#pg_two').css('display','block')
          }
  
          if($(this).attr('id') == 'pg_two'){
             $('#pg_two').css('display','none')
             $('#pg_three').css('display','block')
          }
  
          if($(this).attr('id') == 'pg_three'){
             $('#pg_three').css('display','none')
             $('#pg_five').css('display','block')
          }
       
  
  });
  
  
  
  $(".back_btn").click(function(){
      $(window).scrollTop(0);
  
  if($(this).attr('id') == 'pg_two'){
     $('#pg_two').css('display','none')
     $('#pg_one').css('display','block')
  }
  
  if($(this).attr('id') == 'pg_three'){
     $('#pg_three').css('display','none')
     $('#pg_two').css('display','block')
  }

  if($(this).attr('id') == 'pg_five'){
     $('#pg_five').css('display','none')
     $('#pg_three').css('display','block')
  }
  
  });
  </script>
         {% endblock content %}