
    {% extends "new_admin_layout.html" %}


   
    
    {% block content %}
    <style>
      #hero {
  width: 100%;
  height: 30vh;
  background: url("../static/img/home.jpg") top center;
  background-size: cover;
  position: relative;
  }
  
  #hero:before {
  content: "";
  background: rgba(20, 44, 9, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  }
  
  #hero .container {
  text-align: center;
  padding-top: 50px;
  }
  
  @media (max-width: 992px) {
  #hero .container {
    padding-top: 0;
  }
  }
  
  #hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  }
  
  #hero h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 22px;
  }
  
  #hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 40px;
  border: 2px solid #ffc107;
  color: #fff;
  }
  
  #hero .btn-get-started:hover {
  background: #ffc107;
  }
  
  @media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  }
  
  @media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  }
  </style>
     
     
    
    <div class="row">
      <div class="col-12">
        <section id="hero" class="d-flex align-items-center justify-content-center">
            <div class="container position-relative">
         <h2><b style="font-size: 40px;">Create Client </b></h2>
            
            </div>
          </section>
      </div>
  </div>
  <div class="row">
    <div class="col-12" style="background-color: rgb(226, 223, 223);height:auto">
      <div class="row p-4 justify-content-center">
        <div class="col-md-2 col-sm-12 p-4">
            <div class="card  company_border company_background" style="height:100px;border-width: 3px;">
              <div class="row  justify-content-center text-center">
                <div class="col-12 justify-content-center text-center pt-2">
                  <i class="ico-wizard-white icofont-info-circle company_icon"></i><br/><b class="company_font"style="color:white">Company Details</b>
                </div>
              </div>
    

            </div>
          </div>


          <div class="col-md-2 col-sm-12 p-4">
            <div class="card management_border management_background" style="height:100px;background-color: transparent;border-width: 3px;border-color:rgba(66,99,50,1) ;">
              <div class="row  justify-content-center text-center">
                <div class="col-12 justify-content-center text-center pt-2">
                  <i class="ico-wizard-green icofont-ui-office management_icon"></i><br/><b class="management_font">Management Details</b>
                </div>
              </div>
    

            </div>
          </div>


          <div class="col-md-2 col-sm-12 p-4">
            <div class="card mailing_border mailing_background" style="height:100px;background-color: transparent;border-width: 3px;">
              <div class="row  justify-content-center text-center">
                <div class="col-12 justify-content-center text-center pt-2">
             
                  <i class="ico-wizard-grey icofont-mail-box mailing_icon"></i><br/><b class="mailing_font">Mailing Address</b>
                </div>
              </div>
    

            </div>
          </div>

          <div class="col-md-2 col-sm-12 p-4">
            <div class="card street_border street_background" style="height:100px;background-color: transparent;border-width: 3px;">
              <div class="row  justify-content-center text-center">
                <div class="col-12 justify-content-center text-center pt-2">
                  <i class="ico-wizard-grey icofont-home street_icon"></i><br/><b class="street_font">Street Address</b>
                </div>
              </div>
    

            </div>
          </div>


          <div class="col-md-2 col-sm-12 p-4">
            <div class="card registration_border registration_background" style="height:100px;background-color: transparent;border-width: 3px;">
              <div class="row  justify-content-center text-center">
                <div class="col-12 justify-content-center text-center pt-2">
                  <i class="ico-wizard-grey icofont-people registration_icon"></i><br/><b class="registration_font">Registration Details</b>
                </div>
              </div>
    

            </div>
          </div>

          <div class="col-md-2 col-sm-12 p-4">
            <div class="card contact_border contact_background" style="height:100px;background-color: transparent;border-width: 3px;">
              <div class="row  justify-content-center text-center">
                <div class="col-12 justify-content-center text-center pt-2">
                  <i class="ico-wizard-grey icofont-contacts contact_icon"></i><br/><b class="contact_font">Contact Person</b>
                </div>
              </div>
    

            </div>
          </div>


    
      </div>

    </div>
  </div>
  <div class="p-4" style="background-color:rgb(245, 243, 243)">
    

  <div class="row  " >
    <div class="col-3 pt-4 pl-4">
      <span style="color:grey">Create Client</span>
    </div>
    <div class="col-9 pt-4 pl-4">
      <span style="color:grey">Questions</span>
    </div>
 
<div class="col-md-3  col-sm-12 p-4">

<div class="card p-4">
    <div class="row ">
       
        <div class="col-12 ">
<b>Client Setup</b>
<br/>

<span class="pt-3"style="color:grey;font-size: 12px;">Created on 12/3/2019</span>

        </div>

        <div class="col-12 p-4">
          <hr/>
          <div class="row p-4">
            <div class="col-6 text-center">
              <h1><b class="green_shade">60</b></h1>
              <span style="color:grey;font-size: 12px;">Questions</span>

            </div>
            <div class="col-6 text-center">
              <h1><b class="green_shade">6</b></h1>
              <span style="color:grey;font-size: 12px;">Sections</span>

            </div>
          </div>
          <hr/>

        </div>
        </div>
    </div>
</div>


<div class="col-md-9 col-sm-12 p-4">

  <div class="row  company_details">
    <div class="col-12 pl-4 pr-4 pb-4 ">
      <div class="card p-4" style="border-color: green;">
        <div class="row ">

          <div class="col-12 text-center">

        <b class="green_shade">Company Details</b>
        <hr/>
          </div>

          <div class="col-12 p-4">
           
            <label class="green_shade"><b>Registered Company Name</b></label>
            <input type="text" class="form-control" />
          </div>
       

          <div class="col-4 p-4">
           
            <label class="green_shade"><b>Sector</b></label>
            <div class="form-group">

              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>


          <div class="col-4 p-4">
           
            <label class="green_shade"><b>Industry</b></label>
            <div class="form-group">

              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>


          <div class="col-4 p-4">
           
            <label class="green_shade"><b>Area of Operation</b></label>
            <div class="form-group">

              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
       
          
          <div class="col-4 p-4">
           
            <label class="green_shade"><b>Financial Year End</b></label>
            <input type="text" class="form-control" />
          </div>


          <div class="col-4 p-4">
           
            <label class="green_shade"><b>Company Type</b></label>
            <input type="text" class="form-control" />
          </div>


          <div class="col-4 p-4">
           
            <label class="green_shade"><b>VAT Number</b></label>
            <input type="text" class="form-control" />
          </div>
           

          <div class="col-4 p-4 ">
           
            <label class="green_shade"><b>Telephone</b></label>
            <input type="text" class="form-control" />
          </div>


          <div class="col-4 p-4">
           
            <label class="green_shade"><b>Fax Number</b></label>
            <input type="text" class="form-control" />
          </div>

          <div class="col-4 p-4">
           
            <label class="green_shade"><b>Email Address</b></label>
            <input type="text" class="form-control" />
          </div>

          <div class="col-6 p-4">
           
            <label class="green_shade"><b>Website Address</b></label>
            <input type="text" class="form-control" />
          </div>


          <div class="col-6 p-4 ">
           
            <label class="green_shade"><b>Date of Incorporation</b></label>
            <input type="text" class="form-control" />
          </div>

          <div class="col-4 p-4">
            
            <label class="green_shade"><b>Country of Incorporation</b></label>
            <input type="text" class="form-control" />
          </div>
    
            </div>
        </div>

    </div>



 

    








   

    <div class="col-12 text-right pl-4 pr-4 pb-4">
     <span class="btn btn-outline-success" onclick="switchnext('company_details')"> Next </span>
    </div>


  </div>





  <div class="row management" >
    
   

<div class="col-12 chairman" style="display:none">


   

<div class="row">

   
    <div class="col-12 p-4">
        <div class="row justify-content-center">
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
            <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
           </div>
        </div>
           
       </div>
    <div class="col-12 pl-4 pr-4 pb-4">
        <div class="card p-4" style="border-color: green;">
          <div class="row ">
            <div class="col-12 text-center">

              <b class="green_shade">Board Chairman</b>
              <hr/>
                </div>
            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Firstname</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Lastname</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Other Name</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Email Address</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Nationality</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Phone Number</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>
           

          
           
             
      
              </div>
          </div>

      </div>

      <div class="col-12 text-right pl-4 pr-4 pb-4">
        <div class="row">
          <div class="col-6 text-left">
            <span class="btn btn-outline-success" onclick="switchback('chairman')"> Back </span>
            
          </div>
          <div class="col-6 text-right">
            <span class="btn btn-outline-success" onclick="switchnext('chairman')"> Next </span>

          </div>
         
        </div>
        
       </div>
      
</div>
</div>



<div class="col-12 ceo" style="display:none">
<div class="row">
  
   
    <div class="col-12 p-4">
        <div class="row justify-content-center">
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
            <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
           </div>
        </div>
           
       </div>
    <div class="col-md-12 col-sm-12 pl-4 pr-4 pb-4">
        <div class="card p-4" style="border-color: green;">
     
            <div class="row ">
              <div class="col-12 text-center">

                <b class="green_shade">Chief Executive Officer</b>
                <hr/>
                  </div>
              <div class="col-6 ">
               
                <div class="form-group">
                  <label class="green_shade"><b>Firstname</b></label>
                  <input type="text" class="form-control" id="start_date" name="Start Date">
                </div>

              </div>

              <div class="col-6 ">
               
                <div class="form-group">
                  <label class="green_shade"><b>Lastname</b></label>
                  <input type="text" class="form-control" id="start_date" name="Start Date">
                </div>

              </div>

              <div class="col-4 ">
               
                <div class="form-group">
                  <label class="green_shade"><b>Other Name</b></label>
                  <input type="text" class="form-control" id="start_date" name="Start Date">
                </div>

              </div>

              <div class="col-4 ">
               
                <div class="form-group">
                  <label class="green_shade"><b>Email Address</b></label>
                  <input type="text" class="form-control" id="start_date" name="Start Date">
                </div>

              </div>

              <div class="col-4 ">
               
                <div class="form-group">
                  <label class="green_shade"><b>Nationality</b></label>
                  <input type="text" class="form-control" id="start_date" name="Start Date">
                </div>

              </div>

              <div class="col-4 ">
               
                <div class="form-group">
                  <label class="green_shade"><b>Phone Number</b></label>
                  <input type="text" class="form-control" id="start_date" name="Start Date">
                </div>

              </div>
             

            
             
               
        
                </div>
             
      
              
          </div>

      </div>
      <div class="col-12 text-right pl-4 pr-4 pb-4">
        <div class="row">
          <div class="col-6 text-left">
            <span class="btn btn-outline-success" onclick="switchback('ceo')"> Back </span>
            
          </div>
          <div class="col-6 text-right">
            <span class="btn btn-outline-success" onclick="switchnext('ceo')"> Next </span>

          </div>
         
        </div>
        
       </div>
</div>
</div>


<div class="col-12 key" style="display:none">
<div class="row">
 
   
    <div class="col-12 p-4">
        <div class="row justify-content-center">
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
            <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
           </div>
        </div>
           
       </div>
    <div class="col-md-12 col-sm-12 pl-4 pr-4 pb-4">
        <div class="card p-4" style="border-color: green;">
          <div class="row ">
            <div class="col-12 text-center">

              <b class="green_shade">Key Management Personnel</b>
              <hr/>
                </div>
            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Firstname</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Lastname</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Other Name</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Email Address</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Nationality</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Phone Number</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>
           

          
           
             
      
              </div>
          </div>

      </div>
      <div class="col-12 text-right pl-4 pr-4 pb-4">
        <div class="row">
          <div class="col-6 text-left">
            <span class="btn btn-outline-success" onclick="switchback('key')"> Back </span>
            
          </div>
          <div class="col-6 text-right">
            <span class="btn btn-outline-success" onclick="switchnext('key')"> Next </span>

          </div>
         
        </div>
        
       </div>
     
</div>
</div>


<div class="col-12 previous_auditor" style="display:none">
<div class="row">
 
   
    <div class="col-12 p-4">
        <div class="row justify-content-center">
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
            <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
           </div>
        </div>
           
       </div>
    <div class="col-md-12 col-sm-12 pl-4 pr-4 pb-4">
        <div class="card p-4" style="border-color: green;">
          <div class="row ">
            <div class="col-12 text-center">

              <b class="green_shade">Previous Auditor</b>
              <hr/>
                </div>
            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Name</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Address</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>City</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Country</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

    
          
           

          
           
             
      
              </div>
          </div>

      </div>

      <div class="col-12 text-right pl-4 pr-4 pb-4">
        <div class="row">
          <div class="col-6 text-left">
            <span class="btn btn-outline-success" onclick="switchback('previous_auditor')"> Back </span>
            
          </div>
          <div class="col-6 text-right">
            <span class="btn btn-outline-success" onclick="switchnext('previous_auditor')"> Next </span>

          </div>
         
        </div>
        
       </div>
    

   
</div>
</div>



<div class="col-12 current_auditor" style="display:none">
<div class="row">
 
   
    <div class="col-12 p-4">
        <div class="row justify-content-center">
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
            <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgb(245, 243, 300); border-radius: 25px;"></div>
           </div>
        </div>
           
       </div>
    <div class="col-md-12 col-sm-12 pl-4 pr-4 pb-4">
        <div class="card p-4" style="border-color: green;">
          <div class="row ">
            <div class="col-12 text-center">

              <b class="green_shade">Current Auditor</b>
              <hr/>
                </div>
            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Name</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Address</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>City</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Country</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

    
          
           

          
           
             
      
              </div>
          </div>

      </div>

    

      <div class="col-12 text-right pl-4 pr-4 pb-4">
        <div class="row">
          <div class="col-6 text-left">
            <span class="btn btn-outline-success" onclick="switchback('current_auditor')"> Back </span>
            
          </div>
          <div class="col-6 text-right">
            <span class="btn btn-outline-success" onclick="switchnext('current_auditor')"> Next </span>

          </div>
         
        </div>
        
       </div>

   
</div>
</div>


<div class="col-12 company_sec" style="display:none">
<div class="row">
 
   
    <div class="col-12 p-4">
        <div class="row justify-content-center">
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
           <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
          </div>
          <div class="col-2">
            <div class="divider"style="width:100% ;border-style : solid ; border-width:5px; border-color:rgba(66,99,50,1); border-radius: 25px;"></div>
           </div>
           
        </div>
           
       </div>
    <div class="col-md-12 col-sm-12 pl-4 pr-4 pb-4">
        <div class="card p-4" style="border-color: green;">
          <div class="row ">
            <div class="col-12 text-center">

              <b class="green_shade">Company Secretary</b>
              <hr/>
                </div>
            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Name</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Address</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>City</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Country</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

    
          
           

          
           
             
      
              </div>
          </div>

      </div>

      <div class="col-12 text-right pl-4 pr-4 pb-4">
        <div class="row">
          <div class="col-6 text-left">
            <span class="btn btn-outline-success" onclick="switchback('company_sec')"> Back </span>
            
          </div>
          <div class="col-6 text-right">
            <span class="btn btn-outline-success" onclick="switchnext('company_sec')"> Next </span>

          </div>
         
        </div>
        
       </div>

   
</div>
</div>






   




  </div>




  <div class="row mailing" style="display:none">
    







    <div class="col-12 pl-4 pr-4 pb-4">
      <div class="row">

     
        <div class="col-12">
         <div class="card p-4" style="border-color: rgba(66,99,50,1);">
          <div class="row ">

            <div class="col-12 text-center">

              <b class="green_shade">Mailing Address</b>
              <hr/>
                </div>
             
            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Street line 1</b></label>
                <textarea cols="3" rows="3" class="form-control"></textarea>
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Street line 2</b></label>
                <textarea cols="3" rows="3" class="form-control"></textarea>
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>City/Town</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Region</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Country</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

    
          
           

          
           
             
      
              </div>
        </div>
        </div>
  
          
      </div>


    </div>

    <div class="col-12 text-right pl-4 pr-4 pb-4">
      <div class="row">
        <div class="col-6 text-left">
          <span class="btn btn-outline-success" onclick="switchback('mailing')"> Back </span>

        </div>
        <div class="col-6 text-right">
     
          <span class="btn btn-outline-success" onclick="switchnext('mailing')"> Next </span>
          
        </div>
      </div>
      
     </div>


  </div>


  <div class="row street" style="display:none">
    







    <div class="col-12 pl-4 pr-4 pb-4">
      <div class="row">

     
        <div class="col-12">
         <div class="card p-4" style="border-color: rgba(66,99,50,1);">
          <div class="row ">
            <div class="col-12 text-center">

              <b class="green_shade">Street Address</b>
              <hr/>
                </div>
            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Building</b></label>
                <textarea cols="2" rows="2" class="form-control"></textarea>
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Street</b></label>
                <textarea cols="2" rows="2" class="form-control"></textarea>
              </div>

            </div>

            <div class="col-6">
             
              <div class="form-group">
                <label class="green_shade"><b>City/Town</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

   

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Country</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

    
          
           

          
           
             
      
              </div>
        </div>
        </div>
  
          
      </div>


    </div>

    <div class="col-12 text-right pl-4 pr-4 pb-4">
      <div class="row">
        <div class="col-6 text-left">
          <span class="btn btn-outline-success" onclick="switchback('street')"> Back </span>

        </div>
        <div class="col-6 text-right">
     
          <span class="btn btn-outline-success" onclick="switchnext('street')"> Next </span>
          
        </div>
      </div>
      
     </div>


  </div>

  <div class="row registration" style="display:none">
    







    <div class="col-12 pl-4 pr-4 pb-4">
      <div class="row">

     
        <div class="col-12">
         <div class="card p-4" style="border-color: rgba(66,99,50,1);">
          <div class="row ">
      
            <div class="col-12 text-center">

              <b class="green_shade">Registration Details</b>
              <hr/>
                </div>
         

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Registration Number</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-6 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Tax ID</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

        

    
          
           

          
           
             
      
              </div>
        </div>
        </div>
  
          
      </div>


    </div>

    <div class="col-12 text-right pl-4 pr-4 pb-4">
      <div class="row">
        <div class="col-6 text-left">
          <span class="btn btn-outline-success" onclick="switchback('registration')"> Back </span>

        </div>
        <div class="col-6 text-right">
     
          <span class="btn btn-outline-success" onclick="switchnext('registration')"> Next </span>
          
        </div>
      </div>
      
     </div>


  </div>


  <div class="row contact" style="display:none">
    







    <div class="col-12 pl-4 pr-4 pb-4">
      <div class="row">

     
        <div class="col-12">
         <div class="card p-4" style="border-color: rgba(66,99,50,1);">
          <div class="row ">
            <div class="col-12 text-center">

              <b class="green_shade">Contact Person</b>
              <hr/>
                </div>
            <div class="col-3 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Firstname</b></label>
              <input type="text" class="form-control"/>
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Middlename</b></label>
                <input type="text" class="form-control"/>
              </div>

            </div>

            <div class="col-5 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Lastname</b></label>
                <input type="text" class="form-control"/>
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Job Title</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Email Address</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

            <div class="col-4 ">
             
              <div class="form-group">
                <label class="green_shade"><b>Phone</b></label>
                <input type="text" class="form-control" id="start_date" name="Start Date">
              </div>

            </div>

    
          
           

          
           
             
      
              </div>
        </div>
        </div>
  
          
      </div>


    </div>

    <div class="col-12 text-right pl-4 pr-4 pb-4">
      <div class="row">
        <div class="col-6 text-left">
          <span class="btn btn-outline-success" onclick="switchback('contact')"> Back </span>

        </div>
        <div class="col-6 text-right">
     
          <span class="btn btn-outline-success" onclick="switchnext('contact')"> Next </span>
          
        </div>
      </div>
      
     </div>


  </div>





  <div class="row review" style="display:none">
    <div class="col-12 pl-4 pr-4 pb-4">
      <div class="row ">
        <div class="col-12 reviewform">
          <div class="card p-4" style="border-color: green;">
           
            <div class="row">
              <div class="col-12 text-center">
                <i class="ico icofont-check-circled"></i>
                <h2><b class="green_shade">Review</b></h2>
                <hr/>
              </div>
            </div>
          <div class="row pt-4 ">
            <div class="col-lg-6 col-md-12">
              <b>Survey Name: </b> <span id="review_survey_name"></span>
            </div>
            <div class="col-lg-6 col-md-12">
              <b>Client: </b> <span id="review_client_name"></span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <b>Industry: </b> <span id="review_industry"></span>
            </div>
            <div class="col-lg-6 col-md-12">
              <b>Area of Operation: </b><span id="review_area_of_operation"></span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <b>Start Date: </b><span id="review_start_date"></span>
            </div>
           
          </div>
          <hr>
          <div class="row mb-2">
            <div class="col-lg-6 col-md-12">
              <b>Benchmark Jobs</b><br>
              <ul id="review_benchmark_jobs">
         
              </ul>
              
            </div>
            <div class="col-lg-6 col-md-12">
              <b>Comparators</b><br>
              <ul id="review_comparators">
         
              </ul>
              
            </div>
           
          </div>
          <hr>
        </div>
        </div>
      
      </div>
          <div class="row pt-4">
            <div class="col-6 text-left">
              <span class=" btn btn-outline-success"   onclick="switchback('review')">Back</span>
      
      
            </div>
            <div class="col-6 text-right">
              <span class="btn  btn-success"  data-toggle="modal" data-target="#confirm_modal">Submit</span>
      
            </div>
        </div>
    </div>
  </div>


 


</div>

</div>
  

  </div>
</div>



    <div class="row p-4" style="background-color:rgb(42, 42, 49)">
   
                <div class="col-12 p-2" style="color:#fff">
                    <hr style="border-color: white;"/>
                    © 2020. See Terms of Use for more information.<br/>

                    Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as “Deloitte Global”) does not provide services to clients. Please see www.deloitte.com/about for a detailed description of DTTL and its member firms.
                </div>
            </div>
      

    

</div>

<script>
function switchnext(form){
$(window).scrollTop(0);
if(form == 'company_details'){
  $('.company_details').css('display','none')
  $('.chairman').css('display','block')
  companyCompleted()
  managementActive()
  
}
if(form == 'chairman'){
  $('.chairman').css('display','none')
  $('.ceo').css('display','block')

}
if(form == 'ceo'){
  $('.ceo').css('display','none')
  $('.key').css('display','block')

}
if(form == 'key'){
  $('.key').css('display','none')
  $('.previous_auditor').css('display','block')

}

if(form == 'previous_auditor'){
  $('.previous_auditor').css('display','none')
  $('.current_auditor').css('display','block')

}

if(form == 'current_auditor'){
  $('.current_auditor').css('display','none')
  $('.company_sec').css('display','block')

}

if(form == 'company_sec'){
  $('.company_sec').css('display','none')
  $('.mailing').css('display','block')
 
  managementCompleted()
 mailingActive()
}


if(form == 'mailing'){
  $('.mailing').css('display','none')
  $('.street').css('display','block')
 
  mailingCompleted()
  streetActive()
}

if(form == 'street'){
  $('.registration').css('display','')
  $('.street').css('display','none')
 
  streetCompleted()
  registrationActive()
}

if(form == 'registration'){
  $('.contact').css('display','')
  $('.registration').css('display','none')
 
  registrationCompleted()
  contactActive()
}

if(form == 'contact'){
  $('.contact').css('display','none')
  $('.review').css('display','')
 
  contactCompleted()
  reviewActive()
}

}
</script>

<script>
function switchback(form){
$(window).scrollTop(0);

if(form == 'chairman'){
  $('.chairman').css('display','none')
  $('.company_details').css('display','block')

  managementNotActive()
  companyActive()

 
}

if(form == 'ceo'){
  $('.ceo').css('display','none')
  $('.chairman').css('display','block')

 
}

if(form == 'key'){
  $('.key').css('display','none')
  $('.ceo').css('display','block')

 
}


if(form == 'previous_auditor'){
  $('.previous_auditor').css('display','none')
  $('.key').css('display','block')

 
}


if(form == 'current_auditor'){
  $('.current_auditor').css('display','none')
  $('.previous_auditor').css('display','block')

 
}


if(form == 'company_sec'){
  $('.company_sec').css('display','none')
  $('.current_auditor').css('display','block')

 
}


if(form == 'mailing'){
  $('.mailing').css('display','none')
  $('.company_sec').css('display','block')

  mailingNotActive()
  managementActive()
}

if(form == 'street'){
  $('.street').css('display','none')
  $('.mailing').css('display','block')

  streetNotActive()
  mailingActive()
}

if(form == 'registration'){
  $('.registration').css('display','none')
  $('.street').css('display','block')
  registrationNotActive()
  streetActive()
}
if(form == 'contact'){
  $('.contact').css('display','none')
  $('.registration').css('display','block')
  contactNotActive()
  registrationActive()
}
if(form == 'review'){
  $('.review').css('display','none')
  $('.comparators').css('display','block')
  reviewNotActive()
  contactActive()
}

}
</script>

<script>
function companyActive(){
$('.company_icon').css('color','rgba(66,99,50,1)')
$('.company_background').css('background-color','transparent')
$('.company_border').css('border-color','rgba(66,99,50,1)')
$('.company_font').css('color','rgba(66,99,50,1)')
}
function companyNotActive(){
$('.company_icon').css('color','grey')
$('.company_background').css('background-color','transparent')
$('.company_border').css('border-color','grey')
$('.company_font').css('color','grey')
}
function companyCompleted(){
$('.company_icon').css('color','white')
$('.company_background').css('background-color','rgba(66,99,50,1)')
$('.company_border').css('border-color','rgb(0,100,0)')
$('.company_font').css('color','white')
}




function managementActive(){
$('.management_icon').css('color','rgba(66,99,50,1)')
$('.management_background').css('background-color','transparent')
$('.management_border').css('border-color','rgba(66,99,50,1)')
$('.management_font').css('color','rgba(66,99,50,1)')
}
function managementNotActive(){
$('.management_icon').css('color','grey')
$('.management_background').css('background-color','transparent')
$('.management_border').css('border-color','grey')
$('.management_font').css('color','grey')
}
function managementCompleted(){
$('.management_icon').css('color','white')
$('.management_background').css('background-color','rgba(66,99,50,1)')
$('.management_border').css('border-color','rgb(0,100,0)')
$('.management_font').css('color','white')
}




function mailingActive(){
$('.mailing_icon').css('color','rgba(66,99,50,1)')
$('.mailing_background').css('background-color','transparent')
$('.mailing_border').css('border-color','rgba(66,99,50,1)')
$('.mailing_font').css('color','rgba(66,99,50,1)')
}
function mailingNotActive(){
$('.mailing_icon').css('color','grey')
$('.mailing_background').css('background-color','transparent')
$('.mailing_border').css('border-color','grey')
$('.mailing_font').css('color','grey')
}
function mailingCompleted(){
$('.mailing_icon').css('color','white')
$('.mailing_background').css('background-color','rgba(66,99,50,1)')
$('.mailing_border').css('border-color','rgb(0,100,0)')
$('.mailing_font').css('color','white')
}



function streetActive(){
$('.street_icon').css('color','rgba(66,99,50,1)')
$('.street_background').css('background-color','transparent')
$('.street_border').css('border-color','rgba(66,99,50,1)')
$('.street_font').css('color','rgba(66,99,50,1)')
}
function streetNotActive(){
$('.street_icon').css('color','grey')
$('.street_background').css('background-color','transparent')
$('.street_border').css('border-color','grey')
$('.street_font').css('color','grey')
}
function streetCompleted(){
$('.street_icon').css('color','white')
$('.street_background').css('background-color','rgba(66,99,50,1)')
$('.street_border').css('border-color','rgb(0,100,0)')
$('.street_font').css('color','white')
}


function registrationActive(){
$('.registration_icon').css('color','rgba(66,99,50,1)')
$('.registration_background').css('background-color','transparent')
$('.registration_border').css('border-color','rgba(66,99,50,1)')
$('.registration_font').css('color','rgba(66,99,50,1)')
}
function registrationNotActive(){
$('.registration_icon').css('color','grey')
$('.registration_background').css('background-color','transparent')
$('.registration_border').css('border-color','grey')
$('.registration_font').css('color','grey')
}
function registrationCompleted(){
$('.registration_icon').css('color','white')
$('.registration_background').css('background-color','rgba(66,99,50,1)')
$('.registration_border').css('border-color','rgb(0,100,0)')
$('.registration_font').css('color','white')
}


function contactActive(){
$('.contact_icon').css('color','rgba(66,99,50,1)')
$('.contact_background').css('background-color','transparent')
$('.contact_border').css('border-color','rgba(66,99,50,1)')
$('.contact_font').css('color','rgba(66,99,50,1)')
}
function contactNotActive(){
$('.contact_icon').css('color','grey')
$('.contact_background').css('background-color','transparent')
$('.contact_border').css('border-color','grey')
$('.contact_font').css('color','grey')
}
function contactCompleted(){
$('.contact_icon').css('color','white')
$('.contact_background').css('background-color','rgba(66,99,50,1)')
$('.contact_border').css('border-color','rgb(0,100,0)')
$('.contact_font').css('color','white')
}


function reviewActive(){
$('.review_icon').css('color','rgba(66,99,50,1)')
$('.review_background').css('background-color','transparent')
$('.review_border').css('border-color','rgba(66,99,50,1)')
$('.review_font').css('color','rgba(66,99,50,1)')
}
function reviewNotActive(){
$('.review_icon').css('color','grey')
$('.review_background').css('background-color','transparent')
$('.review_border').css('border-color','grey')
$('.review_font').css('color','grey')
}
function reviewCompleted(){
$('.review_icon').css('color','white')
$('.review_background').css('background-color','rgba(66,99,50,1)')
$('.review_border').css('border-color','rgb(0,100,0)')
$('.review_font').css('color','white')
}
</script>
<script>

companyActive()
managementNotActive()
mailingNotActive()
streetNotActive()
registrationNotActive()
contactNotActive()
reviewNotActive()
</script>

    {% endblock content %}