
    {% extends "new_admin_layout.html" %}


   
    
    {% block content %}

    <style>
      #hero {
  width: 100%;
  height: 15vh;
  background: url("../static/img/home.jpg") top center;
  background-size: cover;
  position: relative;
  }
  
  #hero:before {
  content: "";
  background: rgba(20, 44, 9, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  }
  
  #hero .container {
  text-align: center;
  padding-top: 50px;
  }
  
  @media (max-width: 992px) {
  #hero .container {
    padding-top: 0;
  }
  }
  
  #hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  }
  
  #hero h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 22px;
  }
  
  #hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 40px;
  border: 2px solid #ffc107;
  color: #fff;
  }
  
  #hero .btn-get-started:hover {
  background: #ffc107;
  }
  
  @media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  }
  
  @media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  }
  </style>
    <div class="row">
      <div class="col-12">
        <section id="hero" class="d-flex align-items-center justify-content-center">
            <div class="container position-relative">
         <h2><b style="font-size: 40px;">View Surveys </b></h2>
            
            </div>
          </section>
      </div>
  </div>
  <div class="p-4" style="background-color:rgb(245, 243, 243)">
    <div class="card">
    <div class="row p-4">
      <div class="col-12 pb-4 " style="color:grey">
Custom Filters <i class="icofont-filter"></i>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="sel1" style="color:grey">Status:</label>
          <select class="form-control" class="filter" id="status" onchange="filter('status')">
            <option ></option>
            
            <option value="in Progress">In Progress</option>
            <option value="unprocessed">Inactive</option>
            <option value="Cancelled">Cancelled</option>
           
          </select>
        </div>
      </div>

        <div class="col-3">
          <div class="form-group">
            <label for="sel1" style="color:grey">Client:</label>
            <input list="clients" name="browser" id="client" onchange="filter('client')" autocomplete="off" class="form-control">
  <datalist id="clients">
    {% for i in query %}
    <option value="{{i.survey_client.company_name}}">
   

    {% endfor %}
    
   
    
  </datalist>
          </div>
      </div>


      <div class="col-3">
        <div class="form-group">
          <label for="sel1" style="color:grey">Industry:</label>
          <select class="form-control" id="industry" onchange="filter('industry')">
            <option value="minerals">Minerals</option>
            <option value="Fintech">Fintech</option>
           
           
          </select>
        </div>
    </div>


    <div class="col-3">
      <div class="form-group">
        <label for="s_period" style="color:grey">Period:</label>
        <select class="form-control" id="s_period" onchange="filter('s_period')">
          <option value="8/2020">8/2020</option>
          <option value="11/2019">11/2019</option>
         
         
        </select>
      </div>
  </div>


    </div>
    <div class="row p-4 ">
      <div class="col-12">
        <div class="row filter_box">

        </div>
      </div>
     
      <div class="col-12 pt-4" >
       <a href="#" style="color:grey" onclick="clear_filter()" > Discard Filters</a>
      </div>
      
    </div>
  <div class="row p-4" >

    {% for item in query %}
<div class="col-4 p-4">

<div class="card p-4 parent"  style="height:300px">
    <div class="row ">
       
        <div class="col-12 ">
      <div class="row">
        <div class="col-10">
          <h5><b>{{item.name}}</b></h5>
        </div>
        <div class="col-2">
          <i class="icofont-ui-note" onclick="submit('{{item.id}}')"style="color:grey;cursor:pointer" data-toggle="modal" data-target="#myModal"></i>
        </div>
       
      </div>
        </div>
        </div>
        <div class="row">
          <div class="col-12" style="color:grey;font-size:12px">
            <div class="row">
              <div class="col-4">
                Client
              </div>
              <div class="col-1">
                :
              </div>
              <div class="col-7">
                {{item.survey_client.company_name}}
              </div>
            </div>
         
          </div>
          <div class="col-12" style="color:grey;font-size:12px">
            <div class="row">
              <div class="col-4">
                Industry 
              </div>
              <div class="col-1">
                :
              </div>
              <div class="col-7">
                {{item.survey_client.industry.industry}}
              </div>
            </div>
  
          </div>
          <div class="col-12" style="color:grey;font-size:12px">
            <div class="row">
              <div class="col-4">
              Area of Operation
              </div>
              <div class="col-1">
                :
              </div>
              <div class="col-7">
                {{item.survey_client.area.area}}
              </div>
            </div>
              
          </div>
        </div>

        <div class="child">
          <div class="row ">
            <div class="col-12" >

              {% if item.status == 'unprocessed'  %}
              <h4><span class="badge badge-warning">Inactive</span></h4>
              {% elif item.status == 'active' %}
              <h4><span class="badge badge-success">Active</span></h4>
              {% else %}
              <h4><span class="badge badge-danger">Closed</span></h4>
              {% endif %}
     
         
            </div>
            <div class="col-12" style="color:grey;font-size:12px">
             
                Date Created :     {{item.start_date}}
            
                
            </div>
          </div>
        </div>
    </div>
</div>

{% endfor %}







</div>
  
</div>
  </div>
</div>



 

    

</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">View Survey</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <div class="modal-body" id="modal_body">
        

      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
<script>
  function filter(view){
if(view == 'status'){

  var unique = ($('#status').val()).trim().replace(/\s/g,'')

  if($("#" + unique).length == 0 ){
 $('.filter_box').prepend( '<div id="'+unique+'"class="col-1"><span class="badge badge-pill status badge-info">'+$('#status').val()+' <span><i class="icofont-close-line-circled" onclick="remove_filter('+unique+')"></i></span></span></div>')
}
  }

  if(view == 'client'){

var unique = ($('#client').val()).trim().replace(/\s/g,'')

if($("#" + unique).length == 0 ){
$('.filter_box').prepend( '<div id="'+unique+'"class="col-1"><span class="badge badge-pill cli  badge-warning">'+$('#client').val()+' <span><i class="icofont-close-line-circled" onclick="remove_filter('+unique+')"></i></span></span></div>')
}
}


if(view == 'industry'){

var unique = ($('#industry').val()).trim().replace(/\s/g,'')

if($("#" + unique).length == 0 ){
$('.filter_box').prepend( '<div id="'+unique+'"class="col-1"><span class="badge badge-pill industry badge-danger">'+$('#industry').val()+' <span><i class="icofont-close-line-circled" onclick="remove_filter('+unique+')"></i></span></span></div>')
}
}

if(view == 's_period'){

var unique = ($('#s_period').val())
unique = unique.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '')
unique = "a"+unique

if($("#" + unique).length == 0 ){
$('.filter_box').prepend( '<div id="'+unique+'"class="col-1"><span class="badge badge-pill badge-success">'+$('#s_period').val()+' <span><i class="icofont-close-line-circled" onclick="remove_filter('+unique+')"></i></span></span></div>')
}
}
  }
</script>

<script>
  function remove_filter(id){
   
    $(id).remove()
  }
</script>

<script>
  function clear_filter(){
    $('.filter_box').empty()
  }
</script>






<script>
  function submit(id){
    




$.ajax({

  url: '/survey_modal',

  data: {

    id:id
  },

  type: 'POST',

  success: function(res) {
    console.log(res)
    res1 = res[0]
    c = []
    b= []

    for(bench = 0; bench < (res1.benchmarks).length;bench++){
      b.push((res1.benchmarks)[bench])
    }

    for(bench = 0; bench < (res1.comps).length;bench++){
      c.push((res1.comps)[bench])
    }
     
    
$('#modal_body').html(


`

<div class="row">
          <div class="col-lg-6 col-md-12 mb-2">
            <b>Survey Name:  </b> <span id="review_survey_name">${res1.name}</span>
          </div> <hr>
          <div class="col-lg-6 col-md-12 mb-2">
            <b>Client: </b> <span id="review_client_name"> ${res1.client}</span>
          </div>
        </div>
        <hr>
        <div class="row mb-2">
          <div class="col-lg-6 col-md-12 mb-2">
            <b>Industry:  </b> <span id="review_industry">${res1.industry}</span>
          </div>
          <div class="col-lg-6 col-md-12 mb-2">
            <b>Area of Operation: </b><span id="review_area_of_operation">${res1.area}</span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-2">
            <b>Start Date: </b><span id="review_start_date">${res1.start_date}</span>
          </div>
         
        </div>
        <hr>
        <div class="row mb-2">
          <div class="col-lg-6 col-md-12">
            <b>Benchmark Jobs:</b><br>
            <ul id="review_benchmark_jobs">
        
    
     
            </ul>
            
          </div>
          <div class="col-lg-6 col-md-12">
            <b>Comparators:</b><br>
            <ul id="review_comparators">
         </ul>
            
          </div>
         
        </div>




`
)
for(bi = 0 ;bi < b.length; bi++){
  $('#review_benchmark_jobs').append(`<li>${b[bi]}</li>`)
}

for(ci = 0 ;ci < c.length; ci++){

  if(c[ci] != undefined || c[ci] != null){
  $('#review_comparators').append(`<li>${c[ci]}</li>`)
  }
}

  },

  error: function(error) {

      console.log(error);

  }

});



}
</script>



<script>
   $("#status").change(function(){
    
var stat = []
var cli = []
var industry = []



$('.filter_box').find(".status").each(function(i, obj) {
  stat.push($(this).text())
});

$('.filter_box').find(".cli").each(function(i, obj) {
  cli.push($(this).text())
});


$('.filter_box').find(".industry").each(function(i, obj) {
  industry.push($(this).text())
});

console.log(stat)
console.log(cli)
console.log(industry)



$.ajax({

  url: '/survey_filters',

  data: {

    stat: stat.toString(),
    col : $(this).attr('id')

  },

  type: 'POST',

  success: function(res) {

    
console.log(res)
  },

  error: function(error) {

      console.log(error);

  }

});



});
</script>

    {% endblock content %}