{% extends "new_admin_layout.html" %}




{% block content %}

<style>
  #hero {
    width: 100%;
    height: 20vh;
    background: url("../static/img/home.jpg") top center;
    background-size: cover;
    position: relative;
  }

  #hero:before {
    content: "";
    background: rgba(20, 44, 9, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero .container {
    text-align: center;
    padding-top: 50px;
  }

  @media (max-width: 992px) {
    #hero .container {
      padding-top: 0;
    }
  }

  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  #hero h2 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 22px;
  }

  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid #ffc107;
    color: #fff;
  }

  #hero .btn-get-started:hover {
    background: #ffc107;
  }

  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }

    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  body {
    background-color: #edf0f3;
  }

  .summary-card {
    /* background: inherit;
    border: 0px; */
  }

  .card-text {
    text-align: center;
  }

  .card-title {
    font-variant: small-caps;
  }

  .total-number {
    font-size: xx-large;
  }

  .summary-title {
    text-align: center;
    color: rgba(66, 99, 50, 1);
    font-variant: small-caps;
  }

  .chart {
    width: 100%;
    height: 300px;
  }
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data1 = google.visualization.arrayToDataTable([
      ['Survey Status', 'Number'],
      ['Active', 11],
      ['Inactive', 2],
      ['Completed', 2]
    ]);

    var options1 = {
      title: 'Surveys By Status',
      pieHole: 0.5,
      'legend': 'bottom',
      'chartArea': { 'width': '80%'},
    };

    var chart1 = new google.visualization.PieChart(document.getElementById('surveys-status'));
    chart1.draw(data1, options1);

    var data2 = google.visualization.arrayToDataTable([
      ['Sector', 'Number of Surveys'],
      ['Energy, Resources and Industries', 11],
      ['Financial Services', 2],
      ['Life Sciences and Health Care', 20],
      ['Government and Public Services', 5],
      ['Technology, Media and Telecom', 19]
    ]);

    var options2 = {
      title: 'Surveys By Sector',
      seriesType: 'bars',
      'legend': 'none',
    }

    var chart2 = new google.visualization.ColumnChart(document.getElementById('surveys-sector'));
    chart2.draw(data2, options2);

    var data3 = google.visualization.arrayToDataTable([
      ['Client Type', 'Number'],
      ['Administrators', 11],
      ['Clients', 2]
    ]);

    var options3 = {
      title: 'Users',
      pieHole: 0.5,
      'legend': 'bottom',
      'chartArea': { 'width': '80%'},
    };

    var chart3 = new google.visualization.PieChart(document.getElementById('users-status'));
    chart3.draw(data3, options3);


  }
</script>

<!--Header-->
<div class="row">
  <div class="col-12">
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container position-relative">
        <h2><b style="font-size: 40px;">Dashboard</b></h2>

      </div>
    </section>
  </div>
</div>

<!--Body-->

<!--Summary-->
<div class="row m-4">
  <div class="col-sm-6 mt-4">
    <div class="card mb-2 summary-card">
      <div class="card-body">
        <h5 class="card-title summary-title">Total Surveys</h5>
        <p class="card-text total-number">0</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-4">
    <div class="card mb-2 summary-card">
      <div class="card-body">
        <h5 class="card-title summary-title">Total Users</h5>
        <p class="card-text total-number">0</p>
      </div>
    </div>
  </div>
</div>

<!--Charts-->
<div class="row m-4">
  <div class="col-4">
    <div class="card chart">
      <!-- <div class="card-header card-title">
        Surveys by Status
      </div> -->
      <div class="card-body" id="surveys-status"></div>
    </div>
  </div>
  <div class="col-8">
    <div class="card chart">
      <!-- <div class="card-header card-title">
        Surveys By Sector
      </div> -->
      <div class="card-body" id="surveys-sector"></div>
    </div>
  </div>
</div>

<div class="row m-4">
  <div class="col-8">
    <div class="card chart">
      <div class="card-body" id="revenue"></div>
    </div>
  </div>
  <div class="col-4">
    <div class="card chart">
      <div class="card-body" id="users-status"></div>
    </div>
  </div>
</div>

<div class="row m-4">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <table class="table hover">
          <thead>
            <th>Recent Activities</th>
          </thead>
          <tbody>
            <tr class="table-row">
              <td>Some Activity</td>
            </tr>
            <tr class="table-row">
              <td>Some Activity</td>
            </tr>
            <tr class="table-row">
              <td>Some Activity</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




{% endblock content %}