{% extends "new_admin_layout.html" %}

{% block content %}
<style>
  #hero {
    width: 100%;
    height: 15vh;
    background: url("../static/img/home.jpg") top center;
    background-size: cover;
    position: relative;
  }

  #hero:before {
    content: "";
    background: rgba(20, 44, 9, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero .container {
    text-align: center;
    padding-top: 50px;
  }

  @media (max-width: 992px) {
    #hero .container {
      padding-top: 0;
    }
  }

  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  #hero h2 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 22px;
  }

  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid #ffc107;
    color: #fff;
  }

  #hero .btn-get-started:hover {
    background: #ffc107;
  }

  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }

  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }

    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  #searchbar {
    height: 60px;
    text-align: right;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #search_user {
    border-radius: 10px;
    outline: 0;
    width: 450px;
    line-height: 30px;
    padding: 0 10px;
  }

  #search_icon {
    color: white;
    margin-left: 5px;
  }

  #new-user-button {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
  }

  #page-number-info {
    font-size: smaller;
    font-style: italic;
  }

  #areas-table-header {
    text-align: left;
  }
</style>

<!--Header-->
<div class="row">
  <div class="col-12">
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container position-relative">
        <h2><b style="font-size: 40px;">Areas of Operation</b></h2>
      </div>
    </section>
  </div>
</div>

<!--Body-->
<div class="row p-5 justify-content-center">
  <div class="col-12">
    <table class="table">
      <thead style="background-color: rgb(78, 110, 62);" id="main-header">
        <th colspan="5" id="searchbar">
          <input type="search" id="search_user" placeholder="Search Areas...">
          <a href="#"><i class="fas fa-search" id="search_icon" onclick="search_areas()"></i></a>
        </th>
      </thead>

      <table class="table table-hover">
        <thead id="areas-table-header">
          <th>Area of Operation</th>
          <th>Industry</th>
          <th colspan="3">Sector</th>
        </thead>
        <tbody id="areas_list">
          {% for area in Areas %}
          <tr>
            <td>{{area.area}}</td>
            <td>{{area.industry.industry}}</td>
            <td>{{area.industry.sector}}</td>
            <td>
              <span data-id="{{area.id}}" onclick="editArea(this)"><i class="fas fa-edit"></i></span>
            </td>
            <td> <span data-id="{{area.id}}" onclick="deleteArea(this)"><i class="fas fa-trash"></i></span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </table>
  </div>
</div>

<!--New Area Button-->
<div class="row justify-content-center" id="new-user-button">
  <div class="col">
    <button class="btn btn-outline-success" data-toggle="modal" data-target="#industry" onclick="newArea()">New
      Area</button>
  </div>
</div>

<!-- Modal for creating new area_of_operation -->
<div class="modal fade " id="area_of_operation" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Area of Operation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form method="POST" action="" class="col-12">
            {{ form.hidden_tag() }}

            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  {{ form.name.label(class="form-control-label") }}

                  {% if form.name.errors %}
                  {{ form.name(class="form-control form-control is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.name(class="form-control form-control") }}
                  {% endif %}


                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  {{ form.sector.label(class="form-control-label") }}

                  {% if form.sector.errors %}
                  {{ form.sector(class="form-control form-control is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.sector.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.sector(class="form-control form-control", onchange="getIndustry(this)") }}
                  {% endif %}


                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  {{ form.industry.label(class="form-control-label") }}

                  {% if form.industry.errors %}
                  {{ form.industry(class="form-control form-control is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.industry.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.industry(class="form-control form-control") }}
                  {% endif %}


                </div>
              </div>
            </div>
        </div>



      </div>
      <div class="modal-footer">
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal for editing area_of_operation -->
<div class="modal fade " id="update_area" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Area of Operation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form method="POST" action="" class="col-12" onsubmit="updateArea()" id="updateForm">
            {{ form.hidden_tag() }}

            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  {{ form.name.label(class="form-control-label") }}

                  {% if form.name.errors %}
                  {{ form.name(class="form-control form-control is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.name(class="form-control form-control") }}
                  {% endif %}


                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  {{ form.sector.label(class="form-control-label") }}

                  {% if form.sector.errors %}
                  {{ form.sector(class="form-control form-control is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.sector.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.sector(class="form-control form-control", onchange="getIndustry(this)") }}
                  {% endif %}


                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  {{ form.industry.label(class="form-control-label") }}

                  {% if form.industry.errors %}
                  {{ form.industry(class="form-control form-control is-invalid")}}
                  <div class="invalid-feedback">
                    {% for error in form.industry.errors %}
                    <span> {{ error}}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.industry(class="form-control form-control") }}
                  {% endif %}


                </div>
              </div>
            </div>
        </div>



      </div>
      <div class="modal-footer">
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- confirmation modal -->
<div class="modal" tabindex="-1" role="dialog" id="delete_area">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content modal-sm">
      <div class="modal-header bg-danger">
        <span class="text-white">Confirm</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Do you want to delete industry?</span>
      </div>
      <div class="modal-footer">


        <form action="" method="POST" id="deleteForm" onsubmit="confirmDelete()">
          <button type="submit" class="btn btn-sm btn-success">Yes</button>
        </form>
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>


<!--Scripts-->
<script>
  function getIndustry(elm) {
    $.ajax({
      url: '/industry/filter',
      data: {
        id: $(elm).val()
      },
      type: 'POST',
      success: function (res) {
        //Clear content of dropdown
        $('#industry').find('option').remove()
        res.forEach(element => {
          var option = new Option(element.industry, element.id)
          $(option).html(element.industry)
          $('#industry').append(option)
          console.log(element.industry);
        });
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  function deleteArea(elm) {
    localStorage.setItem('editId', $(elm).attr('data-id'));

    $.ajax({
      url: '/area/view',
      data: {
        id: $(elm).attr('data-id')
      },
      type: 'POST',
      success: function (res) {
        $('#delete_area').modal('show')

      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  function confirmDelete() {
    document.getElementById('deleteForm').action = '/area/' + localStorage.getItem('editId') + '/delete'
  }

  function editArea(elm) {

    localStorage.setItem('editId', $(elm).attr('data-id'));

    $.ajax({
      url: '/area/view',
      data: {
        id: $(elm).attr('data-id')
      },
      type: 'POST',
      success: function (res) {

        $("input[name='name']").val(res[0].area)
        $("select[name='sector']").val(res[0].sector)
        $("select[name='industry']").val(res[0].industry)
        $('#update_area').modal('show')
        console.log(res);
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  function updateArea() {
    var id = localStorage.getItem('editId')
    document.getElementById('updateForm').action = '/area/update/' + id
  }
  
  function newArea() {
    $("input[name='name']").val('')
    $("select[name='sector']").val('')
  }

</script>

{% endblock content %}