{% extends "qualitative_form_layout.html" %}

<!-- Bonus / Incentive Plans Page -->
{% block body %}

<form>
    <div class="row bonus_incentive_plans p-4">
        <div class="col-12">

            <!-- Question C1 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formal_sal_struct"> <b>C1. &nbsp; </b> Does the organisation provide an annual
                            cash bonus or other short term incentive plan (excluding 13th month pay) for
                            employees?</label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" id="radio111"
                                            name="formal_structure" value="Yes" checked>
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio2">
                                        <input type="radio" class="form-check-input" id="radio121"
                                            name="formal_structure" value="No">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question C1b -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formal_sal_struct"> <b>C1(b). &nbsp; </b> Please list and describe these plans
                            (provide copy of the plan or
                            policy)</label>
                        <textarea cols="5" class="form-control"></textarea>
                        <input type="file" id="plan_file" name="plan_file">
                    </div>
                </div>
            </div>

            <!-- Question C2 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formal_sal_struct"> <b>C2. &nbsp; </b> Are all staff, including executives, eligible
                            for C1? </label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" id="radio111"
                                            name="formal_structure" value="Yes" checked>
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio2">
                                        <input type="radio" class="form-check-input" id="radio121"
                                            name="formal_structure" value="No">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question C2b -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formal_sal_struct"> <b>C2(b). &nbsp; </b> If No, please explain. </label>
                        <textarea cols="5" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!-- Question C3 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="bonus_payment"><b>C3. &nbsp;</b> When does your company pay the bonuses listed in
                            C1(b)?</label>
                        <div class="form-check">
                            <label class="form-check-label" for="check1">
                                <input type="checkbox" class="form-check-input" id="check1" name="option1"
                                    value="something">At the end of the year as a lump sum
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="check2">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">At completion of appraisal
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">Monthly as part of the salary
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">Other (please specify) <input type=text
                                    class="form-control form-control-inline">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question C4 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formal_sal_struct"> <b>C4. &nbsp; </b> Does your company pay 13th month bonus?
                        </label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" id="radio111"
                                            name="formal_structure" value="Yes" checked>
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio2">
                                        <input type="radio" class="form-check-input" id="radio121"
                                            name="formal_structure" value="No">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question C4b -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="bonus_payment"><b>C4(b). &nbsp;</b> When is the 13th month bonus paid?</label>
                        <div class="form-check">
                            <label class="form-check-label" for="check1">
                                <input type="checkbox" class="form-check-input" id="check1" name="option1"
                                    value="something">At the end of the year as a lump sum
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="check2">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">At completion of appraisal
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">Monthly as part of the salary
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">Other (please specify) <input type=text
                                    class="form-control form-control-inline">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question C5 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label><b>C5. &nbsp;</b>List any restrictions on paying out the 13th month.</label>
                        <textarea cols="5" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!-- Question C6 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label><b>C6. &nbsp;</b> Apart from the direct compensations above (sections B&C) (and
                            excluding
                            employee benefits,
                            perquisites and in-kind allowances, which are reviewed in other sections of
                            this
                            questionnaire), what other forms of direct compensation are available to
                            employees? (Please
                            describe in detail)</label>
                        <textarea cols="8" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!-- Next and Previous Button -->
            <!-- TODO: fix onclick action -->
            <div class="row">
                <div class="col-6">
                    <span id="bonus" class="btn btn-outline-info" onclick="switchBack(this.id)">Back</span>
                </div>

                <div class="col-6 text-right">
                    <span id="bonus" class="btn btn-outline-info" onclick="switchView(this.id)">Next </span>
                </div>
            </div>

        </div>
    </div>
</form>

{% endblock %}