{% extends "qualitative_form_layout.html" %}

<!-- Bonus / Incentive Plans Page -->
{% block progressbar %}
<div class="container">
    <div class="row p-4">
        <div class="col-12">

            <!-- Progress Bar -->
            <div class="steps-form">
                <div class="steps-row setup-panel">
                    <div class="steps-step">
                        <a href="{{ url_for('users.qualitative_overview') }}" type="button"
                            class="btn btn-secondary btn-circle" id="gi_button" onclick="changeButtonColour()">1</a>
                        <p>General Information</p>
                    </div>
                    <div class="steps-step">
                        <a href="{{ url_for('users.qualitative_survey_dc') }}" type="button"
                            class="btn btn-secondary btn-circle" id="dc_button" onclick="changeButtonColour()"
                            disabled="disabled">2</a>
                        <p>Direct Compensation</p>
                    </div>
                    <div class="steps-step">
                        <a href="{{ url_for('users.qualitative_survey_bip') }}" type="button"
                            class="btn btn-primary btn-circle" id="bip_button" onclick="changeButtonColour()"
                            disabled="disabled">3</a>
                        <p>Bonus / Incentive Plans</p>
                    </div>
                    <div class="steps-step">
                        <a href="{{ url_for('users.qualitative_survey_gpp') }}" type="button"
                            class="btn btn-secondary btn-circle" id="gpp_button" onclick="changeButtonColour()"
                            disabled="disabled">4</a>
                        <p>General Personnel Practices</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock progressbar %}

{% block body %}

<form>
    <div class="row bonus_incentive_plans p-4">
        <div class="col-12">

            <!-- Question C1 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formal_sal_struct"> <span class="question_number">C1. &nbsp; </span> Does the organisation provide an annual
                            cash bonus or other short term incentive plan (excluding 13th month pay) for
                            employees?</label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" id="radio111"
                                            name="formal_structure" value="Yes" checked>
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio2">
                                        <input type="radio" class="form-check-input" id="radio121"
                                            name="formal_structure" value="No">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question C1b -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formal_sal_struct"> <span class="question_number">C1(b). &nbsp; </span> Please list and describe these plans
                            (provide copy of the plan or
                            policy)</label>
                        <textarea cols="5" class="form-control"></textarea>
                        <input type="file" id="plan_file" name="plan_file">
                    </div>
                </div>
            </div>

            <!-- Question C2 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formal_sal_struct"> <span class="question_number">C2. &nbsp; </span> Are all staff, including executives, eligible
                            for C1? </label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" id="radio111"
                                            name="formal_structure" value="Yes" checked>
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio2">
                                        <input type="radio" class="form-check-input" id="radio121"
                                            name="formal_structure" value="No">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question C2b -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formal_sal_struct"> <span class="question_number">C2(b). &nbsp; </span> If No, please explain. </label>
                        <textarea cols="5" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!-- Question C3 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="bonus_payment"><span class="question_number">C3. &nbsp;</span> When does your company pay the bonuses listed in
                            C1(b)?</label>
                        <div class="form-check">
                            <label class="form-check-label" for="check1">
                                <input type="checkbox" class="form-check-input" id="check1" name="option1"
                                    value="something">At the end of the year as a lump sum
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="check2">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">At completion of appraisal
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">Monthly as part of the salary
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">Other (please specify) <input type=text
                                    class="form-control form-control-inline">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question C4 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formal_sal_struct"> <span class="question_number">C4. &nbsp; </span> Does your company pay 13th month bonus?
                        </label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" id="radio111"
                                            name="formal_structure" value="Yes" checked>
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="radio2">
                                        <input type="radio" class="form-check-input" id="radio121"
                                            name="formal_structure" value="No">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question C4b -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="bonus_payment"><span class="question_number">C4(b). &nbsp;</span> When is the 13th month bonus paid?</label>
                        <div class="form-check">
                            <label class="form-check-label" for="check1">
                                <input type="checkbox" class="form-check-input" id="check1" name="option1"
                                    value="something">At the end of the year as a lump sum
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="check2">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">At completion of appraisal
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">Monthly as part of the salary
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">Other (please specify) <input type=text
                                    class="form-control form-control-inline">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Question C5 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label><span class="question_number">C5. &nbsp;</span>List any restrictions on paying out the 13th month.</label>
                        <textarea cols="5" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!-- Question C6 -->
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label><span class="question_number">C6. &nbsp;</span> Apart from the direct compensations above (sections B&C) (and
                            excluding
                            employee benefits,
                            perquisites and in-kind allowances, which are reviewed in other sections of
                            this
                            questionnaire), what other forms of direct compensation are available to
                            employees? (Please
                            describe in detail)</label>
                        <textarea cols="8" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!-- Next and Previous Button -->
            <!-- TODO: fix onclick action -->
            <div class="row">
                <div class="col-6">
                    <a href="{{ url_for('users.qualitative_survey_dc') }}"><span id="bonus" class="btn btn-outline-info">Back</span></a>
                </div>

                <div class="col-6 text-right">
                    <a href="{{ url_for('users.qualitative_survey_gpp') }}"><span id="bonus" class="btn btn-outline-info">Next </span></a>
                </div>
            </div>

        </div>
    </div>
</form>

{% endblock %}