{% extends "qualitative_form_layout.html" %}


<!-- General Information Page -->

{% block body %}

<form>
  <div class="row general_organization_view p-4">
    <div class="col-12">

      <!-- Question A1 -->
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <div>
              <label for="num_employees"> <span class="question_number">A1. &nbsp; </span>What is the total number of employees in the
                company?</label>
              <input type="number" min="1" class="form-control col-3" id="num_employees">
            </div>
          </div>
        </div>
      </div>

      <!-- Question A2 -->
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label for="usr"><span class="question_number">A2. &nbsp; </span>Fill in the number of employees for each category
              below: </label>
            <table class="col-12">
              <tr style="background-color: rgb(107, 117, 126);color:#fff">
                <th>Type </th>
                <th>Full Time Employees</th>
                <th>Temporary Employees</th>
                <th>Other Employees</th>
                <th> </th>
              </tr>

              <tr>
                <th>Locally Recruited</th>
                <th><input type="number" class="form-control" name="full local"></th>
                <th><input type="number" class="form-control" name="temp local"></th>
                <th><input type="number" class="form-control" name="other local"></th>

              </tr>
              <tr>
                <th>Expatriates</th>
                <th><input type="number" class="form-control" name="temp expatriate"></th>
                <th><input type="number" class="form-control" name="temp expatriate"></th>
                <th><input type="number" class="form-control" name="other expatriate"></th>

              </tr>
              <tr>
                <th>Male</th>
                <th><input type="number" class="form-control" name="full male"></th>
                <th><input type="number" class="form-control" name="temp male"></th>
                <th><input type="number" class="form-control" name="other male"></th>

              </tr>
              <tr>
                <th>Female</th>
                <th><input type="number" class="form-control" name="full female"></th>
                <th><input type="number" class="form-control" name="temp female"></th>
                <th><input type="number" class="form-control" name="other female"></th>

              </tr>

              <tr>
                <th>Qualified for Overtime</th>
                <th><input type="number" class="form-control" name="full overtime"></th>
                <th><input type="number" class="form-control" name="temp overtime"></th>
                <th><input type="number" class="form-control" name="other overtime"></th>

              </tr>

            </table>

          </div>
        </div>
      </div>



      <!-- Question A3 -->
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <div>
              <label for="num_employees"> <span class="question_number">A3. &nbsp; </span>How many working hours are there in a normal week? </label>
              <input type="number" min="0" class="form-control" id="num_working_hours">
            </div>
          </div>
        </div>
      </div>

      <!-- Question A4 -->
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <div>
              <label for="num_employees"> <span class="question_number">A4. &nbsp; </span>Describe your overtime policy (eligibility, payments,
                approvals etc): </label>
              <textarea class="form-control" id="overtime_policy"></textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Next Button -->
      <!-- TODO: fix onclick action -->
      <div class="col-12 text-right">
        <a href="{{ url_for('users.qualitative_survey_dc') }}"><span id="general_organization" class="btn btn-outline-info">Next</span></a>
      </div>

    </div>
  </div>
</form>



{% endblock %}