{% extends "new_client_layout.html" %}


{% block content %}

<style>

  .green_shade{
    color:rgba(66,99,50,1)
  }
    #hero {
  width: 100%;
  height: 15vh;
  background: url("../static/img/home.jpg") top center;
  background-size: cover;
  position: relative;
  }
  
  #hero:before {
  content: "";
  background: rgba(20, 44, 9, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  }
  
  #hero .container {
  text-align: center;
  padding-top: 50px;
  }
  
  @media (max-width: 992px) {
  #hero .container {
  padding-top: 0;
  }
  }
  
  #hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  }
  
  #hero h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 22px;
  }
  
  #hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 40px;
  border: 2px solid #ffc107;
  color: #fff;
  }
  
  #hero .btn-get-started:hover {
  background: #ffc107;
  }
  
  @media (min-width: 1024px) {
  #hero {
  background-attachment: fixed;
  }
  }
  
  @media (max-width: 768px) {
  #hero {
  height: 100vh;
  }
  #hero h1 {
  font-size: 28px;
  line-height: 36px;
  }
  #hero h2 {
  font-size: 18px;
  line-height: 24px;
  }
  }
  </style>
 
<div class="row">
  <div class="col-12">
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container position-relative">
     <h2><b style="font-size: 40px;">Complete Survey </b></h2>
        
        </div>
      </section>
  </div>
</div>


<div class="row p-4" style="height:60vh" >
  <div class="col-12 text-right">
    <a class="btn btn-outline-info" href="{{ url_for('users.qualitative_overview')}}">Proceed to Questionnaire &nbsp;<i class="fas fa-arrow-right"></i></a>
  </div>
  <div class="col-12 ">

    <b class="green_shade">Select a job from the options below to begin benchmarking</b>

  </div>

{%  for i in query %}
  <div class="col-md-3 col-sm-12 ">
  
    <div class="card p-4 parent"  style="height:150px">
        <div class="row ">
           
            <div class="col-12 ">
          <div class="row">
            <div class="col-10">
              <h5><b>{{i.job_title}}</b></h5>
              {{i.benchmark.company_name}}
            </div>
            <div class="col-1">
              <a data-toggle="modal" data-target="#job_detail" style="color:grey;cursor:pointer"><i class="icofont-eye-alt" ></i></a>
            </div>
           
           
          </div>
            </div>
            </div>
            <div class="row">
              <div class="col-12" style="color:grey;font-size:12px">
         
             
              </div>
    
            </div>
    
            <div class="child">
              <div class="row ">
                <div class="col-12" >
                <h4><span class="badge badge-success">Completed</span></h4>
             
                </div>
             
              
              </div>
            </div>
        </div>
    </div>

    {% endfor %}
  <div class="col-md-3 col-sm-12 ">
  
  <div class="card p-4 parent"  style="height:150px">
      <div class="row ">
         
          <div class="col-12 ">
        <div class="row">
          <div class="col-10">
            <h5><b>Finance Manager</b></h5>
          </div>
          <div class="col-1">
            <a data-toggle="modal" data-target="#job_detail" style="color:grey;cursor:pointer"><i class="icofont-eye-alt" ></i></a>
          </div>
         
         
        </div>
          </div>
          </div>
          <div class="row">
            <div class="col-12" style="color:grey;font-size:12px">
       
           
            </div>
  
          </div>
  
          <div class="child">
            <div class="row ">
              <div class="col-12" >
              <h4><span class="badge badge-success">Completed</span></h4>
           
              </div>
           
            
            </div>
          </div>
      </div>
  </div>


  <div class="col-md-3 col-sm-12 ">
  
    <div class="card p-4 parent"  style="height:150px">
        <div class="row ">
           
            <div class="col-12 ">
          <div class="row">
            <div class="col-10">
              <h5><b>IT Controller</b></h5>
            </div>
            <div class="col-1">
              <a data-toggle="modal" data-target="#job_detail" style="color:grey;cursor:pointer"><i class="icofont-eye-alt" ></i></a>
            </div>
           
           
          </div>
            </div>
            </div>
            <div class="row">
              <div class="col-12" style="color:grey;font-size:12px">
         
             
              </div>
    
            </div>
    
            <div class="child">
              <div class="row ">
                <div class="col-12" >
                <h4><span class="badge badge-warning">Outstanding</span></h4>
             
                </div>
             
              
              </div>
            </div>
        </div>
    </div>
  
  
  
  
 
  
  </div>
    
   <!-- 
<div class="row p-4">
<div class="col-12 text-right">
  <a class="btn btn-outline-info" href="{{ url_for('users.qualitative_overview')}}">Proceed to Questionnaire &nbsp;<i class="fas fa-arrow-right"></i></a>
</div>
<h5>Outstanding Jobs Benchmarking</h5>
<br>

<div class="col-12">
<div class="row">
  <div class="col-lg-6 col-md-12 pl-4 pr-4 pb-4">
    <div class="job-card-content p-0" data-toggle="modal" data-target="#job_detail">
      <div class="d-flex flex-row">
        <div class="bg-success round-prefix "><span>F</span></div>
        <div class="p-2">Finance Manager</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 pl-4 pr-4 pb-4">
    <div class="job-card-content p-0" data-toggle="modal" data-target="#job_detail">
      <div class="d-flex flex-row">
        <div class="bg-success round-prefix ">I</div>
        <div class="p-2">Internal Auditor</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 pl-4 pr-4 pb-4">
    <div class="job-card-content p-0" data-toggle="modal" data-target="#job_detail">
      <div class="d-flex flex-row">
        <div class="bg-success round-prefix ">I</div>
        <div class="p-2">IT Coordinator</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 pl-4 pr-4 pb-4">
    <div class="job-card-content p-0" data-toggle="modal" data-target="#job_detail">
      <div class="d-flex flex-row">
        <div class="bg-success round-prefix ">D</div>
        <div class="p-2">Driver</div>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<h5>Completed Job Benchmarking</h5><br>
<div class="col-12">
<div class="row">
  <div class="col-lg-6 col-md-12 pl-4 pr-4 pb-4">
    <div class="job-card-content-completed p-0">
      <div class="d-flex flex-row">
        <div class="bg-secondary round-prefix "><span>F</span></div>
        <div class="p-2">Finance Manager</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 pl-4 pr-4 pb-4">
    <div class="job-card-content-completed p-0">
      <div class="d-flex flex-row">
        <div class="bg-secondary round-prefix ">I</div>
        <div class="p-2">Internal Auditor</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 pl-4 pr-4 pb-4">
    <div class="job-card-content-completed p-0" data-toggle="modal" data-target="#job_detail">
      <div class="d-flex flex-row">
        <div class="bg-secondary round-prefix ">I</div>
        <div class="p-2">IT Coordinator</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 pl-4 pr-4 pb-4">
    <div class="job-card-content-completed p-0" data-toggle="modal" data-target="#job_detail">
      <div class="d-flex flex-row">
        <div class="bg-secondary round-prefix ">D</div>
        <div class="p-2">Driver</div>
      </div>
    </div>
  </div>
</div>
</div>
 -->
 <!-- survey instruction modal -->
 <div class="modal" id="instruction" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Survey Instructions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>
              <b>Welcome to the Deloitte Salary Survey </b><br>
              This survey is tailored at helping organizations gain an understand of compensations paid to employees.
              This survey entails the following 2 sections:                                                         
                <ul>
                    <li>
                        Job benchmarking where jobs in your organization would be matched against the benchmark jobs  
                    </li>
                    <li>
                        Survey Questionnaire which collects information about employee practices and policies
                    </li>
                </ul>
          </p>
      </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>


  <!-- Modal to display details of a job -->
 <div class="modal fade " id="job_detail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Finance Manager</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>
                <b>Job Title</b>
                <br>
                Finance Manager
            </p>
            <p>
                <b>Job Grade</b>
                <br>
                 Manager
            </p>
            <p>
                <b>Reporting Relationship</b>
                <br>
                Finance Director
            </p>
            <p>
                <b>Generic Job Description</b>
                <br>
                To manage financial accounting and reporting systems for the company
            </p>
            <p>
                <b>Key Duties & Responsibilities</b>
                <br>
                	<ul>
                    
                      <li>
                        Ensure that staff capture all data onto Insurance Pro Software on a daily basis and generate report.
                      </li>
                      <li>
                        Prepare annual departmental plan and budget for the company
                      </li>
                      
                      <li>
                        Build tactical business relationships with clients and maintain them
                      </li>
                      <li>
                        Coordinate revenue collection by the credit team and submit reports
                      </li>
                      
                      <li>
                        Supervise payroll functions
                      </li>
                  </ul>

            </p>
            <p>
                <b>Financial Responsibilities</b>
                <br>
                <ul>
                  <li>
                    Prepare financial management reports for management’s decision making
                  </li>
                  <li>
                    Formulate financial strategies, policies, procedures and action plans to achieve maximum growth and profitability of the company
                  </li>
                  <li>
                    Supervise preparation of statutory financial reports
                  </li>
                    <li>
                      Supervise and implement financial policies and procedures
                    </li>
                </ul>
            </p>
            <p>
                <b>Technical Qualifications</b>
                <br>
                <ul>
                  <li>
                    Knowledge in financial accounting
                  </li>
                  <li>
                    Ability to prepare and interpret balance sheet, income statements, cash flow statements etc
                  </li>
                  <li>
                    Knowledge in Computer
                  </li>

                </ul>
            </p>
            <p>
                <b>Minimum Years of Experience</b>
                <br>
              N/A
            </p>
            <br>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="job_not_applicable">
              <label class="custom-control-label" for="job_not_applicable">This job is not applicable to my organisation</label>
            </div>
        </div>
        <div class="modal-footer">
         
          <button class="btn btn-outline-success" id="save_btn" style="display: none;">Save</button>
          <button class="btn btn-outline-secondary" id="proceed_btn" >Proceed</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

    $('#proceed_btn').click(function(){
      window.location.href ='{{  url_for("users.quantitative_survey")}}'
    });

    $('document').ready(function(){
      $('#instruction').modal('show');
    })
</script>


{% endblock content %}