{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 p-4">



      <div class="row">
        <div class="col-12">
          <div class="progress">
            <div class="progress-bar bg-info" style="width:40%"></div>
         </div>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-12  " >
          <b>Admin Registration</b><br/>
          Kindly select each compononet and fill in the required fields
          </div>
          
       
      </div>

      <div class="row pt-4">

     
        


        <div class="col-12 pt-4">
          <div class="card">
            <div class="card-body p-4">
              <form >
                <div class="row">
                  <div class="col-4">
                    <div class="form-group">
                      <label for="usr">Firstname:</label>
                      <input type="text" class="form-control" id="usr" name="username">
                    </div>

                  </div>

                  <div class="col-4">
                    <div class="form-group">
                      <label for="usr">Middlename:</label>
                      <input type="text" class="form-control" id="usr" name="username">
                    </div>

                  </div>

                  <div class="col-4">
                    <div class="form-group">
                      <label for="usr">Lastname:</label>
                      <input type="text" class="form-control" id="usr" name="username">
                    </div>

                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label for="usr">Username:</label>
                      <input type="text" class="form-control" id="usr" name="username">
                    </div>

                  </div>


                  <div class="col-6">
                    <div class="form-group">
                      <label for="usr">Email Address:</label>
                      <input type="email" class="form-control" id="usr" name="username">
                    </div>

                  </div>


                  <div class="col-6">
                    <div class="form-group">
                      <label for="usr">Password:</label>
                      <input type="password" class="form-control" id="usr" name="username">
                    </div>

                  </div>
                 
                  <div class="col-6">
                    <div class="form-group">
                      <label for="usr"> Confirm Password:</label>
                      <input type="password" class="form-control" id="usr" name="username">
                    </div>

                  </div>

                 


                 

                </div>
              <div class="col-12">
                <br>
                <button type="submit" class="btn btn-info float-right">Submit</button>
              </div>
    
              </form>
            </div>
          </div>
          
        </div>
        

      </div>
    </div>
  </div>
</div>
{% endblock content %}