{% extends "new_client_hub_layout.html" %}

{% block content %}
<style>
    #hero {
        width: 100%;
        height: 15vh;
        background: url("../static/img/home.jpg") top center;
        background-size: cover;
        position: relative;
    }

    #hero:before {
        content: "";
        background: rgba(20, 44, 9, 0.7);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero .container {
        text-align: center;
        padding-top: 50px;
    }

    @media (max-width: 992px) {
        #hero .container {
            padding-top: 0;
        }
    }

    #hero h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
    }

    #hero h2 {
        color: #eee;
        margin: 15px 0 0 0;
        font-size: 22px;
    }

    #hero .btn-get-started {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 9px 35px;
        border-radius: 50px;
        transition: 0.5s;
        margin-top: 40px;
        border: 2px solid #ffc107;
        color: #fff;
    }

    #hero .btn-get-started:hover {
        background: #ffc107;
    }

    @media (min-width: 1024px) {
        #hero {
            background-attachment: fixed;
        }
    }

    @media (max-width: 768px) {
        #hero {
            height: 100vh;
        }

        #hero h1 {
            font-size: 28px;
            line-height: 36px;
        }

        #hero h2 {
            font-size: 18px;
            line-height: 24px;
        }
    }

    li::before {
        content: "";
        width: 20px;
        display: inline-block;
    }

    .client-name {
        font-weight: bold;
    }

    .client-details {
        font-size: smaller;
        /* font-style: italic; */
    }

    .sub-heading {
        text-indent: 40px;
        font-size: smaller;
    }

    .t-row {
        text-indent: 0px;
        font-size: smaller;
    }

    .reqcaption {
        font-variant: small-caps;
        /* text-align: center; */
        text-indent: 40px;
    }

    #help {
        text-align: center;
        font-style: italic;
        font-weight: normal;
        color: grey;
    }

    .btn-light {
        color: green;
    }
</style>

<!--Header-->
<div class="row">
    <div class="col-12">
        <section id="hero" class="d-flex align-items-center justify-content-center">
            <div class="container position-relative">
                <h2><b style="font-size: 40px;">Reports</b></h2>
            </div>
        </section>
    </div>
</div>


<!--Body-->
<div class="row p-5 justify-content-center">
    <div class="col-12">
        <table class="table">
            <form id="report-form">
                <thead id="filter-header" style="background-color: rgb(78, 110, 62);">
                    <th id="report-type">
                        {{form.report_type.label(class="report_type-label new-report_type-label")}}
                        {% if form.report_type.errors %}
                        {{ form.report_type(class="form-control form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.report_type.errors %}
                            <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.report_type(class="form-control form-control") }}
                        {% endif %}
                    </th>
                    <th id="report-status">
                        {{form.report_status.label(class="report_status-label new-report_status-label")}}
                        {% if form.report_status.errors %}
                        {{ form.report_status(class="form-control form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.report_status.errors %}
                            <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.report_status(class="form-control form-control") }}
                        {% endif %}
                    </th>
                    <th>
                        <label for="report_start_date">Start Date</label>
                        <input type="date" class="form-control" id="report_start_date" />
                    </th>
                    <th>
                        <label for="report_end_date">End Date</label>
                        <input type="date" class="form-control" id="report_end_date" />
                    </th>
                    <th>
                        {{form.submit(class="btn btn-light")}}
                    </th>
                </thead>
            </form>

            <thead>
                <th id="help" colspan="5">Select filters and click 'View Report' to generate reports.</th>
            </thead>

            <thead>
                <th colspan="5">Summary</th>
            </thead>
            <tbody id="statistics">
            </tbody>

            <thead>
                <th colspan="5">Details</th>
            </thead>
            <tbody id="details">
            </tbody>
        </table>

    </div>
</div>

<script>
    //dynamically change status based on report type selection
    $(document).ready(function () {
        $('#report_type').change(function () {
            var type = $(this).val()
            if (type == 'clients') {
                $('#report_status').html(
                    `
                    <option value="all">All</option>       
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>   `
                )
            } else if (type == 'service_requests') {
                $('#report_status').html(
                    `
                    <option value="all">All</option>       
                    <option value="pending">Pending</option>
                    <option value="requesting_client_information">Awaiting Client Information</option>
                    <option value="first_pass">First Pass</option>
                    <option value="conflict_check">Conflict Check</option>
                    <option value="phoenix_completion">Phoenix Completion</option>
                    <option value="submitted">Submitted For Approval</option>   `
                )
            } else if (type == 'messages') {
                $('#report_status').html(
                    `   <option value="all">All</option>       
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                    `
                )
            }
        })
    })
</script>

<script>
    //generate report based on filters selected
    $(document).ready(function () {
        $("#report-form").on("submit", function () {
            $('#help').empty()
            $('#details').empty()

            var type = $('#report_type').val()
            var status = $('#report_status').val()
            var start_date = $('#report_start_date').val()
            var end_date = $('#report_end_date').val()

            var statistics, details;

            $.ajax({
                url: '/view_reports/generate_report',
                data: {
                    type: type,
                    status: status,
                    start_date: start_date,
                    end_date: end_date
                },
                type: 'POST',
                success: function (res) {
                    console.log(res)
                    var details;

                    //case: report type is clients
                    if (type == 'clients') {
                        var total_clients =
                            `<tr>
                    <td colspan="3">Total Clients: </td>
                    <td colspan="2">${res[0].num_clients}</td>
                </tr>`
                        var total_active_clients =
                            `<tr>
                    <td colspan="3" class="sub-heading">Active Clients: </td>
                    <td colspan="2">${res[0].num_active_clients}</td>
                </tr>`
                        var total_inactive_clients =
                            `<tr>
                    <td colspan="3" class="sub-heading">Inactive Clients: </td>
                    <td colspan="2">${res[0].num_inactive_clients}</td>
                </tr>`

                        //display summary statistics
                        if (status == 'all') {
                            $('#statistics').html(total_clients + total_active_clients + total_inactive_clients)
                        }
                        else if (status == 'active') {
                            $('#statistics').html(total_active_clients)
                        }
                        else if (status == 'Inactive') {
                            $('#statistics').html(total_inactive_clients)
                        }

                        //display details
                        details = `<table class="table">
                        <thead>
                            <th>Client Name</th>
                            <th>Company Type</th>
                            <th>Area of Operation</th>
                            <th>Industry</th>
                            <th>Status</th>
                        </thead>
                        <tbody>`

                        res[0].client_data.forEach(client => {
                            details +=
                                `<tr>
                                <td class="sub-heading t-row">${client.name}</td>
                                <td class="sub-heading t-row">${client.company_type}</td>
                                <td class="sub-heading t-row">${client.area}</td>
                                <td class="sub-heading t-row">${client.industry}</td>
                                <td class="sub-heading t-row">${client.status}</td>
                            </tr>` });

                        details +=
                            `</tbody>
                    </table>`
                    }

                    //case: report type is service requests
                    else if (type == 'service_requests') {
                        var total_indv = `<tr>
                    <td colspan="3">Total Individual Service Requests: </td>
                    <td colspan="2">${res[0].num_indv_requests}</td>
                </tr>`
                        var total_indv_pend =
                            `<tr>
                    <td colspan="3" class="sub-heading">Pending Requests: </td>
                    <td colspan="2">${res[0].num_indv_pend}</td>
                </tr>`
                        var total_indv_await =
                            `<tr>
                    <td colspan="3" class="sub-heading">Requests Awaiting Client Information: </td>
                    <td colspan="2">${res[0].num_indv_await}</td>
                </tr>`
                        var total_indv_fp =
                            `<tr>
                    <td colspan="3" class="sub-heading">Requests Undergoing First Pass: </td>
                    <td colspan="2">${res[0].num_indv_fp}</td>
                </tr>`
                        var total_indv_cc =
                            `<tr>
                    <td colspan="3" class="sub-heading">Requests Undergoing Conflict Check: </td>
                    <td colspan="2">${res[0].num_indv_cc}</td>
                </tr>`
                        var total_indv_fc =
                            `<tr>
                    <td colspan="3" class="sub-heading">Requests Undergoing Phoenix Completion: </td>
                    <td colspan="2">${res[0].num_indv_pc}</td>
                </tr>`
                        var total_indv_sub =
                            `<tr>
                    <td colspan="3" class="sub-heading">Submitted Requests: </td>
                    <td colspan="2">${res[0].num_indv_sub}</td>
                </tr>`
                        var total_corp =
                            `<tr>
                    <td colspan="3">Total Corporate Service Requests: </td>
                    <td colspan="2">${res[0].num_corp_requests}</td>
                </tr>`
                        var total_corp_pend = `<tr>
                    <td colspan="3" class="sub-heading">Pending Requests: </td>
                    <td colspan="2">${res[0].num_corp_pend}</td>
                </tr>`
                        var total_corp_await =
                            `<tr>
                    <td colspan="3" class="sub-heading">Requests Awaiting Client Information: </td>
                    <td colspan="2">${res[0].num_corp_await}</td>
                </tr>`
                        var total_corp_fp =
                            `<tr>
                    <td colspan="3" class="sub-heading">Requests Undergoing First Pass: </td>
                    <td colspan="2">${res[0].num_corp_fp}</td>
                </tr>`
                        var total_corp_cc =
                            `<tr>
                    <td colspan="3" class="sub-heading">Requests Undergoing Conflict Check: </td>
                    <td colspan="2">${res[0].num_corp_cc}</td>
                </tr>`
                        var total_corp_fc =
                            `<tr>
                    <td colspan="3" class="sub-heading">Requests Undergoing Phoenix Completion: </td>
                    <td colspan="2">${res[0].num_corp_pc}</td>
                </tr>`
                        var total_corp_sub =
                            `<tr>
                    <td colspan="3" class="sub-heading">Submitted Requests: </td>
                    <td colspan="2">${res[0].num_corp_sub}</td>
                </tr>`

                        //display summary statistics
                        if (status == 'all') {
                            $('#statistics').html(total_indv + total_indv_pend + total_indv_await + total_indv_fp
                                + total_indv_cc + total_indv_fc + total_indv_sub + total_corp + total_corp_pend + total_corp_await + total_corp_fp
                                + total_corp_cc + total_corp_fc + total_corp_sub)
                        }
                        else if (status == 'pending') {
                            $('#statistics').html(total_indv_pend + total_corp_pend)
                        }
                        else if (status == 'requesting_client_information') {
                            $('#statistics').html(total_indv_await + total_corp_await)
                        }
                        else if (status == 'first_pass') {
                            $('#statistics').html(total_indv_fp + total_corp_fp)
                        }
                        else if (status == 'conflict_check') {
                            $('#statistics').html(total_indv_cc + total_corp_cc)
                        }
                        else if (status == 'phoenix_completion') {
                            $('#statistics').html(total_indv_fc + total_corp_fc)
                        }
                        else if (status == 'submitted') {
                            $('#statistics').html(total_indv_sub + total_corp_sub)
                        }

                        //display details
                        details =
                            `<table class="table">
                        <td colspan="5" class="reqcaption">Individual Requests</td colspan="5">
                        <thead>
                            <th colspan="2">Client Name</th>
                            <th>Email</th>
                            <th>Request</th>
                            <th>Status</th>
                        </thead>
                        <tbody>`

                        res[0].indv_request_data.forEach(request => {
                            details +=
                                `<tr>
                                <td colspan="2" class="sub-heading t-row">${request.firstname} ${request.lastname}</td>
                                <td class="sub-heading t-row">${request.email}</td>
                                <td class="sub-heading t-row">${request.service}</td>
                                <td class="sub-heading t-row">${request.status}</td>
                            </tr>` });

                        details +=
                            `</tbody>
                    </table>
                    <table class="table">
                                    <td colspan="5" class="reqcaption">Corporate Requests</td colspan="5">
                        <thead>
                            <th colspan="2">Company Name</th>
                            <th>Email</th>
                            <th>Request</th>
                            <th>Status</th>
                        </thead>
                        <tbody>`

                        res[0].corp_request_data.forEach(request => {
                            details +=
                                `<tr>
                                <td colspan="2" class="sub-heading t-row">${request.company_name}</td>
                                <td class="sub-heading t-row">${request.company_email}</td>
                                <td class="sub-heading t-row">${request.service}</td>
                                <td class="sub-heading t-row">${request.status}</td>
                            </tr>` });

                        details +=
                            `</tbody>
                    </table>`
                    }

                    //case: report type is messages
                    else if (type == 'messages') {
                        var total_messages =
                            `<tr>
                    <td colspan="3">Total Messages: </td>
                    <td colspan="2">${res[0].num_messages}</td>
                </tr>`
                        var total_open_messages =
                            `<tr>
                    <td colspan="3" class="sub-heading">Open Messages: </td>
                    <td colspan="2">${res[0].num_open_messages}</td>
                </tr>`
                        var total_closed_messages =
                            `<tr>
                    <td colspan="3" class="sub-heading">Closed Messages: </td>
                    <td colspan="2">${res[0].num_closed_messages}</td>
                </tr>`

                        //display summary statistics
                        if (status == 'all') {
                            $('#statistics').html(total_messages + total_open_messages + total_closed_messages)
                        }
                        else if (status == 'Open') {
                            $('#statistics').html(total_open_messages)
                        }
                        else if (status == 'Closed') {
                            $('#statistics').html(total_closed_messages)
                        }

                        //display details
                        details = `<table class="table">
                        <thead>
                            <th>Sender</th>
                            <th>Company Name</th>
                            <th>Email</th>
                            <th>Job Title</th>
                            <th>Status</th>
                        </thead>
                        <tbody>`

                        res[0].message_data.forEach(message => {
                            details +=
                                `<tr>
                                <td class="sub-heading t-row">${message.firstname} ${message.lastname}</td>
                                <td class="sub-heading t-row">${message.company_name}</td>
                                <td class="sub-heading t-row">${message.email}</td>
                                <td class="sub-heading t-row">${message.job_title}</td>
                                <td class="sub-heading t-row">${message.status}</td>
                            </tr>` });

                        details +=
                            `</tbody>
                    </table>`
                    }

                    //append details to report table
                    $('#details').html(details)
                },
                error: function (error) {
                    console.log(error);
                }
            });

            event.preventDefault();
        });

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>

{% endblock %}