{% extends "new_admin_layout.html" %}

{% block content %}
<style>
    #hero {
        width: 100%;
        height: 15vh;
        background: url("../static/img/home.jpg") top center;
        background-size: cover;
        position: relative;
    }

    #hero:before {
        content: "";
        background: rgba(20, 44, 9, 0.7);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero .container {
        text-align: center;
        padding-top: 50px;
    }

    @media (max-width: 992px) {
        #hero .container {
            padding-top: 0;
        }
    }

    #hero h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
    }

    #hero h2 {
        color: #eee;
        margin: 15px 0 0 0;
        font-size: 22px;
    }

    #hero .btn-get-started {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 9px 35px;
        border-radius: 50px;
        transition: 0.5s;
        margin-top: 40px;
        border: 2px solid #ffc107;
        color: #fff;
    }

    #hero .btn-get-started:hover {
        background: #ffc107;
    }

    @media (min-width: 1024px) {
        #hero {
            background-attachment: fixed;
        }
    }

    @media (max-width: 768px) {
        #hero {
            height: 100vh;
        }

        #hero h1 {
            font-size: 28px;
            line-height: 36px;
        }

        #hero h2 {
            font-size: 18px;
            line-height: 24px;
        }
    }

    tbody:before {
        content: "@";
        display: block;
        line-height: 25px;
        text-indent: -99999px;
    }
</style>

<!--Header-->
<div class="row">
    <div class="col-12">
        <section id="hero" class="d-flex align-items-center justify-content-center">
            <div class="container position-relative">
                <h2><b style="font-size: 40px;">Reports</b></h2>
            </div>
        </section>
    </div>
</div>

<!--Body-->
<div class="row p-5 justify-content-center">
    <div class="col-12">
        <table class="table table-hover">
            <thead style="background-color: rgb(78, 110, 62);">
                <th id="report-type">
                    {{form.report_type.label(class="report_type-label new-report_type-label")}}
                    {% if form.report_type.errors %}
                    {{ form.report_type(class="form-control form-control is-invalid", cols="100", rows="1",
                    onfocus="this.rows=5;")}}
                    <div class="invalid-feedback">
                        {% for error in form.report_type.errors %}
                        <span> {{ error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.report_type(class="form-control form-control") }}
                    {% endif %}
                </th>
                <th id="report-status">
                    {{form.report_status.label(class="report_status-label new-report_status-label")}}
                    {% if form.report_status.errors %}
                    {{ form.report_status(class="form-control form-control is-invalid", cols="100", rows="1",
                    onfocus="this.rows=5;")}}
                    <div class="invalid-feedback">
                        {% for error in form.report_status.errors %}
                        <span> {{ error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.report_status(class="form-control form-control") }}
                    {% endif %}
                </th>
                <th id="report-start-date">
                    {{form.report_start_date.label(class="report_start_date-label new-report_start_date-label")}}
                    {% if form.report_start_date.errors %}
                    {{ form.report_start_date(class="form-control form-control is-invalid", cols="100", rows="1",
                    onfocus="this.rows=5;")}}
                    <div class="invalid-feedback">
                        {% for error in form.report_start_date.errors %}
                        <span> {{ error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.report_start_date(class="form-control form-control") }}
                    {% endif %}
                </th>
                <th id="report-end-date">
                    {{form.report_end_date.label(class="report_end_date-label new-report_end_date-label")}}
                    {% if form.report_end_date.errors %}
                    {{ form.report_end_date(class="form-control form-control is-invalid", cols="100", rows="1",
                    onfocus="this.rows=5;")}}
                    <div class="invalid-feedback">
                        {% for error in form.report_end_date.errors %}
                        <span> {{ error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.report_end_date(class="form-control form-control") }}
                    {% endif %}
                </th>
                <th>
                    {{form.submit(class="btn btn-success")}}
                </th>
            </thead>


            <tbody id="report">
                <tr>
                    <td colspan="3">Total Number of Clients: </td>
                    <td colspan="2">{{num_clients}}</td>
                </tr>
                <tr>
                    <td colspan="3">Total Number of Active Clients: </td>
                    <td colspan="2">{{num_active_clients}}</td>
                </tr>
                <tr>
                    <td colspan="3">Total Number of Inactive Clients: </td>
                    <td colspan="2">{{num_inactive_clients}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

{% endblock %}