{% extends "new_admin_layout.html" %}

{% block content %}
<style>
    #hero {
        width: 100%;
        height: 15vh;
        background: url("../static/img/home.jpg") top center;
        background-size: cover;
        position: relative;
    }

    #hero:before {
        content: "";
        background: rgba(20, 44, 9, 0.7);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero .container {
        text-align: center;
        padding-top: 50px;
    }

    @media (max-width: 992px) {
        #hero .container {
            padding-top: 0;
        }
    }

    #hero h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
    }

    #hero h2 {
        color: #eee;
        margin: 15px 0 0 0;
        font-size: 22px;
    }

    #hero .btn-get-started {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 9px 35px;
        border-radius: 50px;
        transition: 0.5s;
        margin-top: 40px;
        border: 2px solid #ffc107;
        color: #fff;
    }

    #hero .btn-get-started:hover {
        background: #ffc107;
    }

    @media (min-width: 1024px) {
        #hero {
            background-attachment: fixed;
        }
    }

    @media (max-width: 768px) {
        #hero {
            height: 100vh;
        }

        #hero h1 {
            font-size: 28px;
            line-height: 36px;
        }

        #hero h2 {
            font-size: 18px;
            line-height: 24px;
        }
    }

    li::before {
        content: "";
        width: 20px;
        display: inline-block;
    }

    .client-name {
        font-weight: bold;
    }

    .client-details {
        font-size: smaller;
        /* font-style: italic; */
    }

    .sub-heading {
        text-indent: 40px;
        font-size: smaller;
    }

    #help {
        text-align: center;
        font-style: italic;
        font-weight: normal;
        color: grey;
    }
</style>

<!--Header-->
<div class="row">
    <div class="col-12">
        <section id="hero" class="d-flex align-items-center justify-content-center">
            <div class="container position-relative">
                <h2><b style="font-size: 40px;">Reports</b></h2>
            </div>
        </section>
    </div>
</div>


<!--Body-->
<div class="row p-5 justify-content-center">
    <div class="col-12">
        <table class="table">
            <form id="report-form">
                <thead id="filter-header" style="background-color: rgb(78, 110, 62);">
                    <th id="report-type">
                        {{form.report_type.label(class="report_type-label new-report_type-label")}}
                        {% if form.report_type.errors %}
                        {{ form.report_type(class="form-control form-control is-invalid", cols="100", rows="1",
                        onfocus="this.rows=5;")}}
                        <div class="invalid-feedback">
                            {% for error in form.report_type.errors %}
                            <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.report_type(class="form-control form-control") }}
                        {% endif %}
                    </th>
                    <th id="report-status">
                        {{form.report_status.label(class="report_status-label new-report_status-label")}}
                        {% if form.report_status.errors %}
                        {{ form.report_status(class="form-control form-control is-invalid", cols="100", rows="1",
                        onfocus="this.rows=5;")}}
                        <div class="invalid-feedback">
                            {% for error in form.report_status.errors %}
                            <span> {{ error}}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.report_status(class="form-control form-control") }}
                        {% endif %}
                    </th>
                    <th>
                        <label for="report_start_date">Start Date</label>
                        <input type="date" class="form-control" id="report_start_date" />
                    </th>
                    <th>
                        <label for="report_end_date">End Date</label>
                        <input type="date" class="form-control" id="report_end_date" />
                    </th>
                    <th>
                        {{form.submit(class="btn btn-light")}}
                    </th>
                </thead>
            </form>

            <thead>
                <th id="help" colspan="5">Select filters and click 'View Report' to generate reports.</th>
            </thead>

            <thead>
                <th colspan="5">Summary</th>
            </thead>
            <tbody id="statistics">
            </tbody>

            <thead>
                <th colspan="5">Details</th>
            </thead>
            <tbody id="details">
            </tbody>
        </table>

    </div>
</div>

<script>
    //dynamically change status based on report type selection
    $(document).ready(function(){
        $('#report_type').change(function(){
            var type = $(this).val()
            if (type == 'clients') {
                $('#report_status').html(
                    `
                    <option value="all">All</option>       
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>   `
                )
            } else if (type == 'service_requests'){
                $('#report_status').html(
                    `
                    <option value="all">All</option>       
                    <option value="pending">Pending</option>
                    <option value="awaiting">Awaiting Client Information</option>
                    <option value="first_pass">First Pass</option>
                    <option value="conflict_check">Conflict Check</option>
                    <option value="finish_completion">Finish Completion</option>
                    <option value="submitted">Submitted For Approval</option>   `
                )
            } else if (type == 'messages'){
                console.log("type changed to messages")
                $('#report_status').html(
                    `   <option value="all">All</option>       
                        <option value="open">Open</option>
                        <option value="closed">Closed</option>
                    `
                )
            }
        })
    })
</script>

<script>
    //generate report based on filters selected
    $(document).ready(function () {
        $("#report-form").on("submit", function () {
            $('#help').empty()
            $('#details').empty()

            var type = $('#report_type').val()
            var status = $('#report_status').val()
            var start_date = $('#report_start_date').val()
            var end_date = $('#report_end_date').val()

            var statistics, details;

            $.ajax({
                url: '/view_reports/generate_report',
                data: {
                    type: type,
                    status: status,
                    start_date: start_date,
                    end_date: end_date
                },
                type: 'POST',
                success: function (res) {
                    // Case: Report type is 'clients'
                    if (type == 'clients') {
                        // For all clients
                        if (status == 'all') {
                            statistics =
                                `<tr>
                    <td colspan="3">Total Clients: </td>
                    <td colspan="2">{{num_clients}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="sub-heading">Active Clients: </td>
                    <td colspan="2">{{num_active_clients}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="sub-heading">Inactive Clients: </td>
                    <td colspan="2">{{num_inactive_clients}}</td>
                </tr>`
                            details =
                                ` <tr>
                    <td colspan="2">Active Clients</td>
                    <td colspan="3">
                        <ol>
                            {% for client in active_clients %}
                            <li><span class="client-name">{{client.company_name}}</span>
                                <p class="client-details">Company Type: {{client.company_type}}</p>
                                <p class="client-details">Sector: {{client.sector_id}}</p>
                                <p class="client-details">Industry: {{client.industry_id}}</p>
                                <p class="client-details">Area of Operation: {{client.area_id}}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Inactive Clients</td>
                    <td colspan="3">
                        <ol>
                            {% for client in inactive_clients %}
                            <li><span class="client-name">{{client.company_name}}</span>
                                <p class="client-details">Company Type: {{client.company_type}}</p>
                                <p class="client-details">Sector: {{client.sector_id}}</p>
                                <p class="client-details">Industry: {{client.industry_id}}</p>
                                <p class="client-details">Area of Operation: {{client.area_id}}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>`
                        }
                        // For active clients
                        else if (status == 'active') {
                            console.log("type is clients and status is active")
                            statistics =
                                `<tr>
                    <td colspan="3">Total Active Clients: </td>
                    <td colspan="2">{{num_active_clients}}</td>
                </tr>`
                            // For inactive clients
                        }
                        else if (status == 'inactive') {
                            statistics =
                                `<tr>
                    <td colspan="3">Total Inactive Clients: </td>
                    <td colspan="2">{{num_inactive_clients}}</td>
                </tr>`
                        }

                    }

                    // Case: Report type is 'service requests'
                    else if (type == 'service_requests') {
                        // For all service requests
                        if (status == 'all') {
                            console.log("type is service requests and status is all")
                            statistics =
                                `<tr>
                    <td colspan="3">Total Service Requests: </td>
                    <td colspan="2">{{num_requests}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="sub-heading">Pending Requests: </td>
                    <td colspan="2">{{num_pending_requests}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="sub-heading">Requests Awaiting Client Information: </td>
                    <td colspan="2">{{num_awaiting_requests}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="sub-heading">Requests Undergoing First Pass: </td>
                    <td colspan="2">{{num_first_pass_requests}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="sub-heading">Requests Undergoing Conflict Check: </td>
                    <td colspan="2">{{num_conflict_check_requests}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="sub-heading">Requests Undergoing Finish Completion: </td>
                    <td colspan="2">{{num_finish_completion_requests}}</td>
                </tr>
                <tr>
                    <td colspan="3" class="sub-heading">Submitted Requests: </td>
                    <td colspan="2">{{num_submitted_requests}}</td>
                </tr>`
                        }
                        // For pending requests
                        else if (status == 'pending') {
                            statistics =
                                `<tr>
                    <td colspan="3">Total Pending Requests: </td>
                    <td colspan="2">{{num_pending_requests}}</td>
                </tr>`
                        }
                        // For awaiting client info requests
                        else if (status == 'awaiting') {
                            statistics =
                                ` <tr>
                    <td colspan="3">Total Requests Awaiting Client Information: </td>
                    <td colspan="2">{{num_awaiting_requests}}</td>
                </tr>`
                        }
                        // For first pass requests
                        else if (status == 'first_pass') {
                            statistics =
                                ` <tr>
                    <td colspan="3">Total Requests Undergoing First Pass: </td>
                    <td colspan="2">{{num_first_pass_requests}}</td>
                </tr>`
                        }
                        // For conflict check requests
                        else if (status == 'conflict_check') {
                            statistics =
                                ` <tr>
                    <td colspan="3">Total Requests Undergoing Conflict Check: </td>
                    <td colspan="2">{{num_conflict_check_requests}}</td>
                </tr>`
                        }
                        // For finish completion requests
                        else if (status == 'finish_completion') {
                            statistics =
                                ` <tr>
                    <td colspan="3">Total Requests Undergoing Finish Completion: </td>
                    <td colspan="2">{{num_finish_completion_requests}}</td>
                </tr>`
                        }
                        // For submitted requests
                        else if (status == 'submitted') {
                            statistics =
                                ` <tr>
                    <td colspan="3">Total Submitted Requests: </td>
                    <td colspan="2">{{num_submitted_requests}}</td>
                </tr>`
                        }

                    } 

                    // Case: Report type is 'messages'
                    else if (type == 'messages') {

                    }

                    $('#statistics').html(statistics)
                    $('#details').html(details)
                },
                error: function (error) {
                    console.log(error);
                }
            });

            event.preventDefault();
        });

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>

{% endblock %}