{% extends "layout.html" %}

{% block header %} 
Update Password
{% endblock header %}
{% block content %}

<div class="container">
    <div class="row">
      


        
      

     

        <div class="col-12">
            <div class="form-group">
                <label>Current Password</label>
                <input class="form-control" type="password" name="firstname"/>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label>New Password</label>
                <input class="form-control" type="password" name="firstname"/>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label>Confirm New Password</label>
                <input class="form-control" type="password" name="firstname"/>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-12 text-center">
            <span class="btn btn-outline-success">Submit</span>
        </div>
    </div>
</div>
 
{% endblock content %}