{% extends "layout.html" %}

{% block header %} 
Update Contact Person
{% endblock header %}
{% block content %}

<div class="container">
    <div class="row">
      


        
      

     

        <div class="col-12">
            <div class="form-group">
                <label>Client Name</label>
                <input class="form-control" type="text" name="firstname" readonly/>
            </div>
        </div>

        <div class="col-2">
            <div class="form-group">
                <label>Firstname</label>
                <input class="form-control" type="text" name="firstname"/>
            </div>
        </div>

        <div class="col-5">
            <div class="form-group">
                <label> Middlename</label>
                <input class="form-control" type="text" name="firstname"/>
            </div>
        </div>


        <div class="col-5">
            <div class="form-group">
                <label> Lastname</label>
                <input class="form-control" type="text" name="firstname"/>
            </div>
        </div>


        <div class="col-5">
            <div class="form-group">
                <label> Date of Birth</label>
                <input class="form-control" type="text" name="firstname"/>
            </div>
        </div>  


        <div class="col-2">
            <div class="form-group">
                <label> Job Title</label>
                <input class="form-control" type="text" name="firstname"/>
            </div>
        </div>

        <div class="col-5">
            <div class="form-group">
                <label> Email Address</label>
                <input class="form-control" type="text" name="firstname"/>
            </div>
        </div>


        <div class="col-5">
            <div class="form-group">
                <label>Contact Phone Number</label>
                <input class="form-control" type="text" name="firstname"/>
            </div>
        </div>


       

   

    </div>
    <div class="row">
        <div class="col-12 text-center">
            <span class="btn btn-outline-success">Submit</span>
        </div>
    </div>
</div>
 
{% endblock content %}