{% extends "layout.html" %}

{% block header %} 
Survey Title 1
{% endblock header %}
{% block content %}
<div class="col text-center">
    <p>Welcome to Survey 1. The survey is grouped into Qualitative and Quantitavive sections. Please click on the links below to complete each section </p>
</div>
<br>
<div class="row">
    <div class="col-lg-6 col-md-12 text-center">
        <center>
            <div class="survey-area">
                <a href="{{  url_for('users.quantitative_overview')}}">
                    <img src="{{ url_for('static', filename='img/quantitative.png')}}" alt="Quantitative Survey" class="survey-area-image"/>
                    <div class="fadedbox">
                      <div class="title text"> The quantitative data description comes here </div>
                    </div>
                </a>
              </div>
              <div class="survey-area-foot">
                  Quantitative Survey
              </div>
        </center>
    </div>
    
        <div class="col-lg-6 col-md-12 text-center">
            <center>
            <div class="survey-area">

                <a href="{{  url_for('users.qualitative_overview')}}">
                    <img src="{{ url_for('static', filename='img/qualitative.png')}}" alt="Qualitative Survey" class="survey-area-image"/>
                    <div class="fadedbox">
                      <div class="title text"> The qualitative data description comes here </div>
                    </div>
                </a>
              </div>
              <div class="survey-area-foot">
                Qualitative Survey
            </div>
            </center>
        </div>
   
</div>
<br><br>
<div class="col text-center mt-4"><button class="btn btn-primary" data-toggle="modal" data-target="#instruction">Instructions</button></div>

 <!-- survey instruction modal -->
 <div class="modal" id="instruction" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Survey Instructions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>
                <b>Welcome to the Deloitte Salary Survey </b><br>
                This survey is tailored at helping organizations gain an understand of compensations paid to employees.
                This survey entails the following 2 sections:                                                         
                  <ul>
                      <li>
                          Quantitative Survey where jobs in your organization would be matched against the benchmark jobs  
                      </li>
                      <li>
                          Quanlitative Survey which collects information about employee practices and policies
                      </li>
                  </ul>
            </p>
        </div>
        <div class="modal-footer">
        
        </div>
      </div>
    </div>
  </div>

 
<script type="text/javascript">
//show survey instruction on page load
    $(window).on('load',function(){

        $('#instruction').modal('show');
    });
</script>
{% endblock content %}